<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="footer">

    <div class="footer_left">
      <img id="footerLogImg" src="/static_Image/common/main/log_white.png">
    </div>

    <div class="footer_right">
        <div class="footer_right_top">
            <ul>
                <li id="footerBtn1">이용약관</li>
                <li id="footerBtn2">개인정보처리방침</li>
                <li id="footerBtn3">안전보상프로그램</li>
                <li id="footerBtn4">자주하는질문</li>
            </ul>
        </div>
        <div class="footer_right_bottom">
            주식회사 펫밀리 대표 : 홍길동 | 사업자등록번호 : 222-88-12345 | 통신판매업 신고 2023-서울종로-1111 <br>
            전화 : 02-1234-5678 | 팩스 : 02-1234-5678 | 주소 : 03163 서울 종로구 인사동길 12 대일빌딩 20층 <br>
            개인정보보호책임자 : 댕댕이(dang@petmily .com) <br>
            Copyright © 펫밀리 All rights reserved.
        </div>
    </div>

</div>

<script type="text/javascript" src="/js/common/headerFooter.js"></script>

</html>