<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div class="header">
    
        <h1 align="center">This is Header</h1>
        
        <div align="right">
        
                <div>
                    <input type="button" value="로그인" id="login">
                </div>

                <div>
                    <h3>님의 방문을 환영합니다.</h3>
                    <div>
                        <input type="button" value="정보수정" id="updateMember">
                        <input type="button" value="로그아웃" id="logout">
                    </div>
                </div>
        </div>
    </div>



</html>

