<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>HI-PETMILY</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static_Image/common/main/favicon.ico">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/css/main/mainPage.css"/>
    <link rel="stylesheet" href="/css/common/headerFooter.css"/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script defer type="text/javascript" src="/js/main/mainPage.js"></script>

</head>

<body>
    <!-- common header -->
    <div th:replace="common/header_black.html"></div>

    <div class="slide slide_wrap">
        <div class="slide_banner banner1">
            <img src="/static_Image/common/main/banner1.png" alt="메인배너1">
        </div>
        <div class="slide_banner banner2">
            <img src="/static_Image/common/main/banner2.png" alt="메인배너2">
        </div>
        <div class="slide_banner banner3">
            <img src="/static_Image/common/main/banner3.png" alt="메인배너3">
        </div>
        <div class="slide_prev_button slide_button"><</div>
        <div class="slide_next_button slide_button">></div>
        <ul class="slide_pagination"></ul>
    </div>

    <div class="container">
        <div class="container_item item1">
            <div class="container_item_img">
                <img src="/static_Image/common/main/mainImage1.png" alt="서브이미지1">
            </div>
            <div class="container_item_text">
                <div class="item_text_title" >펫시터 찾기</div>
                <div class="item_text_detail">
                    좁고 답답한 장소가 아닌 가정집에서<br>
                    편안한 맞춤형 돌봄을 경험하세요.
                </div>
                <div id="detail_button_search" class="detail_button">자세히 보기 →</div>
            </div>
        </div>
        <div class="container_item item2">
            <div class="container_item_text">
                <div class="item_text_title">펫시터 지원</div>
                <div class="item_text_detail">
                    펫밀리로 등록하시고<br>
                    마음을 나누세요!
                </div>
                <th:block sec:authorize="isAnonymous()">
                    <div id="detail_button_apply1" class="detail_button">자세히 보기 →</div>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <div id="detail_button_apply2" class="detail_button">자세히 보기 →</div>
                </th:block>
            </div>
            <div class="container_item_img">
                <img src="/static_Image/common/main/mainImage2.png" alt="서브이미지2">
            </div>
        </div>
        <div class="container_item item3">
            <div class="container_item_img">
                <img src="/static_Image/common/main/mainImage3.png" alt="서브이미지3">
            </div>
            <div class="container_item_text">
                <div class="item_text_title">이용 프로세스</div>
                <div class="item_text_detail">
                    우리 아이에게 최적화 된<br>
                    펫밀리 서비스를 만나보세요.
                </div>
                <div id="detail_button_terms" class="detail_button">자세히 보기 →</div>
            </div>
        </div>

        <div class="container_item item4 flex_column">
            <div class="container_item_title item_text_title">EASY TO USE</div>
            <div class="container_item_img2">
                <img src="/static_Image/common/main/easytouse.png" alt="ETU이미지">
            </div>
        </div>

        <div class="container_item item5 flex_column">
            <div class="container_item_title item_text_title">펫밀리 후기</div>
            <div class="container_item_review">

                <th:block th:if="${ !reviewList.isEmpty() }">
                    <div class="review_item" th:each="index : ${ #numbers.sequence(0, 2) }">
                        <div class="review_item_img">
                            <img th:src="'/static_Image/common/main/mainReview' + ${index} +'.jpg'" alt="반려견사진1">
                        </div>
                        <div class="review_item_title">
                            <div class="review_item_name"><span th:text="${ reviewList.get(index).getMember().getNickName()} + ' '"></span>님</div>
                            <div class="review_star_img">
                                <img th:each="index : ${ #numbers.sequence(1, reviewList.get(index).revScore) }" src="/static_Image/petSitter/star_1.png" alt="후기별">
                            </div>
                        </div>
                        <p class="review_item_content" th:text="${ reviewList.get(index).getRevContent() }"></p>
                        <div class="review_item_btnDiv">
                            <div class="review_all_btn">
                                <a th:href="'/petSitterNew/petSitterProfile?petMemberNo=' + ${ reviewList.get(index).getPetMemberNo()} + '#reviewPoint'">자세히 보기 ></a>
                            </div>
                        </div>
                    </div>
                </th:block>

            </div>
            <!-- 사용 할지 안할지 모르겟음 -->
            <div id="review_detail_button" class="detail_button">+ 후기 더보기</div>
        </div>

    </div>

    <!-- common footer -->
    <div th:replace="common/footer.html"></div>

</body>
</html>