<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HI-PETMILY</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static_Image/common/favicon.png">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/css/main/main.css" />
    <link rel="stylesheet" href="/css/common/headerFooter.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        // const message = '[[${message}]]';
        // message && alert(message);
    </script>

</head>
<body>
<!-- common header -->
<div th:replace="common/header.html"></div>

<h1 align="center">Main Page</h1>


<!-- common footer -->
<div th:replace="common/footer.html"></div>

</body>
</html>