<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypet.petmily.admin.member.dao.AdminMapper">

    <resultMap type="com.mypet.petmily.member.dto.MemberDTO" id="generalMemberResultMap">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="memberStat" column="MEMBER_STAT"/>
        <result property="registDate" column="REGIST_DATE"/>
        <collection property="memberCode" resultMap="authorityResultMap"/>
    </resultMap>

    <resultMap type="com.mypet.petmily.member.dto.AuthorityDTO" id="authorityResultMap">
        <id property="code" column="AUTHORITY_CODE"/>
        <result property="name" column="AUTHORITY_NAME"/>
        <result property="desc" column="AUTHORITY_DESC"/>
    </resultMap>

<!--     회원 목록 조회 + 검색 연동 쿼리-->
    <select id="selectMemberList" resultMap="generalMemberResultMap">
        <!-- 회원 데이터를 검색하는 쿼리 -->
        SELECT A.MEMBER_NO
             , A.MEMBER_ID
             , A.MEMBER_NAME
             , B.AUTHORITY_CODE
             , A.MEMBER_STAT
             , A.REGIST_DATE
        FROM (
        <!-- 서브 쿼리: 페이징을 위한 ROWNUM 적용 -->
        SELECT
        ROWNUM RNUM
        , B.MEMBER_NO
        , B.MEMBER_ID
        , B.MEMBER_NAME
        , B.MEMBER_STAT
        , B.REGIST_DATE
        FROM (
        <!-- 회원 데이터를 가져오는 쿼리 -->SELECT
        C.
        MEMBER_NO
        , C.MEMBER_ID
        , C.MEMBER_NAME
        , C.MEMBER_STAT
        , C.REGIST_DATE
        FROM TBL_MEMBER C
        <!-- 동적으로 생성되는 WHERE 절 -->
        <where>
            <!-- "searchValue"가 비어있지 않은 상태를 확인한 후 검색 조건을 적용 -->
            <if test="searchValue != null and searchValue != ''">
                <if test="searchCondition == 'memberNo'and searchValue.matches('[0-9]+')">
                    MEMBER_NO = #{searchValue}
                </if>
                <if test="searchCondition == 'memberName' and searchValue.matches('^[가-힣a-zA-Z]+$')">
                    MEMBER_NAME = #{searchValue}
                </if>
                <if test="searchCondition == 'memberId' and searchValue.matches('^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$')">
                    MEMBER_ID = #{searchValue}
                </if>
            </if>
        </where>
        ORDER BY C.MEMBER_NO DESC
        )B
        <![CDATA[
            WHERE ROWNUM <= #{ endRow }
        ]]>
        )A
        <!-- 최종 결과에 대한 조인 -->
        JOIN TBL_ROLE B ON (A.MEMBER_NO = B.MEMBER_NO)
        WHERE A.RNUM >= #{ startRow }
        ORDER BY 1 DESC
    </select>

    <!-- 검색에 따른 해당 목록 조회 + 전체 회원 수 가져오는 조건쿼리 -->
    <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT COUNT(*) AS totalCount
        FROM TBL_MEMBER C
        <where>
            <!-- "searchValue"가 비어있지 않은 상태를 확인한 후 검색 조건을 적용 -->
            <if test="searchValue != null and searchValue != ''">
                <if test="searchCondition == 'memberNo'and searchValue.matches('[0-9]+')">
                    MEMBER_NO = #{searchValue}
                </if>
                <if test="searchCondition == 'memberName' and searchValue.matches('^[가-힣a-zA-Z]+$')">
                    MEMBER_NAME = #{searchValue}
                </if>
                <if test="searchCondition == 'memberId' and searchValue.matches('^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$')">
                    MEMBER_ID = #{searchValue}
                </if>
            </if>
        </where>
    </select>


</mapper>
