<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.mypet.petmily.board.dao.BoardMapper">

    <!--검색 조건 쿼리 > 공통으로 한번 정의하면 where조건에 임포트형식으로 사용할 수 있음. -->
    <sql id="schSql">
        <where>

            BOARD_SORT = #{boardSort} AND BOARD_STAT = 'Y'

            <if test=" searchType != null and searchType != '' ">
                <if test="searchType == 'title' ">
                    AND A.BOARD_NAME LIKE '%' ||  #{searchTxt} || '%'
                </if>
                <if test="searchType == 'content' ">
                    AND A.BOARD_DETAIL LIKE '%' ||  #{searchTxt} || '%'
                </if>
            </if>
        </where>
    </sql>

    <!--게시판 목록조회 -->
    <select id="selectBoardList" resultType="com.mypet.petmily.board.dto.BoardDTO">
        SELECT * FROM
        (
        SELECT ROW_.*, ROWNUM AS RNUM FROM
        (
        SELECT
        BOARD_NO
        , BOARD_NAME
        , BOARD_DETAIL
        , TO_CHAR(TO_DATE(BOARD_REGIST_DATE, 'YYYYMMDD'), 'YYYY-MM-DD') AS BOARD_REGIST_DATE
        , BOARD_VIEWS
        , TO_CHAR(TO_DATE(BOARD_REVISE_DATE, 'YYYYMMDD'), 'YYYY-MM-DD') AS BOARD_REVISE_DATE
        , BOARD_STAT
        , TO_CHAR(TO_DATE(BOARD_DELETE_DATE, 'YYYYMMDD'), 'YYYY-MM-DD') AS BOARD_DELETE_DATE
        , BOARD_SORT
        , BOARD_SECRET
        , MEMBER_NO
        , CATEGORY_CODE
        /* 스칼라서브쿼리를 이용한 INNER JOIN */
        , ( SELECT CATEGORY_NAME FROM TBL_BOARD_CATEGORY B WHERE A.CATEGORY_CODE = B.CATEGORY_CODE) AS CATEGORY_NAME
        , REF_BOARD_NO
        FROM
        TBL_BOARD A	/*게시판 테이블*/
        <include refid="schSql" />
        <![CDATA[
				ORDER BY BOARD_NO DESC
	 		 ) ROW_
		)
		WHERE RNUM > ${startIndex}
		AND ROWNUM <= ${row}
		]]>
    </select>

    <!-- 페이징 적용 게시판 총 카운트 -->
    <select id="selectBoardCnt" parameterType="com.mypet.petmily.board.dto.BoardDTO" resultType="Integer">
        SELECT
        COUNT(*) AS CNT
        FROM TBL_BOARD A /*게시판 테이블*/
        <include refid="schSql" />
    </select>

</mapper>