<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypet.petmily.fileUpload.dao.FileUploadMapper">

    <!-- fileUpload resultMap 관련 -->
    <resultMap id="fileUploadResultMap" type="com.mypet.petmily.fileUpload.dto.FileUploadDTO">
        <id property="fileNo" column="FILE_NO"/>
        <result property="fileOriName" column="FILE_ORI_NAME"/>
        <result property="fileSaveName" column="FILE_SAVE_NAME"/>
        <result property="fileExtName" column="FILE_EXT_NAME"/>
        <result property="filePathName" column="FILE_PATH_NAME"/>
        <result property="file_T_PathName" column="FILE_T_PATH_NAME"/>
        <result property="fileType" column="FILE_TYPE"/>
        <result property="filePetNo" column="PET_NO"/>
        <result property="fileBoardNo" column="BOARD_NO"/>
        <result property="fileRevNo" column="REV_NO"/>
        <result property="fileMemberNo" column="MEMBER_NO"/>
        <result property="fileSitterNo" column="PET_MEMBER_NO"/>
    </resultMap>
    <!-- fileUpload resultMap 관련 -->

    <!-- Sitter Add Img 관련 -->
    <insert id="petSitterAddImage">
        INSERT INTO TBL_FILE(
            FILE_NO
            ,FILE_ORI_NAME
            ,FILE_SAVE_NAME
            ,FILE_EXT_NAME
            ,FILE_PATH_NAME
            ,FILE_T_PATH_NAME
            ,FILE_TYPE
            ,PET_NO
            ,BOARD_NO
            ,REV_NO
            ,MEMBER_NO
            ,PET_MEMBER_NO
        ) VALUES (
            SEQ_TBL_FILE_NO.NEXTVAL
            , #{ regFileUpload.fileOriName }
            , #{ regFileUpload.fileSaveName }
            , #{ regFileUpload.fileExtName }
            , #{ regFileUpload.filePathName }
            , #{ regFileUpload.file_T_PathName, jdbcType=VARCHAR }
            , #{ regFileUpload.fileType }
            , #{ regFileUpload.filePetNo }
            , #{ regFileUpload.fileBoardNo }
            , #{ regFileUpload.fileRevNo }
            , #{ regFileUpload.fileMemberNo }
            , #{ regFileUpload.fileSitterNo }
        )
    </insert>

    <!-- Sitter Select Img 관련 -->
    <select id="selectSitterImg" parameterType="com.mypet.petmily.petSitterNew.dto.NewPetSitterDTO" resultMap="fileUploadResultMap">
        SELECT
            FILE_NO
            , FILE_ORI_NAME
            , FILE_SAVE_NAME
            , FILE_EXT_NAME
            , FILE_PATH_NAME
            , FILE_T_PATH_NAME
            , FILE_TYPE
            , PET_NO
            , BOARD_NO
            , REV_NO
            , MEMBER_NO
            , PET_MEMBER_NO
        FROM TBL_FILE
        WHERE PET_MEMBER_NO = #{ petMemberNo }
    </select>

    <insert id="insertMemberImg">
        INSERT INTO TBL_FILE(
        FILE_NO
        ,FILE_ORI_NAME
        ,FILE_SAVE_NAME
        ,FILE_EXT_NAME
        ,FILE_PATH_NAME
        ,FILE_T_PATH_NAME
        ,FILE_TYPE
        ,PET_NO
        ,BOARD_NO
        ,REV_NO
        ,MEMBER_NO
        ,PET_MEMBER_NO
        ) VALUES (
        SEQ_TBL_FILE_NO.NEXTVAL
        , #{ regFileUpload.fileOriName }
        , #{ regFileUpload.fileSaveName }
        , #{ regFileUpload.fileExtName }
        , #{ regFileUpload.filePathName }
        , #{ regFileUpload.file_T_PathName, jdbcType=VARCHAR }
        , #{ regFileUpload.fileType }
        , #{ regFileUpload.filePetNo }
        , #{ regFileUpload.fileBoardNo }
        , #{ regFileUpload.fileRevNo }
        , #{ regFileUpload.fileMemberNo }
        , #{ regFileUpload.fileSitterNo }
        )
    </insert>

    <!-- 반려동물 프로필 이미지 등록 -->
    <insert id="insertAttachment">
        INSERT INTO TBL_FILE(
        FILE_NO
        ,FILE_ORI_NAME
        ,FILE_SAVE_NAME
        ,FILE_EXT_NAME
        ,FILE_PATH_NAME
        ,FILE_T_PATH_NAME
        ,FILE_TYPE
        ,PET_NO
        ,BOARD_NO
        ,REV_NO
        ,MEMBER_NO
        ,PET_MEMBER_NO
        ) VALUES (
        SEQ_TBL_FILE_NO.NEXTVAL
        , #{ fileOriName }
        , #{ fileSaveName }
        , #{ fileExtName }
        , #{ filePathName }
        , #{ file_T_PathName, jdbcType=VARCHAR }
        , #{ fileType }
        , SEQ_TBL_MYPET_NO.CURRVAL
        , #{ fileBoardNo }
        , #{ fileRevNo }
        , #{ fileMemberNo }
        , #{ fileSitterNo }
        )
    </insert>

    <!-- 반려동물 프로필 이미지 조회 -->
    <select id="petProfileImg" resultMap="fileUploadResultMap">
        SELECT
        FILE_NO
        , FILE_ORI_NAME
        , FILE_SAVE_NAME
        , FILE_EXT_NAME
        , FILE_PATH_NAME
        , FILE_T_PATH_NAME
        , FILE_TYPE
        , PET_NO
        , BOARD_NO
        , REV_NO
        , MEMBER_NO
        , PET_MEMBER_NO
        FROM TBL_FILE
        WHERE PET_NO = #{ petCode }
    </select>


</mapper>