<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypet.petmily.main.dao.MainMapper">

    <!-- review resultMap 관련 -->
    <resultMap id="reviewResultMap" type="com.mypet.petmily.petSitterNew.dto.SitterReviewDTO">
        <id property="revCode" column="REV_CODE"/>
        <result property="revScore" column="REV_SCORE"/>
        <result property="revContent" column="REV_CONTENT"/>
        <result property="revCreatedDate" column="REV_CREATED_DATE"/>
        <result property="revModifyDate" column="REV_MODIFY_DATE"/>
        <result property="revStatus" column="REV_STATUS"/>
        <result property="resCode" column="RESERV_CODE"/>
        <result property="petMemberNo" column="PET_MEMBER_NO"/>

        <association property="member" resultMap="memberResultMap"/>
    </resultMap>

    <resultMap id="memberResultMap" type="com.mypet.petmily.member.dto.MemberDTO">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="nickName" column="NICKNAME"/>
    </resultMap>
    <!-- review resultMap 관련 -->

    <select id="selectAllReviews" resultMap="reviewResultMap">
        SELECT
            A.REV_CODE
             , A.REV_SCORE
             , A.REV_CONTENT
             , A.REV_CREATED_DATE
             , A.REV_MODIFY_DATE
             , A.REV_STATUS
             , A.PET_MEMBER_NO
             , A.RESERV_CODE
             , B.NICKNAME
        FROM TBL_REVIEW A
                 LEFT JOIN TBL_MEMBER B ON (A.MEMBER_NO = B.MEMBER_NO)
        WHERE A.REV_STATUS = 'Y'
        ORDER BY 4 desc
    </select>


</mapper>