<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypet.petmily.member.dao.MemberMapper">

    <resultMap id="memberResultMap" type="com.mypet.petmily.member.dto.MemberDTO">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberPwd" column="MEMBER_PWD"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="phone" column="PHONE"/>
        <result property="postNo" column="POST_NO"/>
        <result property="address" column="ADDRESS"/>
        <result property="address2" column="ADDRESS2"/>
        <result property="point" column="POINT"/>
        <result property="gender" column="GENDER"/>
        <result property="memberStat" column="MEMBER_STAT"/>
        <result property="warningCount" column="WARNING_COUNT"/>
        <result property="memberStatDate" column="MEMBER_STAT_DATE"/>
        <result property="sighupPathCode" column="SIGNUP_PATH_CODE"/>
        <collection property="memberRoleList" resultMap="memberRoleResultMap"/>
    </resultMap>

    <resultMap id="memberRoleResultMap" type="com.mypet.petmily.member.dto.MemberRoleDTO">
        <id property="memberNo" column="REF_MEMBER_NO"/>
        <id property="authorityCode" column="REF_AUTHORITY_CODE"/>
        <association property="authority" resultMap="authorityResultMap"/>
    </resultMap>

    <resultMap id="authorityResultMap" type="com.mypet.petmily.member.dto.AuthorityDTO">
        <id property="code" column="REF_AUTHORITY_CODE2"/>
        <result property="name" column="AUTHORITY_NAME"/>
        <result property="desc" column="AUTHORITY_DESC"/>
    </resultMap>

    <select id="findMemberById" resultMap="memberResultMap">
        SELECT
               A.MEMBER_NO
             , A.MEMBER_ID
             , A.MEMBER_PWD
             , A.MEMBER_NAME
             , A.NICKNAME
             , A.PHONE
             , A.GENDER
             , A.POST_NO
             , A.ADDRESS
             , A.ADDRESS2
             , A.POINT
             , A.MEMBER_STAT
             , A.MEMBER_STAT_DATE
             , A.WARNING_COUNT
             , A.SIGNUP_PATH_CODE
             , B.MEMBER_NO REF_MEMBER_NO
             , B.AUTHORITY_CODE REF_AUTHORITY_CODE
             , C.AUTHORITY_CODE REF_AUTHORITY_CODE2
             , C.AUTHORITY_NAME
             , C.AUTHORITY_DESC
          FROM TBL_MEMBER A
          LEFT JOIN TBL_ROLE B ON(A.MEMBER_NO = B.MEMBER_NO)
          LEFT JOIN TBL_AUTHORITY C ON(B.AUTHORITY_CODE = C.AUTHORITY_CODE)
         WHERE A.MEMBER_STAT = 'Y'
           AND A.MEMBER_ID = #{memberId}
    </select>

    <select id="findId" parameterType="String" resultType="String">
        SELECT
               MEMBER_ID
          FROM TBL_MEMBER
         WHERE MEMBER_NAME = #{memberName}
           AND PHONE = #{phone}
    </select>

    <update id="updatePwd">
        UPDATE
               TBL_MEMBER
           SET MEMBER_PWD = #{memberPwd}
         WHERE MEMBER_ID = #{memberId}
    </update>


</mapper>