<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypet.petmily.member.dao.MemberMapper">

    <resultMap id="memberResultMap" type="com.mypet.petmily.member.dto.MemberDTO">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberPwd" column="MEMBER_PWD"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="nickName" column="NICKNAME"/>
        <result property="phone" column="PHONE"/>
        <result property="postNo" column="POST_NO"/>
        <result property="address" column="ADDRESS"/>
        <result property="address2" column="ADDRESS2"/>
        <result property="point" column="POINT"/>
        <result property="gender" column="GENDER"/>
        <result property="memberStat" column="MEMBER_STAT"/>
        <result property="memberStatDate" column="MEMBER_STAT_DATE"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="warningCount" column="WARNING_COUNT"/>
        <result property="signupPathCode" column="SIGNUP_PATH_CODE"/>
        <collection property="memberRoleList" resultMap="memberRoleResultMap"/>
    </resultMap>

    <resultMap id="memberRoleResultMap" type="com.mypet.petmily.member.dto.MemberRoleDTO">
        <id property="memberNo" column="REF_MEMBER_NO"/>
        <id property="authorityCode" column="REF_AUTHORITY_CODE"/>
        <association property="authority" resultMap="authorityResultMap"/>
    </resultMap>

    <resultMap id="authorityResultMap" type="com.mypet.petmily.member.dto.AuthorityDTO">
        <id property="code" column="REF_AUTHORITY_CODE2"/>
        <result property="name" column="AUTHORITY_NAME"/>
        <result property="desc" column="AUTHORITY_DESC"/>
    </resultMap>

    <resultMap id="petResultMap" type="com.mypet.petmily.member.dto.PetDTO">
        <id property="petCode" column="PET_CODE"/>
        <result property="petName" column="PET_NAME"/>
        <result property="petAge" column="PET_AGE"/>
        <result property="petGender" column="PET_GENDER"/>
        <result property="neutralYn" column="NEUTRAL_YN"/>
        <result property="petBreed" column="PET_BREED"/>
        <result property="petWeight" column="PET_WEIGHT"/>
        <result property="petRegist" column="PET_REGIST"/>
        <result property="pSocial" column="P_SOCIAL"/>
        <result property="aSocial" column="A_SOCIAL"/>
        <result property="barkLevel" column="BARK_LEVEL"/>
        <result property="sepAnxiety" column="SEP_ANXIETY"/>
        <result property="petDisease" column="PET_DISEASE"/>
        <result property="petDiseaseExp" column="PET_DISEASE_EXP"/>
        <result property="petAllergy" column="PET_ALLERGY"/>
        <result property="petAllergyExp" column="PET_ALLERGY_EXP"/>
        <result property="pottyTrain" column="POTTY_TRAIN"/>
        <result property="markingIn" column="MARKING_IN"/>
        <result property="vaccin" column="VACCIN"/>
        <result property="hosName" column="HOS_NAME"/>
        <result property="hosPhone" column="HOS_PHONE"/>
        <result property="hosAddress" column="HOS_ADDRESS"/>
        <result property="registStatus" column="REGIST_STATUS"/>
        <association property="member" resultMap="memberResultMap"/>
    </resultMap>

    <select id="findMemberById" resultMap="memberResultMap">
        SELECT
               A.MEMBER_NO
             , A.MEMBER_ID
             , A.MEMBER_PWD
             , A.MEMBER_NAME
             , A.NICKNAME
             , A.PHONE
             , A.GENDER
             , A.POST_NO
             , A.ADDRESS
             , A.ADDRESS2
             , A.POINT
             , A.MEMBER_STAT
             , A.MEMBER_STAT_DATE
             , A.REGIST_DATE
             , A.WARNING_COUNT
             , A.SIGNUP_PATH_CODE
             , B.MEMBER_NO      REF_MEMBER_NO
             , B.AUTHORITY_CODE REF_AUTHORITY_CODE
             , C.AUTHORITY_CODE REF_AUTHORITY_CODE2
             , C.AUTHORITY_NAME
             , C.AUTHORITY_DESC
        FROM TBL_MEMBER A
                 LEFT JOIN TBL_ROLE B ON (A.MEMBER_NO = B.MEMBER_NO)
                 LEFT JOIN TBL_AUTHORITY C ON (B.AUTHORITY_CODE = C.AUTHORITY_CODE)
        WHERE A.MEMBER_STAT = '활동'
          AND A.MEMBER_ID = #{ memberId }
    </select>


    <!-- 닉네임 중복 확인 -->
    <select id="selectMemberByNickName" resultType="string">
        SELECT
            NICKNAME
        FROM TBL_MEMBER
        WHERE MEMBER_STAT = '활동'
          AND NICKNAME = #{ nickName }
    </select>

    <!-- 이메일 중복 확인 -->
    <select id="selectMemberByMemberId" resultType="string">
        SELECT
              MEMBER_ID
        FROM TBL_MEMBER
        WHERE MEMBER_STAT = '활동'
        AND MEMBER_ID = #{ memberId }
    </select>


    <!-- 회원가입 -->
    <insert id="insertMember">
        INSERT
        INTO TBL_MEMBER
        ( MEMBER_NO
        , MEMBER_ID
        , MEMBER_PWD
        , MEMBER_NAME
        , NICKNAME
        , PHONE
        , GENDER
        , POST_NO
        , ADDRESS
        , ADDRESS2
        , MEMBER_STAT
        , MEMBER_STAT_DATE
        , REGIST_DATE
        , SIGNUP_PATH_CODE)
        VALUES ( SEQ_TBL_MEMBER_NO.NEXTVAL
               , #{ memberId }
               , #{ memberPwd }
               , #{ memberName }
               , #{ nickName }
               , #{ phone }
               , #{ gender }
               , #{ postNo,jdbcType=VARCHAR }
               , #{ address }
               , #{ address2 }
               , #{ memberStat }
               , #{ memberStatDate }
               , #{ registDate }
               , #{ signupPathCode })
    </insert>

    <!-- 회원가입 역할 주기 -->
    <insert id="insertMemberRole">
        INSERT
        INTO TBL_ROLE
        ( MEMBER_NO
        , AUTHORITY_CODE)
        VALUES ( SEQ_TBL_MEMBER_NO.CURRVAL
               , 3)
    </insert>

    <select id="findId" parameterType="String" resultType="String">
        SELECT
            MEMBER_ID
        FROM TBL_MEMBER
        WHERE MEMBER_NAME = #{memberName}
          AND PHONE = #{phone}
    </select>

    <select id="pwdCheck" resultType="Integer">
        SELECT
               *
          FROM TBL_MEMBER
         WHERE MEMBER_ID = #{memberId}
           AND MEMBER_NAME = #{memberName}
    </select>

    <update id="pwdUpdate">
        UPDATE
               TBL_MEMBER
           SET MEMBER_PWD = #{memberPwd}
         WHERE MEMBER_ID = #{memberId}
    </update>

    <select id="findByMemberEmail">
        SELECT
            MEMBER_ID
        FROM TBL_MEMBER
        WHERE MEMBER_STAT = '활동'
          AND MEMBER_ID = #{memberId}
    </select>



<!--    /* 회원 정보 수정 */-->
    <update id="updateMember">
        UPDATE
            TBL_MEMBER
        SET
            NICKNAME = #{ nickName }
          , POST_NO  = #{ postNo }
          , ADDRESS  = #{ address }
          , ADDRESS2 = #{ address2 }
        WHERE MEMBER_STAT = '활동'
          AND MEMBER_NO = #{ memberNo }
    </update>


    <update id="updatePassword">
        UPDATE
            TBL_MEMBER
         SET MEMBER_PWD = #{ memberPwd }
        WHERE MEMBER_STAT = '활동'
        AND MEMBER_NO = #{ memberNo }
    </update>

    <update id="deleteMember">
        UPDATE
            TBL_MEMBER
        SET MEMBER_STAT = '탈퇴'
        WHERE MEMBER_STAT = '활동'
          AND MEMBER_ID = #{ memberId }
    </update>

    <!-- 마이페이지 대표 반려동물 프로필 간략 조회 -->
    <select id="viewFirstPetProfile" resultMap="petResultMap">
        SELECT
               PET_NAME
             , PET_AGE
             , PET_GENDER
             , NEUTRAL_YN
             , PET_WEIGHT
          FROM TBL_MYPET
         WHERE MEMBER_NO = #{memberNo}
           AND ROWNUM = 1
    </select>

    <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
               COUNT(*)
          FROM TBL_RESERVATION
        <!-- where절로 memberId나 memberNo로 자신 것만 걸러야하나? -->
    </select>

    <!-- 반려동물 프로필 등록 -->
    <insert id="insertPetProfile">
        INSERT INTO TBL_MYPET
            (
              PET_CODE
            , PET_NAME
            , PET_AGE
            , PET_GENDER
            , NEUTRAL_YN
            , PET_BREED
            , PET_WEIGHT
            , PET_REGIST
            , P_SOCIAL
            , A_SOCIAL
            , BARK_LEVEL
            , SEP_ANXIETY
            , PET_DISEASE
            , PET_DISEASE_EXP
            , PET_ALLERGY
            , PET_ALLERGY_EXP
            , POTTY_TRAIN
            , MARKING_IN
            , VACCIN
            , HOS_NAME
            , HOS_PHONE
            , HOS_ADDRESS
            , REGIST_STATUS
            , MEMBER_NO
            )
        VALUES
            (
              SEQ_TBL_MYPET_NO.NEXTVAL
            , #{petName}
            , #{petAge}
            , #{petGender}
            , #{neutralYn}
            , #{petBreed}
            , #{petWeight}
            , #{petRegist}
            , #{pSocial}
            , #{aSocial}
            , #{barkLevel}
            , #{sepAnxiety}
            , #{petDisease}
            , #{petDiseaseExp}
            , #{petAllergy}
            , #{petAllergyExp}
            , #{pottyTrain}
            , #{markingIn}
            , #{vaccin}
            , #{hosName}
            , #{hosPhone}
            , #{hosAddress}
            , #{registStatus}
            , #{member.memberNo}
            )
    </insert>

    <!-- 반려동물 프로필 조회 -->
    <select id="viewPetProfile" resultMap="petResultMap"  parameterType="_int">
        SELECT
               PET_CODE
             , PET_NAME
             , PET_AGE
             , PET_GENDER
             , NEUTRAL_YN
             , PET_BREED
             , PET_WEIGHT
             , PET_REGIST
             , P_SOCIAL
             , A_SOCIAL
             , BARK_LEVEL
             , SEP_ANXIETY
             , PET_DISEASE
             , PET_DISEASE_EXP
             , PET_ALLERGY
             , PET_ALLERGY_EXP
             , POTTY_TRAIN
             , MARKING_IN
             , VACCIN
             , HOS_NAME
             , HOS_PHONE
             , HOS_ADDRESS
          FROM TBL_MYPET
         WHERE MEMBER_NO = #{loginMember.memberNo}
           AND PET_CODE = #{petCode}
           AND REGIST_STATUS = 'Y'
    </select>

    <select id="selectPetProfileList" resultMap="petResultMap">
        SELECT
               PET_CODE
             , PET_NAME
             , PET_REGIST
             , PET_AGE
             , PET_WEIGHT
          FROM TBL_MYPET
         WHERE MEMBER_NO = #{memberNo}
           AND REGIST_STATUS = 'Y'
    </select>

    <update id="petProfileUpdate">
        UPDATE TBL_MYPEY
           SET
    </update>

    <!--    <select id="selectReserveList" resultMap="generalBoardResultMap">-->
    <!--        SELECT-->
    <!--             A.-->
    <!--    </select>-->
</mapper>