<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypet.petmily.payment.dao.PaymentMapper">


    <resultMap id="memberResultMap" type="com.mypet.petmily.member.dto.MemberDTO">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberPwd" column="MEMBER_PWD"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="nickName" column="NICKNAME"/>
        <result property="memberStat" column="MEMBER_STAT"/>
    </resultMap>

    <!--진행중인 예약 관련-->
    <resultMap id="progressReservationResultMap" type="com.mypet.petmily.payment.dto.ProgressReserveDTO">
        <id property="reserveCode" column="RESERV_CODE"/>
        <result property="startDateTime" column="RESERV_START"/>
        <result property="endDateTime" column="RESERV_END"/>
        <result property="reserveStatus" column="RESERV_STATUS"/>
        <result property="TotalAmount" column="RESERV_TOTAL_AMOUNT"/>
        <result property="reserveDayCount" column="RESERV_DAY_COUNT"/>
        <result property="reserveTimeCount" column="RESERV_TIME_COUNT"/>
        <result property="reserveAppDate" column="RESERV_APP_DATE"/>
        <association property="member" resultMap="memberResultMap"/>
        <association property="petSitter" resultMap="sitterInfoResultMap"/>
    </resultMap>

    <resultMap id="sitterInfoResultMap" type="com.mypet.petmily.payment.dto.SitterInfoDTO">
        <id property="sitterCode" column="PET_MEMBER_NO"/>
        <association property="memberInfo" resultMap="memberResultMap"/>
    </resultMap>
    <!--진행중인 예약 관련 끝-->

    <select id="selectReservationBoardList" resultMap="progressReservationResultMap">
        SELECT * FROM (
        SELECT
        R.RESERV_CODE,
        <!--        SUBSTR(RESERV_APP_DATE, 1, 11),-->
        <!--        SUBSTR(RESERV_START, 1, 10),-->
        R.RESERV_APP_DATE,
        R.RESERV_START,
        R.RESERV_END,
        R.RESERV_DAY_COUNT,
        R.RESERV_TIME_COUNT,
        R.RESERV_STATUS,
        S.PET_MEMBER_NO,
        M.NICKNAME,
        ROWNUM AS rn
        FROM TBL_RESERVATION R
        JOIN TBL_PET_SITTER S ON R.PET_MEMBER_NO = S.PET_MEMBER_NO
        JOIN TBL_MEMBER M ON (S.PET_MEMBER_NO = M.MEMBER_NO)
        WHERE R.MEMBER_NO = #{memberNo}
        ORDER BY RESERV_CODE DESC
        )
        WHERE rn BETWEEN #{startRow} AND #{endRow}
    </select>

    <select id="selectReservationTotalCount" resultType="_int">
        SELECT
             COUNT(*)
        FROM TBL_RESERVATION A
    </select>

    <select id="selectDetailReservation" resultMap="progressReservationResultMap">
        SELECT
               R.RESERV_CODE
             , R.RESERV_START
             , R.RESERV_END
             , R.RESERV_TOTAL_AMOUNT
             , R.RESERV_VAT
             , P.PAY_DATE
             , P.PAY_PRICE
             , P.PAY_STAT
          FROM TBL_RESERVATION R
          JOIN TBL_PAYMENT P ON(R.RESERV_CODE = P.RESERV_CODE)
         WHERE R.RESERV_CODE = #{ reserveCode }
    </select>

    <!-- 진행 중인 예약 조회 리스트 -->
    <select id="selectProgressReserveList" resultMap="progressReservationResultMap">
        SELECT
               M.NICKNAME
             , R.RESERV_CODE
             , R.RESERV_START
             , R.RESERV_END
             , R.RESERV_DAY_COUNT
             , R.RESERV_TIME_COUNT
             , R.RESERV_STATUS
          FROM TBL_RESERVATION R
          JOIN TBL_PET_SITTER S ON R.PET_MEMBER_NO = S.PET_MEMBER_NO
          JOIN TBL_MEMBER M ON S.PET_MEMBER_NO = M.MEMBER_NO
         WHERE R.MEMBER_NO = #{memberNo}
           AND R.RESERV_STATUS = '대기'
    </select>

</mapper>