<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypet.petmily.payment.dao.PaymentMapper">

    <!-- 예약 -->
    <resultMap type="com.mypet.petmily.payment.dto.ReservationHistoryDTO" id="generalReservationResultMap">
        <id property="resCode" column="RESERV_CODE" />
        <result property="startDateTime" column="RESERV_START"/>
        <result property="endDateTime" column="RESERV_END"/>
        <result property="resStatus" column="RESERV_STATUS"/>
        <result property="restotalAmount" column="RESERV_TOTAL_AMOUNT"/>
        <result property="resDayCount" column="RESERV_DAY_COUNT"/>
        <result property="resTimeCount" column="RESERV_TIME_COUNT"/>
        <result property="resvat" column="RESERV_VAT"/>
        <result property="resAppDate" column="RESERV_APP_DATE"/>

        <association property="resMember" resultMap="memberResultMap"/>
        <association property="resPetSitter" resultMap="petSitterResultMap"/>
        <association property="resPet" resultMap="petResultMap"/>

    </resultMap>

    <!-- 펫 주인 -->
    <resultMap type="com.mypet.petmily.payment.dto.PetMemberDTO" id="petMemberResultMap">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="nickName" column="NICKNAME"/>
        <result property="phone" column="PHONE"/>
        <result property="postNo" column="POST_NO"/>
        <result property="address" column="ADDRESS"/>
        <result property="address2" column="ADDRESS2"/>
        <result property="point" column="POINT"/>
        <result property="memberStat" column="MEMBER_STAT"/>
    </resultMap>

    <resultMap id="memberResultMap" type="com.mypet.petmily.member.dto.MemberDTO">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberPwd" column="MEMBER_PWD"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="nickName" column="NICKNAME"/>
        <result property="phone" column="PHONE"/>
        <result property="postNo" column="POST_NO"/>
        <result property="address" column="ADDRESS"/>
        <result property="address2" column="ADDRESS2"/>
        <result property="point" column="POINT"/>
        <result property="gender" column="GENDER"/>
        <result property="memberStat" column="MEMBER_STAT"/>
        <result property="memberStatDate" column="MEMBER_STAT_DATE"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="warningCount" column="WARNING_COUNT"/>
        <result property="signupPathCode" column="SIGNUP_PATH_CODE"/>
        <collection property="memberRoleList" resultMap="memberRoleResultMap"/>
    </resultMap>

    <resultMap id="memberRoleResultMap" type="com.mypet.petmily.member.dto.MemberRoleDTO">
        <id property="memberNo" column="REF_MEMBER_NO"/>
        <id property="authorityCode" column="REF_AUTHORITY_CODE"/>
        <association property="authority" resultMap="authorityResultMap"/>
    </resultMap>

    <resultMap id="authorityResultMap" type="com.mypet.petmily.member.dto.AuthorityDTO">
        <id property="code" column="REF_AUTHORITY_CODE2"/>
        <result property="name" column="AUTHORITY_NAME"/>
        <result property="desc" column="AUTHORITY_DESC"/>
    </resultMap>

    <!-- 펫시터 -->
    <resultMap id="petSitterResultMap" type="com.mypet.petmily.petSitterNew.dto.NewPetSitterDTO">
        <id property="petMemberNo" column="PET_MEMBER_NO"/>
        <result property="petRegistDate" column="PET_REGIST_DATE"/>
        <result property="petStat" column="PET_STAT"/>
        <result property="petTitle" column="PET_TITLE"/>
        <result property="petIntroduce" column="PET_INTRODUCE"/>
        <result property="petPlace" column="PET_PLACE"/>
        <result property="petCareCount" column="PET_CARE_COUNT"/>
        <result property="petBabyYn" column="PET_BABY_YN"/>
        <result property="petPence" column="PET_PENCE"/>
        <result property="petMypetYn" column="PET_MYPET_YN"/>
        <result property="petSmokYn" column="PET_SMOK_YN"/>
        <result property="petCareSize" column="PET_CARE_SIZE"/>
        <result property="petCareAge" column="PET_CARE_AGE"/>
        <result property="petCheckIn" column="PET_CHECKIN"/>
        <result property="petCheckOut" column="PET_CHECKOUT"/>
        <result property="petRequest" column="PET_REQUEST"/>
        <result property="petImpossible" column="PET_IMPOSSIBLE"/>
        <result property="petM_DayPay" column="PET_M_DAY_PAY"/>
        <result property="petM_TimePay" column="PET_M_TIME_PAY"/>
        <result property="petL_DayPay" column="PET_L_DAY_PAY"/>
        <result property="petL_TimePay" column="PET_L_TIME_PAY"/>
        <result property="petBank" column="PET_BANK"/>
        <result property="petBankNo" column="PET_BANK_NO"/>
        <result property="petBankName" column="PET_BANK_NAME"/>
    </resultMap>

    <!-- 펫 -->
    <resultMap id="petResultMap" type="com.mypet.petmily.payment.dto.PetResDTO">
        <id property="petCode" column="PET_CODE"/>
        <result property="petName" column="PET_NAME"/>
        <result property="petAge" column="PET_AGE"/>
        <result property="petGender" column="PET_GENDER"/>
        <result property="neutralYn" column="NEUTRAL_YN"/>
        <result property="petBreed" column="PET_BREED"/>
        <result property="petWeight" column="PET_WEIGHT"/>
        <result property="petRegist" column="PET_REGIST"/>
        <result property="pSocial" column="P_SOCIAL"/>
        <result property="aSocial" column="A_SOCIAL"/>
        <result property="barkLevel" column="BARK_LEVEL"/>
        <result property="sepAnxiety" column="SEP_ANXIETY"/>
        <result property="petDisease" column="PET_DISEASE"/>
        <result property="petDiseaseExp" column="PET_DISEASE_EXP"/>
        <result property="petAllergy" column="PET_ALLERGY"/>
        <result property="petAllergyExp" column="PET_ALLERGY_EXP"/>
        <result property="pottyTrain" column="POTTY_TRAIN"/>
        <result property="markingIn" column="MARKING_IN"/>
        <result property="vaccin" column="VACCIN"/>
        <result property="hosName" column="HOS_NAME"/>
        <result property="hosPhone" column="HOS_PHONE"/>
        <result property="hosAddress" column="HOS_ADDRESS"/>
        <result property="registStatus" column="REGIST_STATUS"/>
        <association property="member" resultMap="petMemberResultMap"/>
    </resultMap>


<!--    <select id="selectReservationBoardList" resultMap="generalReservationResultMap">-->
<!--        SELECT-->
<!--                RESERV_CODE,-->
<!--                RESERV_APP_DATE,-->
<!--                RESERV_START,-->
<!--                RESERV_STATUS,-->
<!--                PET_MEMBER_NO-->
<!--        FROM TBL_RESERVATION R-->
<!--        JOIN TBL_MEMBER M ON(R.MEMBER_NO = M.MEMBER_NO)-->
<!--        WHERE M.MEMBER_NO = #{memberNo}-->
<!--        ORDER BY RESERV_CODE DESC-->
<!--    </select>-->

    <select id="selectReservationBoardList" resultMap="generalReservationResultMap">
        SELECT * FROM (
        SELECT
        RESERV_CODE,
        RESERV_APP_DATE,
        RESERV_START,
        RESERV_STATUS,
        PET_MEMBER_NO,
        ROWNUM AS rn
        FROM TBL_RESERVATION R
        JOIN TBL_MEMBER M ON (R.MEMBER_NO = M.MEMBER_NO)
        WHERE M.MEMBER_NO = #{memberNo}
        ORDER BY RESERV_CODE DESC
        )
        WHERE rn BETWEEN #{startRow} AND #{endRow}
    </select>

<!--    <select id="selectReservationBoardList" resultMap="generalReservationResultMap">-->
<!--        SELECT * FROM (-->
<!--                        SELECT-->
<!--                                RESERV_CODE,-->
<!--                                RESERV_APP_DATE,-->
<!--                                RESERV_START,-->
<!--                                RESERV_STATUS,-->
<!--                                PET_MEMBER_NO-->
<!--                        FROM (-->
<!--                            SELECT-->
<!--                                    R.RESERV_CODE,-->
<!--                                    R.RESERV_APP_DATE,-->
<!--                                    R.RESERV_START,-->
<!--                                    R.RESERV_STATUS,-->
<!--                                    R.PET_MEMBER_NO,-->
<!--                                    ROWNUM-->
<!--                         FROM (-->
<!--                                SELECT-->
<!--                                        R.RESERV_CODE,-->
<!--                                        R.RESERV_APP_DATE,-->
<!--                                        R.RESERV_START,-->
<!--                                        R.RESERV_STATUS,-->
<!--                                        R.PET_MEMBER_NO-->
<!--                                        FROM TBL_RESERVATION R-->
<!--                                        JOIN TBL_MEMBER M ON (R.MEMBER_NO = M.MEMBER_NO)-->
<!--                                        WHERE M.MEMBER_NO = #{memberNo}-->
<!--                                        ORDER BY R.RESERV_CODE DESC-->
<!--                                  ) R-->
<!--                                WHERE ROWNUM <= #{endRow}-->
<!--                                )-->
<!--                           )-->
<!--                      WHERE ROWNUM >= #{startRow}-->
<!--    </select>-->

<!--    <select id="selectThumbnailBoardList" resultMap="thumbnailBoardResultMap">-->
<!--        SELECT-->
<!--                A.RESERV_CODE,-->
<!--                A.RESERV_APP_DATE,-->
<!--                A.RESERV_START,-->
<!--                A.RESERV_STATUS,-->
<!--                A.PET_MEMBER_NO-->
<!--             FROM (-->
<!--                SELECT-->
<!--                       B.ROWNUM RNUM,-->
<!--                        B.RESERV_CODE,-->
<!--                        B.RESERV_APP_DATE,-->
<!--                        B.RESERV_START,-->
<!--                        B.RESERV_STATUS,-->
<!--                        B.PET_MEMBER_NO-->
<!--                 FROM (SELECT-->
<!--                               C.RESERV_CODE,-->
<!--                                C.RESERV_APP_DATE,-->
<!--                                C.RESERV_START,-->
<!--                                C.RESERV_STATUS,-->
<!--                                C.PET_MEMBER_NO-->
<!--                           FROM TBL_RESERVATION C-->
<!--                           ORDER BY RESERV_CODE DESC-->
<!--                        ) B-->
<!--                 <![CDATA[-->
<!--                       WHERE ROWNUM <= #{ endRow }-->
<!--                       ]]>-->
<!--                ) A-->
<!--                JOIN TBL_MEMBER M ON(C.MEMBER_NO = M.MEMBER_NO)-->
<!--                WHERE C.RNUM >= #{ startRow }-->
<!--                ORDER BY 1 DESC-->
<!--    </select>-->

    <select id="selectReservationTotalCount" resultType="_int">
        SELECT
             COUNT(*)
        FROM TBL_RESERVATION A

    </select>



</mapper>