<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypet.petmily.petSitter.dao.PetSitterMapper">

    <resultMap type="com.mypet.petmily.petSitter.dto.PetSitterDTO" id="petSitterResultMap">
        <id property="petMemberNo" column="PET_MEMBER_NO"/>
        <result property="petRegistDt" column="PET_REGIST_DATE"/>
        <result property="petStatus" column="PET_STAT"/>
        <result property="petTitle" column="PET_TITLE"/>
        <result property="petIntroduce" column="PET_INTRODUCE"/>
        <result property="petPlace" column="PET_PLACE"/>
        <result property="petCareCount" column="PET_CARE_COUNT"/>
        <result property="petBabyYn" column="PET_BABY_YN"/>
        <result property="petSmoke" column="PET_SMOK_YN"/>
        <result property="petCareSize" column="PET_CARE_SIZE"/>
        <result property="petCareAge" column="PET_CARE_AGE"/>
        <result property="petCheckIn" column="PET_CHECKIN"/>
        <result property="petCheckOut" column="PET_CHECKOUT"/>
        <result property="petRequest" column="PET_REQUEST"/>
        <result property="petImpossible" column="PET_IMPOSSIBLE"/>
        <result property="petMDayPay" column="PET_M_DAY_PAY"/>
        <result property="petMTimePay" column="PET_M_TIME_PAY"/>
        <result property="petLDayPay" column="PET_L_DAY_PAY"/>
        <result property="petLTimePay" column="PET_L_TIME_PAY"/>
        <result property="petBank" column="PET_BANK"/>
        <result property="petBankNo" column="PET_BANK_NO"/>
        <result property="petBankName" column="PET_BANK_NAME"/>
        <result property="nickname" column="NICKNAME"/>
        <collection property="tagContentList" resultMap="petTagResultMap"/>
        <collection property="reviewList" resultMap="reviewResultMap"/>
<!--        <collection property="revContent" resultMap="reviewResultMap"/>-->
    </resultMap>

    <resultMap type="com.mypet.petmily.member.dto.MemberDTO" id="memberResultMap">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberPwd" column="MEMBER_PWD"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="phone" column="PHONE"/>
        <result property="gender" column="GENDER"/>
        <result property="postNo" column="POST_NO"/>
        <result property="address" column="ADDRESS"/>
        <result property="address2" column="ADDRESS2"/>
        <result property="point" column="POINT"/>
        <result property="memberStat" column="MEMBER_STAT"/>
        <result property="memberStatDate" column="MEMBER_STAT_DATE"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="warningCount" column="WARNING_COUNT"/>
        <result property="signupPathCode" column="SINGLE_PATH_CODE"/>
        <collection property="memberRoleList" resultMap="memberRoleResultMap"/>
    </resultMap>

    <resultMap type="com.mypet.petmily.petSitterNew.dto.PetTagDTO" id="petTagResultMap">
        <id property="tagNo" column="TAG_NO"/>
        <result property="tagContent" column="TAG_CONTENT"/>
        <result property="petMemberNo" column="PET_MEMBER_NO"/>
    </resultMap>

    <resultMap type="com.mypet.petmily.petSitter.dto.ReviewDTO" id="reviewResultMap">
        <id property="revCode" column="REV_CODE"/>
        <result property="revScore" column="REV_SCORE"/>
        <result property="revContent" column="REV_CONTENT"/>
        <result property="revCreateDate" column="REV_CREATED_DATE"/>
        <result property="revModifyDate" column="REV_MODIFY_DATE"/>
        <result property="revStatus" column="REV_STATUS"/>
        <result property="revDeleteDate" column="REV_DELETE_DATE"/>
        <result property="memberNo" column="MEMBER_NO"/>
        <result property="petMemberNO" column="PET_MEMBER_NO"/>
<!--        <result property="reservCode" column="RESERV_CODE"/>-->
    </resultMap>




    <resultMap type="com.mypet.petmily.member.dto.MemberRoleDTO" id="memberRoleResultMap">
        <id property="memberNo" column="BOARD_NO"/>
        <result property="type" column="BOARD_TYPE"/>
        <result property="authorityCode" column="CATEGORY_CODE"/>
        <association property="authority" resultMap="authorityResultMap"/>
    </resultMap>


    <resultMap type="com.mypet.petmily.member.dto.AuthorityDTO" id="authorityResultMap">
        <id property="code" column="AUTHORITY_CODE"/>
        <result property="name" column="AUTHORITY_NAME"/>
        <result property="desc" column="AUTHORITY_DESC"/>
    </resultMap>


        <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
            SELECT
            COUNT(*)
            FROM TBL_PET_SITTER P
            <!-- 주소 (address) 검색 조건 -->
            <if test="address != null and address != ''">
                JOIN TBL_MEMBER M ON(P.PET_MEMBER_NO = M.MEMBER_NO)
            </if>
            <!-- 예약일  검색 조건 -->
            <if test="petCheckIn != null">
                AND P.PET_CHECKIN = #{petCheckIn}
            </if>
            <if test="petCheckOut != null">
                AND P.PET_CHECKOUT = #{petCheckOut}
            </if>



    <select id="selectMypage" resultMap="memberResultMap">
            SELECT
                M.MEMBER_NO
              , M.MEMBER_NAME
              , M.ADDRESS
            FROM TBL_MEMBER M
            LEFT JOIN TBL_ROLE R ON(M.MEMBER_NO = R.MEMBER_NO)
            WHERE MEMBER_STAT = '활동'
    </select>



    <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
        COUNT(*)
        FROM TBL_PET_SITTER P
        <!-- 주소 (address) 검색 조건 -->
        <if test="address != null and address != ''">
            JOIN TBL_MEMBER M ON(P.PET_MEMBER_NO = M.MEMBER_NO)
        </if>
        <!-- 예약일  검색 조건 -->
        <if test="petCheckIn != null">
            AND P.PET_CHECKIN = #{petCheckIn}
        </if>
        <if test="petCheckOut != null">
            AND P.PET_CHECKOUT = #{petCheckOut}
        </if>

            <where>
                <if test="searchCondition == 'address'">
                    M.ADDRESS LIKE '%' || #{ searchValue } || '%'
                </if>
                <if test="searchCondition == 'petCheckIn'">
                    P.PET_CHECKIN '%' || #{ searchValue } || '%'
                </if>
                <if test="searchCondition == 'petCheckOut'">
                    P.PET_CHECKOUT '%' || #{ searchValue } || '%'
                </if>
                AND P.PET_STAT = '승인'
            </where>
        </select>

    <select id="selectPetSitterList" resultMap="petSitterResultMap">
        SELECT
          P.PET_MEMBER_NO
        , P.PET_TITLE
        , M.NICKNAME
        , P.PET_M_DAY_PAY
        , P.PET_M_TIME_PAY
        , P.PET_L_DAY_PAY
        , P.PET_L_TIME_PAY
        , R.REV_CODE
        , R.REV_SCORE
        , R.REV_CONTENT
        , T.TAG_CONTENT
        FROM TBL_MEMBER M
        JOIN TBL_PET_SITTER P  ON ( M.MEMBER_NO = P.PET_MEMBER_NO )
        LEFT JOIN (SELECT * FROM TBL_REVIEW WHERE REV_CODE IN (SELECT MAX(REV_CODE) FROM TBL_REVIEW GROUP BY PET_MEMBER_NO)) R ON(P.PET_MEMBER_NO = R.PET_MEMBER_NO)
        LEFT JOIN TBL_PET_TAG T ON(P.PET_MEMBER_NO = T.PET_MEMBER_NO)
        WHERE  P.PET_STAT= '승인'
    </select>

<!--    <select id="getAccount" resultMap="petSitterResultMap">-->
<!--         SELECT-->
<!--         P.PET_BANK-->
<!--        ,p.PET_BANK_NO-->
<!--        ,P.PET_BANK_NAME-->
<!--        FROM TBL_MEMBER M-->
<!--        LEFT JOIN TBL_PET_SITTER P JOIN  ON(M.MEMBER_NO = P.PET_MEMBER_NO)-->
<!--        WHERE P.PET_MEMBER_NO = #{M.MEMBER_NO}-->
<!--    </select>-->


    <select id="selectPetSitterListPaging" resultMap="petSitterResultMap">
<!--        SELECT-->
<!--          A.PET_MEMBER_NO-->
<!--        , A.PET_TITLE-->
<!--        , M.NICKNAME-->
<!--        , A.PET_M_DAY_PAY-->
<!--        , A.PET_M_TIME_PAY-->
<!--        , A.PET_L_DAY_PAY-->
<!--        , A.PET_L_TIME_PAY-->
<!--        , A.REV_CODE-->
<!--        , A.REV_SCORE-->
<!--        , A.REV_CONTENT-->
<!--        , A.TAG_CONTENT-->
<!--        FROM (SELECT-->
<!--        ROWNUM RNUM-->
<!--          B.PET_MEMBER_NO-->
<!--        , B.PET_TITLE-->
<!--        , B.NICKNAME-->
<!--        , B.PET_M_DAY_PAY-->
<!--        , B.PET_M_TIME_PAY-->
<!--        , B.PET_L_DAY_PAY-->
<!--        , B.PET_L_TIME_PAY-->
<!--        , B.REV_CODE-->
<!--        , B.REV_SCORE-->
<!--        , B.REV_CONTENT-->
<!--        , B.TAG_CONTENT-->
<!--        FROM (SELECT-->
<!--          P.PET_MEMBER_NO-->
<!--        , P.PET_TITLE-->
<!--        , M.NICKNAME-->
<!--        , P.PET_M_DAY_PAY-->
<!--        , P.PET_M_TIME_PAY-->
<!--        , P.PET_L_DAY_PAY-->
<!--        , P.PET_L_TIME_PAY-->
<!--        , R.REV_CODE-->
<!--        , R.REV_SCORE-->
<!--        , R.REV_CONTENT-->
<!--        , T.TAG_CONTENT-->
<!--        FROM TBL_MEMBER M-->
<!--        JOIN TBL_PET_SITTER P  ON ( M.MEMBER_NO = P.PET_MEMBER_NO )-->
<!--        LEFT JOIN (SELECT * FROM TBL_REVIEW WHERE REV_CODE IN (SELECT MAX(REV_CODE) FROM TBL_REVIEW GROUP BY PET_MEMBER_NO)) R ON(P.PET_MEMBER_NO = R.PET_MEMBER_NO)-->
<!--        LEFT JOIN TBL_PET_TAG T ON(P.PET_MEMBER_NO = T.PET_MEMBER_NO)-->
<!--        <where>-->
<!--            <if test="searchCondition == 'address'">-->
<!--                M.ADDRESS LIKE '%' || #{ searchValue } || '%'-->
<!--            </if>-->
<!--            AND P.PET_STAT = '승인'-->
<!--        </where>-->
<!--        ORDER BY P.PET_MEMBER_NO DESC-->
<!--        ) B-->
<!--        <![CDATA[-->
<!--                   WHERE ROWNUM <= #{ endRow }-->
<!--                   ]]>-->
<!--        ) A-->
<!--        JOIN TBL_MEMBER M ON(P.PET_MEMBER_NO = M.MEMBER_NO)-->
<!--        WHERE A.RNUM >= #{ startRow }-->
<!--        ORDER BY petRegistDt desc;-->
    </select>

    <!--    <update id="incrementBoardCount">-->
    <!--        UPDATE-->
    <!--        TBL_BOARD A-->
    <!--        SET A.BOARD_COUNT = A.BOARD_COUNT + 1-->
    <!--        WHERE A.BOARD_NO = #{ no }-->
    <!--    </update>-->

    <!--    <select id="selectBoardDetail" resultMap="generalBoardResultMap">-->
    <!--        SELECT-->
    <!--        A.BOARD_NO-->
    <!--        , A.BOARD_TITLE-->
    <!--        , A.BOARD_BODY-->
    <!--        , A.BOARD_WRITER_MEMBER_NO-->
    <!--        , B.MEMBER_NO-->
    <!--        , B.NICKNAME-->
    <!--        , A.BOARD_COUNT-->
    <!--        , A.CREATED_DATE-->
    <!--        , C.CATEGORY_NAME-->
    <!--        , D.REPLY_NO-->
    <!--        , D.REPLY_BODY-->
    <!--        , D.CREATED_DATE R_CREATED_DATE-->
    <!--        , E.MEMBER_NO R_MEMBER_NO-->
    <!--        , E.NICKNAME R_NICKNAME-->
    <!--        FROM TBL_BOARD A-->
    <!--        JOIN TBL_MEMBER B ON (A.BOARD_WRITER_MEMBER_NO = B.MEMBER_NO)-->
    <!--        JOIN TBL_CATEGORY C ON (A.CATEGORY_CODE = C.CATEGORY_CODE)-->
    <!--        LEFT JOIN TBL_REPLY D ON (A.BOARD_NO = D.REF_BOARD_NO AND D.REPLY_STATUS = 'Y')-->
    <!--        LEFT JOIN TBL_MEMBER E ON (D.REPLY_WRITER_MEMBER_NO = E.MEMBER_NO)-->
    <!--        WHERE A.BOARD_STATUS = 'Y'-->
    <!--        AND A.BOARD_NO = #{ no }-->
    <!--        ORDER BY D.REPLY_NO-->
    <!--    </select>-->

    <!--    <insert id="insertReply">-->
    <!--        INSERT-->
    <!--        INTO TBL_REPLY A-->
    <!--        (-->
    <!--        A.REPLY_NO-->
    <!--        , A.REF_BOARD_NO-->
    <!--        , A.REPLY_BODY-->
    <!--        , A.REPLY_WRITER_MEMBER_NO-->
    <!--        )-->
    <!--        VALUES-->
    <!--        (-->
    <!--        SEQ_REPLY_NO.NEXTVAL-->
    <!--        , #{ refBoardNo }-->
    <!--        , #{ body }-->
    <!--        , #{ writer.memberNo }-->
    <!--        )-->
    <!--    </insert>-->

    <!--    <select id="selectReplyList" resultMap="replyResultMap">-->
    <!--        SELECT-->
    <!--        A.REPLY_NO-->
    <!--        , A.REF_BOARD_NO-->
    <!--        , A.REPLY_BODY-->
    <!--        , A.REPLY_WRITER_MEMBER_NO-->
    <!--        , A.CREATED_DATE R_CREATED_DATE-->
    <!--        , B.MEMBER_NO R_MEMBER_NO-->
    <!--        , B.NICKNAME R_NICKNAME-->
    <!--        FROM TBL_REPLY A-->
    <!--        JOIN TBL_MEMBER B ON (A.REPLY_WRITER_MEMBER_NO = B.MEMBER_NO)-->
    <!--        WHERE A.REPLY_STATUS = 'Y'-->
    <!--        AND A.REF_BOARD_NO = #{ refBoardNo }-->
    <!--        ORDER BY A.REPLY_NO-->
    <!--    </select>-->

    <!--    <update id="deleteReply">-->
    <!--        UPDATE TBL_REPLY A-->
    <!--        SET A.REPLY_STATUS = 'N'-->
    <!--        WHERE A.REPLY_NO = #{ no }-->
    <!--    </update>-->

    <!--    <insert id="insertBoard">-->
    <!--        INSERT-->
    <!--        INTO TBL_BOARD A-->
    <!--        (-->
    <!--        A.BOARD_NO-->
    <!--        , A.BOARD_TYPE-->
    <!--        , A.CATEGORY_CODE-->
    <!--        , A.BOARD_TITLE-->
    <!--        , A.BOARD_BODY-->
    <!--        , A.BOARD_WRITER_MEMBER_NO-->
    <!--        )-->
    <!--        VALUES-->
    <!--        (-->
    <!--        SEQ_BOARD_NO.NEXTVAL-->
    <!--        , 1-->
    <!--        , #{ category.code }-->
    <!--        , #{ title }-->
    <!--        , #{ body }-->
    <!--        , #{ writer.memberNo }-->
    <!--        )-->
    <!--    </insert>-->

    <!--    <insert id="insertThumbnailContent" >-->
    <!--        INSERT-->
    <!--        INTO TBL_BOARD A-->
    <!--        (-->
    <!--        A.BOARD_NO-->
    <!--        , A.BOARD_TYPE-->
    <!--        , A.BOARD_TITLE-->
    <!--        , A.BOARD_BODY-->
    <!--        , A.BOARD_WRITER_MEMBER_NO-->
    <!--        )-->
    <!--        VALUES-->
    <!--        (-->
    <!--        SEQ_BOARD_NO.NEXTVAL-->
    <!--        , 2-->
    <!--        , #{ title }-->
    <!--        , #{ body }-->
    <!--        , #{ writer.memberNo }-->
    <!--        )-->
    <!--    </insert>-->

    <!--    <insert id="insertAttachment">-->
    <!--        INSERT-->
    <!--        INTO TBL_ATTACHMENT A-->
    <!--        (-->
    <!--        A.ATTACHMENT_NO-->
    <!--        , A.REF_BOARD_NO-->
    <!--        , A.ORIGINAL_NAME-->
    <!--        , A.SAVED_NAME-->
    <!--        , A.SAVE_PATH-->
    <!--        , A.FILE_TYPE-->
    <!--        , A.THUMBNAIL_PATH-->
    <!--        )-->
    <!--        VALUES-->
    <!--        (-->
    <!--        SEQ_ATTACHMENT_NO.NEXTVAL-->
    <!--        , SEQ_BOARD_NO.CURRVAL-->
    <!--        , #{ originalName }-->
    <!--        , #{ savedName }-->
    <!--        , #{ savePath }-->
    <!--        , #{ fileType }-->
    <!--        , #{ thumbnailPath, jdbcType=VARCHAR }-->
    <!--        )-->
    <!--    </insert>-->

    <!--    <select id="selectThumbnailTotalCount" resultType="_int">-->
    <!--        SELECT-->
    <!--        COUNT(*)-->
    <!--        FROM TBL_BOARD A-->
    <!--        WHERE A.BOARD_TYPE = 2-->
    <!--        AND A.BOARD_STATUS = 'Y'-->
    <!--    </select>-->

    <!--    <select id="selectThumbnailBoardList" resultMap="thumbnailBoardResultMap">-->
    <!--        SELECT-->
    <!--        A.BOARD_NO-->
    <!--        , A.BOARD_TYPE-->
    <!--        , D.FILE_TYPE-->
    <!--        , D.THUMBNAIL_PATH-->
    <!--        , A.BOARD_TITLE-->
    <!--        , A.BOARD_BODY-->
    <!--        , A.BOARD_WRITER_MEMBER_NO-->
    <!--        , E.NICKNAME-->
    <!--        , A.BOARD_COUNT-->
    <!--        , A.CREATED_DATE-->
    <!--        , A.BOARD_STATUS-->
    <!--        FROM (SELECT-->
    <!--        ROWNUM RNUM-->
    <!--        , B.BOARD_NO-->
    <!--        , B.BOARD_TYPE-->
    <!--        , B.BOARD_TITLE-->
    <!--        , B.BOARD_BODY-->
    <!--        , B.BOARD_WRITER_MEMBER_NO-->
    <!--        , B.BOARD_COUNT-->
    <!--        , B.CREATED_DATE-->
    <!--        , B.BOARD_STATUS-->
    <!--        FROM (SELECT-->
    <!--        C.BOARD_NO-->
    <!--        , C.BOARD_TYPE-->
    <!--        , C.BOARD_TITLE-->
    <!--        , C.BOARD_BODY-->
    <!--        , C.BOARD_WRITER_MEMBER_NO-->
    <!--        , C.BOARD_COUNT-->
    <!--        , C.CREATED_DATE-->
    <!--        , C.BOARD_STATUS-->
    <!--        FROM TBL_BOARD C-->
    <!--        WHERE C.BOARD_STATUS = 'Y'-->
    <!--        AND C.BOARD_TYPE = 2-->
    <!--        ORDER BY C.BOARD_NO DESC-->
    <!--        ) B-->
    <!--        <![CDATA[-->
    <!--              WHERE ROWNUM <= #{ endRow }-->
    <!--              ]]>-->
    <!--        ) A-->
    <!--        JOIN TBL_ATTACHMENT D ON (A.BOARD_NO = D.REF_BOARD_NO)-->
    <!--        JOIN TBL_MEMBER E ON(A.BOARD_WRITER_MEMBER_NO = E.MEMBER_NO)-->
    <!--        WHERE A.RNUM >= #{ startRow }-->
    <!--        ORDER BY 1 DESC-->
    <!--    </select>-->

    <!--    <select id="selectThumbnailBoardDetail" resultMap="thumbnailBoardResultMap">-->
    <!--        SELECT-->
    <!--        A.BOARD_NO-->
    <!--        , A.BOARD_TITLE-->
    <!--        , A.BOARD_BODY-->
    <!--        , A.BOARD_WRITER_MEMBER_NO-->
    <!--        , B.NICKNAME-->
    <!--        , A.BOARD_COUNT-->
    <!--        , A.CREATED_DATE-->
    <!--        , C.ATTACHMENT_NO-->
    <!--        , C.ORIGINAL_NAME-->
    <!--        , C.SAVED_NAME-->
    <!--        , C.SAVE_PATH-->
    <!--        , C.FILE_TYPE-->
    <!--        , C.THUMBNAIL_PATH-->
    <!--        FROM TBL_BOARD A-->
    <!--        JOIN TBL_MEMBER B ON (A.BOARD_WRITER_MEMBER_NO = B.MEMBER_NO)-->
    <!--        JOIN TBL_ATTACHMENT C ON (A.BOARD_NO = C.REF_BOARD_NO)-->
    <!--        WHERE A.BOARD_STATUS = 'Y'-->
    <!--        AND C.ATTACHMENT_STATUS = 'Y'-->
    <!--        AND A.BOARD_NO = #{ no }-->
    <!--    </select>-->




</mapper>