<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypet.petmily.review.dao.ReviewMapper">

    <resultMap id="reviewResultMap" type="com.mypet.petmily.review.dto.ReviewDTO">
        <id property="revCode" column="REV_CODE"/>
        <result property="revScore" column="REV_SCORE"/>
        <result property="revContent" column="REV_CONTENT"/>
        <result property="revCreatedDate" column="REV_CREATED_DATE"/>
        <result property="revModifyDate" column="REV_MODIFY_DATE"/>
        <result property="revStatus" column="REV_STATUS"/>
        <result property="revDeleteDate" column="REV_DELETE_DAE"/>
        <result property="resCode" column="RESERV_CODE"/>
        <association property="member" resultMap="memberResultMap"/>
        <association property="petMember" resultMap="sitterInfoResultMap"/>
        <association property="reserve" resultMap="progressReservationResultMap"/>
    </resultMap>

    <resultMap id="memberResultMap" type="com.mypet.petmily.member.dto.MemberDTO">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberPwd" column="MEMBER_PWD"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="nickName" column="NICKNAME"/>
        <result property="memberStat" column="MEMBER_STAT"/>
    </resultMap>

    <resultMap id="progressReservationResultMap" type="com.mypet.petmily.payment.dto.ProgressReserveDTO">
        <id property="reserveCode" column="RESERV_CODE"/>
        <result property="startDateTime" column="RESERV_START"/>
        <result property="endDateTime" column="RESERV_END"/>
        <result property="reserveStatus" column="RESERV_STATUS"/>
        <result property="TotalAmount" column="RESERV_TOTAL_AMOUNT"/>
        <result property="reserveDayCount" column="RESERV_DAY_COUNT"/>
        <result property="reserveTimeCount" column="RESERV_TIME_COUNT"/>
        <result property="reserveAppDate" column="RESERV_APP_DATE"/>
        <association property="member" resultMap="memberResultMap"/>
        <association property="petSitter" resultMap="sitterInfoResultMap"/>
    </resultMap>

    <resultMap id="sitterInfoResultMap" type="com.mypet.petmily.payment.dto.SitterInfoDTO">
        <id property="sitterCode" column="PET_MEMBER_NO"/>
        <association property="memberInfo" resultMap="memberResultMap"/>
    </resultMap>



    <select id="viewReservationInfo" resultMap="progressReservationResultMap">
        SELECT
               M.NICKNAME
             , R.RESERV_START
             , R.RESERV_END
             , R.RESERV_DAY_COUNT
             , R.RESERV_TIME_COUNT
             , R.RESERV_CODE
          FROM TBL_RESERVATION R
          JOIN TBL_PET_SITTER S ON (R.PET_MEMBER_NO = S.PET_MEMBER_NO)
          JOIN TBL_MEMBER M ON (S.PET_MEMBER_NO = M.MEMBER_NO)
         WHERE R.MEMBER_NO = #{memberNo}
           AND R.RESERV_CODE = #{reserveCode}
    </select>

    <insert id="registReview">
        INSERT INTO TBL_REVIEW
        (
           REV_CODE
         , REV_SCORE
         , REV_CONTENT
         , REV_CREATED_DATE
         , REV_MODIFY_DATE
         , REV_STATUS
         , MEMBER_NO
         , RESERV_CODE
         , PET_MEMBER_NO
        )
        VALUES
            (SEQ_TBL_REVIEW_NO.NEXTVAL
            , #{revScore}
            , #{revContent}
            , #{revCreatedDate}
            , #{revModifyDate}
            , #{revStatus}
            , #{member.memberNo}
            , #{resCode}
            , #{petMemberNo}
            )
    </insert>

    <select id="selectTotalCount" resultType="_int">
        SELECT
               COUNT(*)
          FROM TBL_REVIEW
           WHERE REV_STATUS = 'Y'
            AND MEMBER_NO = #{memberNo}
    </select>

    <select id="selectReviewList" resultMap="reviewResultMap">
        SELECT
               A.REV_CODE
             , A.REV_SCORE
             , A.REV_CONTENT
             , A.REV_CREATED_DATE
             , A.MEMBER_NO
             , A.RESERV_CODE
             , R.RESERV_START
             FROM (SELECT
                  ROWNUM RNUM
                  , B.REV_CODE
                  , B.REV_SCORE
                  , B.REV_CONTENT
                  , B.REV_CREATED_DATE
                  , B.MEMBER_NO
                  , B.RESERV_CODE
                  FROM (SELECT
                        C.REV_CODE
                        , C.REV_SCORE
                        , C.REV_CONTENT
                        , C.REV_CREATED_DATE
                        , C.MEMBER_NO
                        , C.RESERV_CODE
                        FROM TBL_REVIEW C
                        JOIN TBL_RESERVATION R ON(C.RESERV_CODE = R.RESERV_CODE)
                        WHERE C.REV_STATUS = 'Y'
                        ORDER BY C.REV_CODE DESC
                        ) B
                 <![CDATA[
                   WHERE ROWNUM <= #{ selectCriteria.endRow }
                   ]]>
                   ) A
                JOIN TBL_RESERVATION R ON (A.RESERV_CODE = R.RESERV_CODE)
                /*JOIN TBL_PET_SITTER S ON (R.PET_MEMBER_NO = S.PET_MEMBER_NO)*/
                /*JOIN TBL_MEMBER M ON (S.PET_MEMBER_NO = M.MEMBER_NO)*/
                WHERE A.RNUM >= #{selectCriteria.startRow}
                ORDER BY 1 DESC
    </select>

 <!--   <select id="reserveInfo" resultMap="ReservationResultMap">
        SELECT
               R.RESERV_CODE
             , R.RESERV_START
          FROM TBL_RESERVATION R
          JOIN TBL_REVIEW V ON (R.RESERV_CODE = V.RESERV_CODE)
         WHERE REV_CODE = #{reviewList.revCode}
    </select>-->

</mapper>