<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypet.petmily.review.dao.ReviewMapper">

    <resultMap id="reviewResultMap" type="com.mypet.petmily.review.dto.ReviewDTO">
        <id property="revCode" column="REV_CODE"/>
        <result property="revScore" column="REV_SCORE"/>
        <result property="revContent" column="REV_CONTENT"/>
        <result property="revCreatedDate" column="REV_CREATED_DATE"/>
        <result property="revModifyDate" column="REV_MODIFY_DATE"/>
        <result property="revStatus" column="REV_STATUS"/>
        <result property="revDeleteDate" column="REV_DELETE_DAE"/>

        <association property="member" resultMap="memberResultMap"/>
        <association property="petSitter" resultMap="petMemberResultMap"/>
        <association property="reservation" resultMap="resResultMap"/>
    </resultMap>

    <resultMap id="memberResultMap" type="com.mypet.petmily.member.dto.MemberDTO">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberPwd" column="MEMBER_PWD"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="nickName" column="NICKNAME"/>
        <result property="phone" column="PHONE"/>
        <result property="postNo" column="POST_NO"/>
        <result property="address" column="ADDRESS"/>
        <result property="address2" column="ADDRESS2"/>
        <result property="point" column="POINT"/>
        <result property="gender" column="GENDER"/>
        <result property="memberStat" column="MEMBER_STAT"/>
        <result property="memberStatDate" column="MEMBER_STAT_DATE"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="warningCount" column="WARNING_COUNT"/>
        <result property="signupPathCode" column="SIGNUP_PATH_CODE"/>
        <collection property="memberRoleList" resultMap="memberRoleResultMap"/>
    </resultMap>

    <!-- 펫 주인 -->
    <resultMap type="com.mypet.petmily.payment.dto.PetMemberDTO" id="petMemberResultMap">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="nickName" column="NICKNAME"/>
        <result property="phone" column="PHONE"/>
        <result property="postNo" column="POST_NO"/>
        <result property="address" column="ADDRESS"/>
        <result property="address2" column="ADDRESS2"/>
        <result property="point" column="POINT"/>
        <result property="memberStat" column="MEMBER_STAT"/>
    </resultMap>

    <!-- 예약 resultMap 관련 -->
    <resultMap id="resResultMap" type="com.mypet.petmily.petSitterNew.dto.ReservationDTO">
        <id property="resCode" column="RESERV_CODE"/>
        <result property="startDateTime" column="RESERV_START"/>
        <result property="endDateTime" column="RESERV_END"/>
        <result property="resStatus" column="RESERV_STATUS"/>
        <result property="accum" column="RESERV_ACCUM"/>
        <result property="resTotalAmount" column="RESERV_TOTAL_AMOUNT"/>
        <result property="resDayCount" column="RESERV_DAY_COUNT"/>
        <result property="resTimeCount" column="RESERV_TIME_COUNT"/>
        <result property="resVat" column="RESERV_VAT"/>
        <result property="resAppDate" column="RESERV_APP_DATE"/>
        <result property="resUpdateDate" column="RESERV_UPDATE_DATE"/>

        <association property="resMember" resultMap="petMemberResultMap"/>
        <association property="resPetSitter" resultMap="petSitterResultMap"/>
    </resultMap>

    <insert id="registReview">
        INSERT INTO TBL_REVIEW
        (
           REV_CODE
         , REV_SCORE
         , REV_CONTENT
         , REV_CREATED_DATE
         , REV_MODIFY_DATE
         , REV_STATUS
         , MEMBER_NO
         , RESERV_CODE
         , PET_MEMBER_NO
        )
        VALUES
            (SEQ_TBL_REVIEW_NO.NEXTVAL
            , #{revScore}
            , #{revContent}
            , #{revCreatedDate}
            , #{revModifyDate}
            , #{revStatus}
            , #{member.memberNo}
            , 1
            , 4
            )
    </insert>

    <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
               COUNT(*)
          FROM TBL_REVIEW
           WHERE REV_STATUS = 'Y'
            AND MEMBER_NO = #{member.memberNo}
    </select>

    <select id="selectReviewList" resultMap="reviewResultMap">
        SELECT
               A.REV_CODE
             , A.REV_SCORE
             , A.REV_CONTENT
             , A.REV_CREATED_DATE
             , A.MEMBER_NO
             , R.RESERV_CODE
             , M.NICKNAME
             FROM (SELECT
                  ROWNUM RNUM
                  , B.REV_CODE
                  , B.REV_SCORE
                  , B.REV_CONTENT
                  , B.REV_CREATED_DATE
                  , B.MEMBER_NO
                  , B.RESERV_CODE
                  , B.NICKNAME
                  FROM (SELECT
                        C.REV_CODE
                        , C.REV_SCORE
                        , C.REV_CONTENT
                        , C.REV_CREATED_DATE
                        , C.MEMVER_NO
                        , C.RESERV_CODE
                        , C.NICKNAME
                        FROM TBL_REVIEW C
                        WHERE C.REVIEW_STATUS = 'Y'
                        ORDER BY C.REV_CODE DESC
                        ) B
                 <![CDATA[
                   WHERE ROWNUM <= #{ endRow }
                   ]]>
                   ) A
                JOIN TBL_RESERVATION R ON (A.RESERV_CODE = R.RESERV_CODE)
                JOIN TBL_PET_SITTER S ON (R.PET_MEMBER_NO = S.PET_MEMBER_NO)
                JOIN TBL_MEMBER M ON (S.PET_MEMBER_NO = M.MEMBER_NO)
                WHERE A.RNUM >= #{startRow}
                ORDER BY 1DESC
    </select>

</mapper>