<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypet.petmily.review.dao.ReviewMapper">

    <resultMap id="reviewResultMap" type="com.mypet.petmily.review.dto.ReviewDTO">
        <id property="revCode" column="REV_CODE"/>
        <result property="revScore" column="REV_SCORE"/>
        <result property="revContent" column="REV_CONTENT"/>
        <result property="revCreatedDate" column="REV_CREATED_DATE"/>
        <result property="revModifyDate" column="REV_MODIFY_DATE"/>
        <result property="revStatus" column="REV_STATUS"/>
        <result property="revDeleteDate" column="REV_DELETE_DAE"/>
        <association property="member" resultMap="memberResultMap"/>
        <association property="petSitter" resultMap="sitterInfoResultMap"/>
        <association property="reserve" resultMap="progressReservationResultMap"/>
        <association property="reviewImg" resultMap="fileUploadResultMap"/>
    </resultMap>

    <resultMap id="memberResultMap" type="com.mypet.petmily.member.dto.MemberDTO">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberPwd" column="MEMBER_PWD"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="nickName" column="NICKNAME"/>
        <result property="memberStat" column="MEMBER_STAT"/>
    </resultMap>

    <resultMap id="progressReservationResultMap" type="com.mypet.petmily.payment.dto.ProgressReserveDTO">
        <id property="reserveCode" column="RESERV_CODE"/>
        <result property="startDateTime" column="RESERV_START"/>
        <result property="endDateTime" column="RESERV_END"/>
        <result property="reserveStatus" column="RESERV_STATUS"/>
        <result property="TotalAmount" column="RESERV_TOTAL_AMOUNT"/>
        <result property="reserveDayCount" column="RESERV_DAY_COUNT"/>
        <result property="reserveTimeCount" column="RESERV_TIME_COUNT"/>
        <result property="reserveAppDate" column="RESERV_APP_DATE"/>
        <association property="member" resultMap="memberResultMap"/>
        <association property="petSitter" resultMap="sitterInfoResultMap"/>
    </resultMap>

    <resultMap id="sitterInfoResultMap" type="com.mypet.petmily.payment.dto.SitterInfoDTO">
        <association property="memberInfo" resultMap="memberResultMap"/>
    </resultMap>

    <!-- fileUpload resultMap 관련 -->
    <resultMap id="fileUploadResultMap" type="com.mypet.petmily.fileUpload.dto.FileUploadDTO">
        <id property="fileNo" column="FILE_NO"/>
        <result property="fileOriName" column="FILE_ORI_NAME"/>
        <result property="fileSaveName" column="FILE_SAVE_NAME"/>
        <result property="fileExtName" column="FILE_EXT_NAME"/>
        <result property="filePathName" column="FILE_PATH_NAME"/>
        <result property="file_T_PathName" column="FILE_T_PATH_NAME"/>
        <result property="fileType" column="FILE_TYPE"/>
        <result property="filePetNo" column="PET_NO"/>
        <result property="fileBoardNo" column="BOARD_NO"/>
        <result property="fileRevNo" column="REV_NO"/>
        <result property="fileMemberNo" column="MEMBER_NO"/>
        <result property="fileSitterNo" column="PET_MEMBER_NO"/>
    </resultMap>
    <!-- fileUpload resultMap 관련 -->



    <select id="viewReservationInfo" resultMap="progressReservationResultMap">
        SELECT
               M.NICKNAME
             , R.RESERV_START
             , R.RESERV_END
             , R.RESERV_DAY_COUNT
             , R.RESERV_TIME_COUNT
             , R.RESERV_CODE
             , M.MEMBER_NO
          FROM TBL_RESERVATION R
          LEFT JOIN TBL_PET_SITTER S ON (R.PET_MEMBER_NO = S.PET_MEMBER_NO)
          LEFT JOIN TBL_MEMBER M ON (S.PET_MEMBER_NO = M.MEMBER_NO)
         WHERE R.MEMBER_NO = #{memberNo}
           AND R.RESERV_CODE = #{reserveCode}
    </select>

    <insert id="registReview">
        INSERT INTO TBL_REVIEW
        (
           REV_CODE
         , REV_SCORE
         , REV_CONTENT
         , REV_CREATED_DATE
         , REV_MODIFY_DATE
         , REV_STATUS
         , MEMBER_NO
         , RESERV_CODE
         , PET_MEMBER_NO
        )
        VALUES
            (SEQ_TBL_REVIEW_NO.NEXTVAL
            , #{revScore}
            , #{revContent}
            , #{revCreatedDate}
            , #{revModifyDate}
            , #{revStatus}
            , #{member.memberNo}
            , #{reserve.reserveCode}
            , #{reserve.petSitter.memberInfo.memberNo}
            )
    </insert>

    <select id="selectTotalCount" resultType="_int">
        SELECT
               COUNT(*)
          FROM TBL_REVIEW
           WHERE REV_STATUS = 'Y'
            AND MEMBER_NO = #{memberNo}
    </select>

    <select id="selectReviewList" resultMap="reviewResultMap">
        SELECT
               A.REV_CODE
             , A.REV_SCORE
             , A.REV_CONTENT
             , A.REV_CREATED_DATE
             , A.MEMBER_NO
             , A.RESERV_CODE
             , R.RESERV_START
             , M.NICKNAME
             FROM (SELECT
                  ROWNUM RNUM
                  , B.REV_CODE
                  , B.REV_SCORE
                  , B.REV_CONTENT
                  , B.REV_CREATED_DATE
                  , B.MEMBER_NO
                  , B.RESERV_CODE
                  FROM (SELECT
                        C.REV_CODE
                        , C.REV_SCORE
                        , C.REV_CONTENT
                        , C.REV_CREATED_DATE
                        , C.MEMBER_NO
                        , C.RESERV_CODE
                        FROM TBL_REVIEW C
                        JOIN TBL_RESERVATION R ON(C.RESERV_CODE = R.RESERV_CODE)
                        JOIN TBL_PET_SITTER S ON (R.PET_MEMBER_NO = S.PET_MEMBER_NO)
                        JOIN TBL_MEMBER M ON (S.PET_MEMBER_NO = M.MEMBER_NO)
                        WHERE C.REV_STATUS = 'Y'
                          AND C.MEMBER_NO = #{loginMember.memberNo}
                        ORDER BY C.REV_CODE DESC
                        ) B
                 <![CDATA[
                   WHERE ROWNUM <= #{ selectCriteria.endRow }
                   ]]>
                   ) A
                JOIN TBL_RESERVATION R ON (A.RESERV_CODE = R.RESERV_CODE)
                JOIN TBL_PET_SITTER S ON (R.PET_MEMBER_NO = S.PET_MEMBER_NO)
                JOIN TBL_MEMBER M ON (S.PET_MEMBER_NO = M.MEMBER_NO)
                WHERE A.RNUM >= #{selectCriteria.startRow}
                ORDER BY 1 DESC
    </select>

 <select id="viewReview" resultMap="reviewResultMap" parameterType="int">
     SELECT
            A.REV_CODE
          , A.REV_SCORE
          , A.REV_CONTENT
          , A.REV_CREATED_DATE
          , A.RESERV_CODE
          , B.RESERV_START
          , B.RESERV_END
          , B.RESERV_DAY_COUNT
          , B.RESERV_TIME_COUNT
          , B.RESERV_APP_DATE
          , D.NICKNAME
       FROM TBL_REVIEW A
       JOIN TBL_RESERVATION B ON (A.RESERV_CODE = B.RESERV_CODE)
       JOIN TBL_PET_SITTER C ON (B.PET_MEMBER_NO = C.PET_MEMBER_NO)
       JOIN TBL_MEMBER D ON (C.PET_MEMBER_NO = D.MEMBER_NO)
      WHERE A.REV_CODE = #{revCode}
 </select>

</mapper>