#server:
# port: 8081

## DB config
spring:
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: C##PETMILY
    password: PETMILY
  

  ## file upload config
  servlet:
    multipart:
      max-file-size: 300MB
      max-request-size: 300MB
      # 각자 자기 프로젝트 환경에 맞는거 입력해두고 주석 풀고 걸고 사용
      # 형수
#      location: D:/2.Dev/studyPj/sub_project/petmily
      # 수현
#      location:
      # 미림
#      location:
      # 서현 학원
#      location: C:/Lecture/sub-project/petmily
      # 서현 노트북
#      location: C:/Lecture/subProject/hiPetmily
      # 유리
#      location: C:\Lecture11111\Petmily_project\hiPetmily
      # 소정
#      location:



## Mybatis config
mybatis:
  mapper-locations: mappers/**/*.xml
  configuration:
    map-underscore-to-camel-case: true


## image upload dir
image:
  image-dir: src/main/resources/upload/

