## DB config
spring:
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: C##PETMILY
    password: PETMILY

  mail:
  host: smtp.gmail.com
  port: 587
  username: hipetmily@gmail.com
  password: Pgoogle123
  properties:
    mail.smtp.auth: true
    mail.smtp.starttls.enable: true

#  # file upload config (??? spring?? ????.)
#  servlet:
#    multipart:
#      max-file-size: 10MB
#      max-request-size: 10MB
#      location: C:/Lecture/10_spring/04_spring-comprehensive/chap01-comprehensive
#
#
## Mybatis config
mybatis:
  mapper-locations: mappers/**/*.xml
#
## image upload dir
#image:
#  image-dir: src/main/resources/upload/
#

configuration:
map-underscore-to-camel-case: true