<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객지원</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static_Image/common/favicon.ico">
    <!--    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">-->

    <!--    <link rel="stylesheet" href="/css/main/main.css"/>-->
    <link rel="stylesheet" href="/css/common/headerFooter.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/board/service.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <script>
        Kakao.init('6dafd4516f3c23851f6d3355f6b5a121'); // 사용하려는 앱의 JavaScript 키 입력
    </script>
</head>
<body>
<div th:replace="common/header_white.html"></div>
<!-- 사이드 바 -->
<aside class="side-bar">
    <section class="side-bar__icon-box">
        <section class="side-bar__icon-1">
            <div></div>
            <div></div>
            <div></div>
        </section>
    </section>
    <div class="img_boxing">
        <div class="img_dogbox">
            <img src="/static_Image/board/dog.png"/>
        </div>
        <div class="side-bar_title">
            <h2 class="side-bar_title_name">
                고객센터
            </h2>
        </div>
    </div>

    <ul>
        <li>
            <div></div><a href="#"><i class="fa-solid fa-dog"></i> 고객지원</a>

        </li>
        <li>
            <a href="#"><i class="fa-solid fa-cat"></i> 자주하는질문</a>

        </li>
        <li>
            <a href="#"><i class="fa-solid fa-hippo"></i> 1:1문의</a>

        </li>
        <li>
            <a href="#"><i class="fa-solid fa-paw"></i> 이용방법</a>
            <ul>
                <li><a href="info.html">펫밀리 이용방법</a></li>
                <li><a href="terms.html">이용약관</a></li>
                <li><a href="policy.html">개인정보처리방침</a></li>
                <li><a href="safe.html">안전보상프로그램</a></li>
            </ul>
        </li>
    </ul>
</aside>


<div class="useful_wrap">
    <div class="useful_title">
        <strong>펫밀리 고객센터</strong>
    </div>
    <div class="useful_view_wrap">
        <h2>펫밀리 고객지원센터에 오신것을 환영합니다</h2>

        <div class="img_boxing_petmily">
            <img class="img_petimily" src="/static_Image/board/petmily-service.png">
        </div>


        <div class="img_boxing_petmily">
            <img class="img_petimily" src="/static_Image/board/petmily-service2.png">
        </div>

        <div class="img_boxing_petmily">
            <img class="img_petimily" src="/static_Image/board/petmily-service3.png">
        </div>

        <div class="img_boxing_petmily_kakao">

            <div
                 id="kakao-talk-channel-add-button"
                 data-channel-public-id="_FaQCG"
                 data-size="large"
                 data-support-multiple-densities="true"
            ></div>

            <div class="kakao_chat"
                 id="kakao-talk-channel-chat-button"
                 data-channel-public-id="_FaQCG"
                 data-title="consult"
                 data-size="large"
                 data-color="yellow"
                 data-shape="pc"
                 data-support-multiple-densities="true"
            ></div>

        </div>


        <!--펫밀리 카카오톡 채널추가 -->
<!--        <div class="kakao_add"-->
<!--                id="kakao-talk-channel-add-button"-->
<!--                data-channel-public-id="_FaQCG"-->
<!--                data-size="large"-->
<!--                data-support-multiple-densities="true"-->
<!--        ></div>-->


        <!-- 펫밀리 실시간 상담 -->
<!--        <div class="kakao_chat"-->
<!--                id="kakao-talk-channel-chat-button"-->
<!--                data-channel-public-id="_FaQCG"-->
<!--                data-title="consult"-->
<!--                data-size="large"-->
<!--                data-color="yellow"-->
<!--                data-shape="pc"-->
<!--                data-support-multiple-densities="true"-->
<!--        ></div>-->


    </div>
</div>


<div th:replace="common/footer.html"></div>
</body>


<script>
    window.kakaoAsyncInit = function() {
        Kakao.Channel.createAddChannelButton({
            container: '#kakao-talk-channel-add-button',
        });
        Kakao.Channel.createChatButton({
            container: '#kakao-talk-channel-chat-button',
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://t1.kakaocdn.net/kakao_js_sdk/2.4.0/kakao.channel.min.js';
        js.integrity = 'sha384-bg2pMhokxyx1zeEM2ol2hJtBagKMjRIZDVI/KITe+j2U5K+Or6HPY1lWDWY8ubEN';
        js.crossOrigin = 'anonymous';
        fjs.parentNode.insertBefore(js, fjs);
    })(document, 'script', 'kakao-js-sdk');
</script>


</html>