<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static_Image/common/main/favicon.ico">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/css/petSitter/resRegistSuccess.css"/>
    <title>HI-PETMILY</title>
</head>
<body>

<div class="container">
    <div class="container_box">
        <div>
            <p class="big_petmily" th:text="${member.getNickName()} + '님, 예약이 완료되었습니다!'"></p><br>
            <p class="small_petmily" th:text="'예약번호 : ' + ${resCode} + '번 입니다.'"></p>
            <p class="small_petmily" th:text="'예약기간 : ' + ${startDateTime} + ' ~ '+ ${endDateTime}"></p>
            <p class="small_petmily" th:text="'결제금액 : ' + ${resDayCount} + '박 '
                + ${timeCount} + '시간 ' + ${#numbers.formatInteger(totalAmount, 3, 'COMMA')} + ' 원 입니다.'"></p><br>
            <p class="big_petmily">펫시터가 예약승인 이후에 결제가 진행되니 잠시 기다려주세요.</p>
        </div>
    </div>
    <div>
        <button type="button" class="btn1" th:onclick="|location.href='/petSitterNew/petSitterProfile?petMemberNo=' + ${petMemberNo}|">전 페이지로 돌아가기</button>
    </div>
</div>


</body>
</html>