<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/member/completedRegist.css"/>
</head>
<body>

<div class="main_container">
    <p id="cong_petmily" th:text="${nickname} + '님, 펫밀리 회원가입을 축하합니다!'"></p>
    <p id="ex_petmily">펫밀리의 돌봄 서비스를 경험해보세요.</p>
    <hr id="line">
    <input type="button" id="gomain" value="    지금 펫밀리 이용하기    >">
</div>

</body>
</html>