<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/member/event.js"></script>
    <script defer type="text/javascript" src="/js/main/mainPage.js"></script>
    <link href="/css/member/style_.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Roboto:ital,wght@0,400;1,300&display=swap"
          rel="stylesheet">

    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static_Image/common/main/favicon.ico">
    <link rel="stylesheet" href="/css/common/headerFooter.css"/>

</head>
<body>

<!-- common header -->
<div th:replace="common/header_white.html"></div>

<div id="find_id-pwd" class="main-container">

    <div class="mainWrapper">

        <div>
            <h2 class="mainTitle">임시 비밀번호 발급 받기</h2>
            <div class="nav-line"></div>

            <div>
                <form id="findPwd" action="find_pwd" method="post">
                    <!--<div class="findPwdWay">
                        <label><input type="radio" name="findPwd" value="phone" onclick="find_Pwd(1)" checked> 휴대폰 번호로
                            찾기</label>
                        <label><input type="radio" name="findPwd" value="email" onclick="find_Pwd(2)"> 이메일로 찾기</label>
                    </div>-->
                    <div class="">
                        <input type="text" name="memberName" placeholder="이름"
                               onfocus="this.placeholder=''" onblur="this.placeholder='이름'"
                               class="findIdPwd InputBox" required>
                    </div>

                    <!--<div id="findPwdByPhone">
                        <input type="text" name="phone" placeholder="휴대폰 번호"
                               onfocus="this.placeholder=''" onblur="this.placeholder='휴대폰 번호'"
                               class="findIdPwd InputBox">
                    </div>-->

                    <div id="findPwdByEmail"> <!--style="display: none"-->
                        <input type="email" name="memberId" placeholder="이메일"
                               onfocus="this.placeholder=''" onblur="this.placeholder='example@email.com'"
                               class="findIdPwd InputBox" id="userEmail" required>
                    </div>

                    <div>
                        <input id="findPwdSubmit" class="submitButton" type="submit" value="임시 비밀번호 발급받기">
                    </div>
                </form>

                <div class="btns" align="center">
                    <a href="/member/login">로그인 하러 가기</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- common footer -->
<div th:replace="common/footer.html"></div>

</body>
</html>