<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/member/mainRegist.css" rel="stylesheet" type="text/css">
    <script defer type="text/javascript" src="/js/member/regist.js"></script>

</head>

<body>
<div class="container">
    <h3 class="member_regist">회원가입</h3>
    <div class="style_container">
        <div>
            <button class="regist_start" id="kakao_start">카카오로 시작하기</button>
        </div>
        <div>
            <button class="regist_start" id="naver_start">네이버로 시작하기</button>
        </div>
        <div>
            <button class="regist_start" id="google_start">구글로 시작하기</button>
        </div>
        <div>
            <button class="regist_start" id="regist">이메일로 시작하기</button>
        </div>
    </div>
    <div class="login_inline">
        <div class="petmily_member">이미 펫밀리의 회원 이신가요?</div>
        <div class="login">로그인</div>
    </div>
</div>


</body>

</html>