<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/member/mypage.css"/>
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static_Image/common/main/favicon.ico">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/common/headerFooter.css"/>
    <!-- 폰트? -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

</head>

<body>

<div th:replace="common/header_white.html"></div>

<div id="header_bar">
    <div id="bar">

        <div class="bar_info" id="bar_member"><p id="member">사용자</p></div>
        <div class="bar_info" id="bar_sitter"
             sec:authorize="hasRole('ROLE_PET_SITTER')"
            onclick="location.href='/petSitter/mypage'"><p id="sitter">펫시터</p></div>
    </div>
</div>
<div id="box">
    <div class="member_pet_container">

        <div id="member_profile">
            <div id="member_thumbnail"></div>
            <hr id="member_hr">
            <div><p id="nickName" th:text="${ #authentication.principal.nickName }"></div>
        </div>


        <div class="main_container">
            <div id="dog_pic_box">
                <!-- 반려동물 프로필이 없는 경우 -->
                <th:block th:unless="${petProfile != null}">
                    <p class="pet_info">반려동물을 등록하세요</p>
                </th:block>
                <!-- 반려동물 프로필이 있는 경우 -->
                <th:block th:if="${petProfile != null}">
                <div id="dog_pic">
                    <th:block th:each="petImg : ${petProfile.petImgList}">
                        <img th:if="${petImg.fileType == 'MainImg'}"
                             th:src="${petImg.filePathName + petImg.fileSaveName}">
                    </th:block>
                </div>
                <div id="dog_profile">
                    <p id="" th:text="이름 + ' : '  + ${petProfile.petName}"></p>
                    <p class="pet_info" th:text="나이 + ' : '  + ${petProfile.petAge} +살"></p>
                    <p class="pet_info" th:text="성별 + '('+중성화여부+')' + ' : '  + ${petProfile.petGender} + '(' + ${petProfile.neutralYn} + ')'" ></p>
                    <p class="pet_info" th:text="몸무게 + ' : '  + ${petProfile.petWeight}+kg"></p>
                </div>
                </th:block>
            </div>
                <div>
                    <button name="pet_regist" id="pet_regist"><a style="text-decoration: none; color: #ffffff" href="/member/pet-profile-regist">등록</a></button>
                </div>
            </div>

        </div>
    </div>


    <div class="sub_container">
        <div class="mp" id="my_page">
            <p class="sub_info_text">마이 페이지</p>
            <div class="sub2">
                <input type="button" value="반려동물 프로필" id="pet_profile" class="sub_button">
                <input type="button" value="내 정보 확인" id="my_info" class="sub_button">
            </div>
        </div>
        <hr class="hr">
        <div class="mp" id="my_acti">
            <p class="sub_info_text">나의 활동</p>
            <div class="sub2">
                <p>
                    <input type="button" value="내가 쓴 후기" id="my_review" class="sub_button">
                    <input type="button" value="진행중인 예약" id="res_ing" class="sub_button">
                </p>
                <p>
                    <input type="button" value="지난 예약" id="past_res" class="sub_button">
                    <input type="button" value="결제내역" id="pay_history" class="sub_button">
                </p>
            </div>
        </div>
        <hr class="hr">
        <div class="mp" id="cus_service">
            <p class="sub_info_text">고객센터</p>
            <div class="sub2">
                <input type="button" value="공지사항" id="notice" class="sub_button">
                <input type="button" value="1 : 1 문의" id="one_contact" class="sub_button">
            </div>
        </div>
    </div>
</div>
<div th:replace="common/footer.html"></div>

<script>

    /* 마이 페이지 -> 반려동물 프로필 페이지로 이동 */
    if (document.getElementById("pet_profile")) {
        const $update = document.getElementById("pet_profile");
        $update.onclick = function () {
            location.href = "/member/pet-profile-list";
        }
    }

    /* 마이 페이지 -> 내 정보 확인 페이지로 이동 */
    if (document.getElementById("my_info")) {
        const $update = document.getElementById("my_info");
        $update.onclick = function () {
            location.href = "/member/update";
        }
    }

    /* 마이 페이지 -> 내가 쓴 후기 페이지로 이동 */
    if (document.getElementById("my_review")) {
        const $update = document.getElementById("my_review");
        $update.onclick = function () {
            location.href = "/member/review-list";
        }
    }

    /* 마이 페이지 -> 진행중인 예약 페이지로 이동 */
    if (document.getElementById("res_ing")) {
        const $update = document.getElementById("res_ing");
        $update.onclick = function () {
            location.href = "/member/reservation-in-progress";
        }
    }

    /* 마이 페이지 -> 지난 예약 페이지로 이동 */
    if (document.getElementById("past_res")) {
        const $update = document.getElementById("past_res");
        $update.onclick = function () {
            location.href = "/member/reservationList";
        }
    }

    /* 마이 페이지 -> 공지사항 */
    if (document.getElementById("notice")) {
        const $update = document.getElementById("notice");
        $update.onclick = function () {
            location.href = "/board/notice/list";
        }
    }

    /* 일대일 문의 */
    if (document.getElementById("one_contact")) {
        const $update = document.getElementById("one_contact");
        $update.onclick = function () {
            location.href = "/no..";
        }
    }

    /* 지난 예약 */
    if (document.getElementById("past_res")) {
        const $update = document.getElementById("past_res");
        $update.onclick = function () {
            location.href = "/member/reservationList";
        }
    }

</script>

</body>

</html>