<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/js/member/event.js"></script>
  <link href="/css/member/style_.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Roboto:ital,wght@0,400;1,300&display=swap"
        rel="stylesheet">

  <link rel="icon" type="image/x-icon" sizes="16x16" href="/static_Image/common/main/favicon.ico">
  <link rel="stylesheet" href="/css/common/headerFooter.css"/>

</head>

<body>

<!-- common header -->
<div th:replace="common/header_white.html"></div>

<div id="pet-profile-regist" class="main-container">

  <div class="left-navi"></div>

  <div class="mainWrapper">
    <h2 class="mainTitle">반려동물 등록</h2>
    <div class="nav-line"></div>

    <div class="petProfileImg" id="slideShow">
      <ul class="slides">
<!--        <li><img th:src="${petProfile.fileList[0].filePath}"></li>-->
        <!--{ 모델 객체에 저장된 이름으로 가져오는 것인데  }-->
        <!--{컨트롤러 겟매핑 모델 어트리뷰트값, boardDTO에 attachmentList, attachDTO에 썸네일Path}-->
        <li><img src="/static_Image/member/petProfileTest1.png" alt="반려동물 프로필 이미지"> </li>
        <li><img src="/static_Image/member/petProfileTest2.png" alt="반려동물 프로필 이미지"> </li>
        <li><img src="/static_Image/member/petProfileTest3.png" alt="반려동물 프로필 이미지"> </li>
        <li><img src="/static_Image/member/petProfile.png" alt="반려동물 프로필 이미지"> </li>
        <li><img src="/static_Image/member/petProfileTest1.png" alt="반려동물 프로필 이미지"> </li>
        <li><img src="/static_Image/member/petProfileTest2.png" alt="반려동물 프로필 이미지"> </li>
      </ul>
      <p class="petImgController">
        <!-- &lang: 왼쪽 방향 화살표 &rang: 오른쪽 방향 화살표 -->
        <span class="prev">&lang;</span>
        <span class="next">&rang;</span>
      </p>
    </div>
    <script>
      let slides = document.querySelector('.slides');
      let slideImg = document.querySelectorAll('.slides li');
      currentIdx = 0;
      slideCount = slideImg.length;
      prev = document.querySelector('.prev');
      next = document.querySelector('.next');
      slideWidth = 300;   //슬라이드 이미지 넓이
      slideMargin = 100; //슬라이드 끼리의 마진값
      makeClone(); // 처음이미지와 마지막 이미지 복사 함수
      initfunction(); //슬라이드 넓이와 위치값 초기화 함수
      function makeClone() {
        let cloneSlide_first = slideImg[0].cloneNode(true);
        let cloneSlide_last = slides.lastElementChild.cloneNode(true);
        slides.append(cloneSlide_first);
        slides.insertBefore(cloneSlide_last, slides.firstElementChild);
      }
      function initfunction() {
        slides.style.width = (slideWidth + slideMargin) * (slideCount + 2) + 'px';
        slides.style.left = -(slideWidth + slideMargin) + 'px';
      }
      next.addEventListener('click', function () {
        //다음 버튼 눌렀을때
        if (currentIdx <= slideCount - 1) {
          //슬라이드이동
          slides.style.left = -(currentIdx + 2) * (slideWidth + slideMargin) + 'px';
          slides.style.transition = `${0.5}s ease-out`; //이동 속도
        }
        if (currentIdx === slideCount - 1) {
          //마지막 슬라이드 일때
          setTimeout(function () {
            //0.5초동안 복사한 첫번째 이미지에서, 진짜 첫번째 위치로 이동
            slides.style.left = -(slideWidth + slideMargin) + 'px';
            slides.style.transition = `${0}s ease-out`;
          }, 500);
          currentIdx = -1;
        }
        currentIdx += 1;
      });
      prev.addEventListener('click', function () {
        //이전 버튼 눌렀을때
        console.log(currentIdx);
        if (currentIdx >= 0) {
          slides.style.left = -currentIdx * (slideWidth + slideMargin) + 'px';
          slides.style.transition = `${0.5}s ease-out`;
        }
        if (currentIdx === 0) {
          setTimeout(function () {
            slides.style.left = -slideCount * (slideWidth + slideMargin) + 'px';
            slides.style.transition = `${0}s ease-out`;
          }, 500);
          currentIdx = slideCount;
        }
        currentIdx -= 1;
      });
    </script>


      <!--<div class="profile-regist">
        <div class="profile-regist-left">
          <div class="regist-pet-name dash-line">
            &lt;!&ndash; <label class="text">이름</label> &ndash;&gt;
            <h4>이름</h4>
            <div class="signIn inputForm">
              <input type="text" name="pet-name" onfocus="this.placeholder=''"
                     onblur="this.placeholder=''" class="registPet" required>
            </div>
          </div>

          <div class="regist-pet-age  dash-line">
            <h4>나이</h4>
            <div class="signIn inputForm">
              <input type="text" name="pet-age" onfocus="this.placeholder=''" onblur="this.placeholder=''"
                     class="registPet" required>세
            </div>
          </div>


          <div class="regist-pet-gender  dash-line">
            <h4>성별</h4>
            <label><input type="radio" name="pet-gender" value="F">여아&nbsp;&nbsp; </label>
            <label><input type="radio" name="pet-gender" value="M">남아</label>
          </div>
        </div>

        <div class="profile-regist-right">

          <div class="regist-pet-breed  dash-line">
            <h4>견종</h4>
            <div class="signIn inputForm">
              <input type="text" name="pet-breed" onfocus="this.placeholder=''"
                     onblur="this.placeholder=''" class="registPet" required>
            </div>
          </div>

          <div class="regist-pet-weight  dash-line">
            <h4>몸무게</h4>
            <div class="signIn inputForm">
              <input type="text" name="pet-weight" onfocus="this.placeholder=''"
                     onblur="this.placeholder=''" class="registPet" required>kg
            </div>
          </div>

          <div class="regist-pet-neutering  dash-line">
            <h4>중성화</h4>
            <label><input type="radio" name="pet-neutering" value="Y">예 &nbsp;&nbsp; </label>
            <label><input type="radio" name="pet-neutering" value="N">아니오</label>
          </div>
        </div>
      </div>

      <div class="regist-pet-regist  dash-line">
        <h4>반려견 등록</h4>
        <div class="answer-contain">
          <label><input type="radio" name="pet-regist" value="inner-chip">내장형 &nbsp;&nbsp;</label>
          <label><input type="radio" name="pet-regist" value="outer-chip">외장형 &nbsp;&nbsp;</label>
          <label><input type="radio" name="pet-regist" value="name-tag">등록인식표 &nbsp;&nbsp;</label>
          <label><input type="radio" name="pet-regist" value="nothing">하지않음 &nbsp;&nbsp;</label>
        </div>
      </div>

      <div class="Q1  dash-line">
        <h4>Q. 다른 사람들과의 친화력</h4>
        <div class="answer-contain">
          <label><input type="radio" name="Q1" value="1">매우좋아요 &nbsp;&nbsp;</label>
          <label><input type="radio" name="Q1" value="2">좋아요 &nbsp;&nbsp;</label>
          <label><input type="radio" name="Q1" value="3">보통이에요 &nbsp;&nbsp;</label>
          <label><input type="radio" name="Q1" value="4">수줍어해요 &nbsp;&nbsp;</label>
          <label><input type="radio" name="Q1" value="5">공격적이에요 &nbsp;&nbsp;</label>
        </div>
      </div>

      <div class="Q2 dash-line">
        <h4>Q. 다른 반려동물과의 친화력</h4>
        <div class="answer-contain">
          <label><input type="radio" name="Q2" value="1">매우좋아요 &nbsp;&nbsp;</label>
          <label><input type="radio" name="Q2" value="2">좋아요 &nbsp;&nbsp;</label>
          <label><input type="radio" name="Q2" value="3">보통이에요 &nbsp;&nbsp;</label>
          <label><input type="radio" name="Q2" value="4">수줍어해요 &nbsp;&nbsp;</label>
          <label><input type="radio" name="Q2" value="5">공격적이에요 &nbsp;&nbsp;</label>
        </div>
      </div>

      <div class="Q3 dash-line">
        <h4>Q. 잘 짖는 편인가요?</h4>
        <div class="answer-contain">
          <label><input type="radio" name="Q3" value="1">예 &nbsp;&nbsp;</label>
          <label><input type="radio" name="Q3" value="2">보통 &nbsp;&nbsp;</label>
          <label><input type="radio" name="Q3" value="3">아니오 &nbsp;&nbsp;</label>
        </div>
      </div>

      <div class="Q4 dash-line">
        <h4>Q. 분리불안 증세가 있나요?</h4>
        <div class="answer-contain">
          <label><input type="radio" name="Q4" value="1">예 &nbsp;&nbsp;</label>
          <label><input type="radio" name="Q4" value="2">보통 &nbsp;&nbsp;</label>
        </div>
      </div>

      <div class="Q5">
        <h4>Q. 앓고있는 지병이나 다친 경험이 있나요?</h4>
        <div class="answer-contain">
          <label><input type="radio" name="Q5" value="1">예 &nbsp;&nbsp;</label>
          <label><input type="radio" name="Q5" value="2">보통 &nbsp;&nbsp;</label>
        </div>
      </div>

      <div class="Q5-1 dash-line">
        <h4>Q. 지병이나 다친 경험이 있다면 주의해야 할 행동과 함께 적어주세요.</h4>
        <textarea></textarea>
      </div>

      <div class="Q6">
        <h4>Q. 음식 알러지가 있나요?</h4>
        <div class="answer-contain">
          <label><input type="radio" name="Q6" value="1">예 &nbsp;&nbsp;</label>
          <label><input type="radio" name="Q6" value="2">아니오 &nbsp;&nbsp;</label>
        </div>
      </div>

      <div class="Q6-1 dash-line">
        <h4>Q. 알러지가 있다면 어떤 음식인지 적어주세요.</h4>
        <textarea></textarea>
      </div>

      <div class="Q7 dash-line">
        <h4>Q. 대소변은 잘 가리나요?</h4>
        <div class="answer-contain">
          <label><input type="radio" name="Q7" value="1">예 &nbsp;&nbsp;</label>
          <label><input type="radio" name="Q7" value="2">아니오 &nbsp;&nbsp;</label>
        </div>
      </div>


      <div class="Q8 dash-line">
        <h4>Q. 실내 마킹을 하나요?</h4>
        <div class="answer-contain">
          <label><input type="radio" name="Q8" value="1">예 &nbsp;&nbsp;</label>
          <label><input type="radio" name="Q8" value="2">아니오 &nbsp;&nbsp;</label>
        </div>
      </div>

      <div class="Q9 dash-line">
        <h4>Q. 예방접종을 하셨나요? </h4>
        <div class="answer-contain">
          <label><input type="checkbox" name="Q9" value="1">혼합예방주사(DHPPL) &nbsp;&nbsp;</label>
          <label><input type="checkbox" name="Q9" value="2">코로나장염(연 1회) &nbsp;&nbsp;</label>
          <label><input type="checkbox" name="Q9" value="3">관견병 &nbsp;&nbsp;</label>
          <label><input type="checkbox" name="Q9" value="4">기관지염(연 1회) &nbsp;&nbsp;</label>
          <label><input type="checkbox" name="Q9" value="5">심장사상충(월 1회) &nbsp;&nbsp;</label>
        </div>
      </div>

      <div class="Q10 dash-line">
        <h4>자주 다니는 병원 정보</h4>
        <table>
          <tr align="center">
            <td>병원명</td>
            <td><input type="text" name="pethospital" placeholder="병원명" onfocus="this.placeholder=''"
                       onblur="this.placeholder='병원명'" required></td>
          </tr>
          <tr align="center">
            <td>전화번호</td>
            <td><input type="text" name="pethospital" placeholder="02-2148-2842"
                       onfocus="this.placeholder=''"
                       onblur="this.placeholder='02-2148-2842'" required></td>
          </tr>
          <tr align="center">
            <td>간략주소</td>
            <td><input type="text" name="pethospital" placeholder="서울시 종로구 인사동"
                       onfocus="this.placeholder=''"
                       onblur="this.placeholder='서울시 종로구 인사동'" required></td>
          </tr>
        </table>
      </div>

      <div>
        <input id="petRegistSubmit" class="submitButton" type="submit" value="저장">
      </div>
    </form>
  </div>-->
</div>

<!-- common footer -->
<div th:replace="common/footer.html"></div>

</body>

</html>