<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/member/event.js"></script>
    <script defer type="text/javascript" src="/js/main/mainPage.js"></script>
    <link href="/css/member/style_.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Roboto:ital,wght@0,400;1,300&display=swap"
          rel="stylesheet">

    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static_Image/common/main/favicon.ico">
    <link rel="stylesheet" href="/css/common/headerFooter.css"/>

</head>

<body>

<!-- common header -->
<div th:replace="common/header_white.html"></div>

<div id="pet-profile-regist" class="myPageMain-container">

    <div class="left-navi"></div>

    <div class="myPageMainWrapper">
        <h2 class="mainTitle">반려동물 프로필</h2>
        <div class="nav-line"></div>

        <!-- 반려동물 등록 수만큼 pet-profile-box가 반복 -->
        <div class="pet-profile-box" th:each="petProfile : ${petProfileList}">

            <div class="pet-profile-info">
                <div class="pet-profileImg">
                    <th:block th:each="petImg : ${petProfile.petImgList}">
                        <img th:if="${petImg.fileType == 'MainImg'}"
                             th:src="${petImg.filePathName}"   >
                    </th:block>
                </div>
                <div class="pet-profile-detail">
                    <div class="pet-name"><p th:text="${petProfile.petName} + ' / '"></p></div>
                    <div class="pet-regist"><p th:text="${petProfile.petRegist} + ' / ' "></p></div>
                    <div class="pet-age"><p th:text="${petProfile.petAge} +살+' / '"></p></div>
                    <div class="pet-weight"><p th:text="${petProfile.petWeight}+kg "></p></div>
                </div>

                <div class="result-button">
                    <button class="text-button reserve-button"
                            th:onclick="|location.href='/member/pet-profile-view?petCode=${petProfile.petCode}'|">상세정보
                    </button>
                </div>

            </div>
        </div>

        <div>
            <button class="submitButton add-pet-profile">
            <a href="/member/pet-profile-regist">반려동물 추가 등록</a>
            </button>
        </div>

    </div>


</div>
</div>

<!-- common footer -->
<div th:replace="common/footer.html"></div>

</body>

</html>