<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/css/member/res_info.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--
<form action="/member/resinfo" method="post"> -->
<div class="container">
    <table>
        <h2>예약 정보</h2>
        <tr>
            <td class="main">예약 날짜</td>
            <td></td>
        </tr>
        <tr>
            <td class="main">예약 코드</td>
            <td></td>
        </tr>
        <tr>
            <td class="main" id="thumbnail" rowspan="4"></td>
            <td class="main" id="title">제목</td>
        </tr>
        <tr>
            <td class="main" id="writer">작성자</td>
        </tr>
        <tr>
            <td class="main" id="tag">태그</td>
        </tr>
        <tr>
            <td class="main" id="price">가격</td>
        </tr>
        <tr>
            <td class="main">펫시터 케어 서비스 몇월 며칠~</td>
            <td class="main">맡기는 강쥐 이름</td>
        </tr>
    </table>
    <hr>
    <table>
        <h2>결제 정보</h2>
        <tr>
            <td class="main">서비스 이용 금액</td>
            <td class="main">88,000원</td>
        </tr>
        <tr>
            <td class="main">적립금 사용</td>
            <td class="main">보유 적립금</td>
            <td class="main">적립금을 100원 단위로 사용 가능합니다.</td>
        </tr>
        <tr>
            <td class="main">결제한 금액</td>
            <td class="main">88,000원</td>
        </tr>
    </table>
</div>

<!-- </form> -->
</body>

</html>