<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/member/reservationList.js"></script>
    <link href="/css/member/style_.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Roboto:ital,wght@0,400;1,300&display=swap"
          rel="stylesheet">

    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static_Image/common/main/favicon.ico">
    <link rel="stylesheet" href="/css/common/headerFooter.css"/>

</head>
<body>

<div th:replace="common/header_white.html"></div>

<div id="reservation-history" class="myPageMain-container">

    <div class="left-navi"></div>

    <div class="myPageMainWrapper">
        <h2 class="mainTitle">지난 예약 조회</h2>
        <div class="nav-line"></div>

        <table align="center" class="reserve-table">
            <tr>
                <th class="col_m">예약코드</th>
                <th class="col_m">예약일자</th>
                <th class="col_m" id="col_m3">서비스일자</th>
                <th class="col_m" id="col_m4">펫시터</th>
                <th class="col_m" id="col_m5">예약내역</th>
                <th class="col_m" id="col_m6">후기작성</th>
            </tr>

                <tr th:if="${ #lists.isEmpty(reservationList) }">
                    <td colspan="5">예약 결과가 존재하지 않습니다. 펫밀리의 서비스를 이용해보세요!</td>
                </tr>
                <tr class="res_history_box" th:each="resHistory : ${ reservationList }" th:unless="${#lists.isEmpty(reservationList)}">
                <!--<td class="col" id="col1" th:text="${ resHistory.resCode }" th:onclick="|location.href='/member/reservationDetail?resCode=${resHistory.resCode}'|"></td>
                <td class="col" id="col2" th:text="${ #strings.substring(resHistory.resAppDate, 0, 11) }" th:onclick="|location.href='/member/reservationDetail?resCode=${resHistory.resCode}'|"></td>
                <td class="col" id="col3" th:text="${ #strings.substring(resHistory.startDateTime, 0, 10) }" th:onclick="|location.href='/member/reservationDetail?resCode=${resHistory.resCode}'|"></td>
                <td class="col" id="col4" th:text="${ resHistory.resStatus }" th:onclick="|location.href='/member/reservationDetail?resCode=${resHistory.resCode}'|"></td>-->

                    <td class="col" id="col1" th:text="${ resHistory.reserveCode }" th:onclick="|location.href='/member/reservationDetail?reserveCode=${resHistory.reserveCode}'|"></td>
                    <td class="col" id="col2" th:text="${ #strings.substring(resHistory.startDateTime, 0, 11) }"></td>
                    <td class="col" id="col3" th:text="${ #strings.substring(resHistory.reserveAppDate, 0, 11) }"></td>
                    <td class="col" id="col4" th:text="${ resHistory.petSitter.memberInfo.nickName }" th:onclick="|location.href='/member/reservationDetail?reserveCode=${resHistory.reserveCode}'|"></td>
                    <!-- 펫시터 프로필 연결 가능하면 하기 -->
                    <td class="col" id="col5" th:text="${ resHistory.reserveStatus }" th:onclick="|location.href='/member/reservationDetail?reserveCode=${resHistory.reserveCode}'|"></td>
                <td class="col" id="col6">
                    <span th:if="${ resHistory.reserveStatus == '서비스완료' }">
                        <form action="/member/review-write" method="post">
                        <input type="hidden" name="reserveCode" th:value="${resHistory.reserveCode}" />
                        <input type="hidden" name="memberNo" th:value="${resHistory.petSitter.memberInfo.memberNo}" />
                            <a th:href="'/member/review-write?reserveCode=' + ${ resHistory.reserveCode }">작성하기</a>
                        </form>
                    </span>
                    <span th:if="${ resHistory.reserveStatus == '예약취소' }"></span>
                    <span th:if="${ resHistory.reserveStatus == '결제취소' }"></span>
<!--                    <span th:if="${ resHistory.reserveStatus == '예약취소' }" th:onclick="|location.href='/member/reservationDetail?reserveCode=${resHistory.reserveCode}'|"></span>-->
<!--                    <span th:if="${ resHistory.reserveStatus == '결제취소' }" th:onclick="|location.href='/member/reservationDetail?reserveCode=${resHistory.reserveCode}'|"></span>-->
                </td>
                </tr>
            </table>
        <p style="font-size: 12px">* 예약내역을 통해 상세내역을 살펴볼 수 있습니다. &nbsp;서비스 진행이 완료된 이후 후기를 작성할 수 있습니다.</p>
        </div>
    </div>

<div id="paging" align="center">
    <!-- 맨 앞으로 이동 -->
    <button th:onclick="'location.href=\'/member/reservationList?page=1\''">&lt;&lt;</button>

    <!-- 이전 페이지로 이동 -->
    <button
            th:onclick="'location.href=\'/member/reservationList?page=' + @{${paging.page - 1}} + '\''"
            th:disabled="${ paging.page <= 1 }">&lt;</button>

    <!-- 숫자 버튼 -->
    <th:block
            th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
        <button
                th:onclick="'location.href=\'/member/reservationList?page=' + @{${page}} + '\''"
                th:text="${ page }" th:disabled="${ paging.page eq page }">
        </button>
    </th:block>

    <!-- 다음 페이지로 이동 -->
    <button
            th:onclick="'location.href=\'/member/reservationList?page=' + @{${paging.page + 1}} + '\''"
            th:disabled="${ paging.page >= paging.maxPage }">></button>

    <!-- 맨 끝으로 이동 -->
    <button
            th:onclick="'location.href=\'/member/reservationList?page=' + @{${paging.maxPage}} + '\''">>></button>
    </th:block>
</div>


<!-- common footer -->
<div th:replace="common/footer.html"></div>
</body>
</html>