<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/member/event.js"></script>
    <script defer type="text/javascript" src="/js/main/mainPage.js"></script>
    <link href="/css/member/style_.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Roboto:ital,wght@0,400;1,300&display=swap"
          rel="stylesheet">

    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static_Image/common/main/favicon.ico">
    <link rel="stylesheet" href="/css/common/headerFooter.css"/>

</head>
<body>
<!-- common header -->
<div th:replace="common/header_white.html"></div>

<div id="reservation-in-progress" class="myPageMain-container">

    <div class="left-navi"></div>

    <div class="myPageMainWrapper">
        <h2 class="mainTitle">진행 중인 예약</h2>
        <div class="nav-line grey-line"></div>

        <!-- 예약 수만큼 reservation-box가 반복 -->
        <div class="reservation-box" th:each="reservation : ${progressReserveList}">
            <div class="reserve-info">
                <div class="sitter-profile">
                    <div class="sitter-profileImg">
                        <img class="sitterImg" src="/static_Image/member/petProfileTest1.png">

                    </div>
                    <div class="sitter-nickname">
                        <p th:text="${reservation.petSitter.memberInfo.nickName}"></p>
                    </div>
                </div>

                <div class="reserve-detail">
                    <div class="reserve-code">
                        <p th:text="예약코드 + ' : ' + ${reservation.reserveCode}"></p>
                    </div>
                    <div class="reserve-text">
                        <p th:text="'\''+${reservation.petSitter.memberInfo.nickName} + '\''"></p> 님에게 돌봄 서비스를 예약했어요.
                    </div>
                    <div class="nav-line grey-line"></div>
                    <div class="reserve-text-box">
                        <h3 class="reserve-service-exp">펫시터 돌봄 서비스</h3>
                        <div class="reserve-date">
                            <p>예약 기간 : </p>
                            <p th:text="${reservation.startDateTime} + ' ~ ' + ${reservation.endDateTime}"></p>

                        </div>
                        <div class="reserve-time">
                            <p>총 예약 시간 : </p>
                            <p th:text="${reservation.reserveDayCount} + 일 + ', ' + ${reservation.reserveTimeCount} + 시간"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="result-button">
                <th:block th:if="${reservation.reserveStatus == '대기'}">
                    <button class="text-button reserve-button grey">예약 취소</button>
                </th:block>

                <th:block th:if="${#strings.equals(reservation.reserveStatus, '결제대기')}">
                    <button class="text-button reserve-button blue">결제 진행</button>
                    <button class="text-button reserve-button grey">예약 취소</button>
                </th:block>

                <th:block th:if="${#strings.equals(reservation.reserveStatus, '서비스대기')}">
                    <button class="text-button reserve-button grey">예약 취소</button>
                </th:block>
            </div>
        </div>
    </div>
</div>

<!-- common footer -->
<div th:replace="common/footer.html"></div>
</body>
</html>