<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/member/event.js"></script>
    <script defer type="text/javascript" src="/js/main/mainPage.js"></script>
    <link href="/css/member/style_.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Roboto:ital,wght@0,400;1,300&display=swap"
          rel="stylesheet">

    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static_Image/common/main/favicon.ico">
    <link rel="stylesheet" href="/css/common/headerFooter.css"/>

</head>
<body>
<!-- common header -->
<div th:replace="common/header_white.html"></div>

<div id="review-list" class="myPageMain-container">

    <div class="left-navi"></div>

    <div class="myPageMainWrapper">
        <h2 class="mainTitle">내가 쓴 후기</h2>
        <div class="nav-line"></div>

        <table align="center" class="reviewList-table">
            <tr>
                <th class="col1">후기 번호</th>
                <th class="col2">작성일</th>
                <th class="col3">예약코드</th>
                <th class="col4">별점</th>
                <th class="col5">작성 내용</th>
            </tr>
            <tr th:if="${#lists.isEmpty(reviewList)}">
                <td colspan="5">후기 작성 내역이 존재하지 않습니다. 펫밀리의 서비스를 이용하고 후기를 남겨보세요
                    !</td>
            </tr>
            <tr th:each="review : ${reviewList}" th:unless="${#lists.isEmpty(reviewList)}">
                <td class="col1" th:text="${review.revCode}"></td>
                <td class="col2" th:text="${#dates.format(review.revCreatedDate, 'yyyy.MM.dd')}"></td>
                <td class="col3" th:text="${review.resCode}"></td>
                <td class="col4" th:text="${review.revScore}"></td>
                <td class="col5" th:text="${#strings.substring(review.revContent, 0, 10)}"></td>
            </tr>
        </table>

        <!-- 페이징 바 -->
        <div id="paging" align="center" style="margin-top: 20px;">

            <!-- 맨 앞으로 이동 -->
            <button
                    th:onclick="'location.href=\'/member/review-list?page=1' + '\''">&lt;&lt;</button>
            <!-- \:URL이 구성 될 javascript 문자열의 시작 + @{}:Thymeleaf표현식, ${}:Thymeleaf변수로 값들이 URL문자열로 연결 + \자스 문자열 닫음 -->
            <!-- "온클릭 속성 '문자열? \자스 -->

            <!-- 이전 페이지로 이동 -->
            <button
                    th:onclick="'location.href=\'/member/review-list?page=' + @{${paging.page - 1}} + '\''"
                    th:disabled="${ paging.page <= 1 }">&lt;</button>

            <!-- 숫자 버튼 -->
            <th:block
                    th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
                <button
                        th:onclick="'location.href=\'/member/review-list?page=' + @{${page}} + '\''"
                        th:text="${ page }" th:disabled="${ paging.page eq page }">
                </button>
            </th:block>

            <!-- 다음 페이지로 이동 -->
            <button
                    th:onclick="'location.href=\'/member/review-list?page=' + @{${paging.page + 1}} + '\''"
                    th:disabled="${ paging.page >= paging.maxPage }">></button>

            <!-- 맨 끝으로 이동 -->
            <button
                    th:onclick="'location.href=\'/member/review-list?page=' + @{${paging.maxPage}} + '\''">>></button>

            </th:block>
        </div>

    </div>
</div>

<!-- common footer -->
<div th:replace="common/footer.html"></div>
</body>
</html>