<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/member/event.js"></script>
    <link href="/css/member/style_.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Roboto:ital,wght@0,400;1,300&display=swap"
          rel="stylesheet">

    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static_Image/common/main/favicon.ico">
    <link rel="stylesheet" href="/css/common/headerFooter.css"/>

</head>
<body>
<!-- common header -->
<div th:replace="common/header_white.html"></div>

<div id="review-write" class="myPageMain-container">

    <div class="left-navi"></div>

    <div class="myPageMainWrapper">
        <h2 class="mainTitle">후기 작성하기</h2>
        <div class="nav-line"></div>

        <form id="reviewForm" action="/member/review_write" method="post">

            <div class="pet-profile-img">
                <img class="petProfileImg" src="/static_Image/member/petProfile.png">
            </div>

            <div style="display: none;">
                <input type="file" name="attachImage" accept="image/gif,image/jpeg,image/png">
            </div>


            <div class="nav-line"></div>

            <div class="starGrade">
                <div class="">
                    <p>펫시터에 대한 별점</p>
                </div>

                <div class="starPoint">

                </div>
            </div>

            <div class="letterReview">
                <textarea></textarea>
            </div>
        </form>
    </div>
</div>

<!-- common footer -->
<div th:replace="common/footer.html"></div>
</body>
</html>