<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/member/sidebar.css" rel="stylesheet">
</head>
<body>

<hr id="sidebar_hr">
<aside class="side-bar">
    <div id="myPage">
        <p class="main">마이페이지</p>
        <p class="sub" id="petProfile">반려동물 프로필</p>
        <p class="sub" id="myInfo">내 정보 확인</p>
        <p class="sub" id="point">적립금</p>
    </div>
    <div id="myActivity">
        <p class="main">나의 활동</p>
        <p class="sub" id="myReview">내가 쓴 후기</p>
        <p class="sub" id="ingReserv">진행중인 예약</p>
        <p class="sub" id="reservationList">지난 예약</p>
        <p class="sub" id="payList">결제내역</p>
    </div>
    <div id="customer">
        <p class="main">고객센터</p>
        <p class="sub" id="notice">공지사항</p>
        <p class="sub" id="contact">1 : 1 문의</p>
    </div>
</aside>

</body>
</html>