<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <script defer type="text/javascript" src="/js/main/mainPage.js"></script>

    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static_Image/common/main/favicon.ico">
<!--    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" type="text/css" href="/css/member/update.css"/>
    <link rel="stylesheet" href="/css/common/headerFooter.css"/>



</head>

<body>

<div th:replace="common/header_white.html"></div>

<div class="my_info">

    <div class="image-area">
    </div>

    <hr id="hr1">

    <form action="/member/update" method="post">

        <table>
            <tr>
                <td class="input">이름</td>
                <td><p id="memberName" th:text="${ #authentication.principal.memberName }"></p></td>
            </tr>
            <tr>
                <td class="input">이메일</td>
                <td><p id="memberId" th:text="${ #authentication.principal.memberId }"></p></td>
            </tr>
            <tr>
                <td class="input">닉네임</td>
                <td><input class="wInput" type="text" maxlength="10" name="nickName"
                           th:value="${ #authentication.principal.nickName }" required></td>
                <td></td>
            </tr>
            <tr>
                <td class="input">연락처</td>
                <td><p id="phone" th:text="${ #authentication.principal.phone }"></p></td>
                <td></td>
            </tr>
            <tr>
                <td class="input">우편번호</td>
                <td><input class="wInput" type="text" name="postNo" id="zipCode" th:value="${ #authentication.principal.postNo }" readonly></td>
                <td><input type="button" value="검색" id="searchZipCode"></td>
            </tr>
            <tr>
                <td class="input">주소</td>
                <td><input class="wInput" type="text" name="address" id="address1" th:value="${ #authentication.principal.address }" readonly></td>
                <td></td>
            </tr>
            <tr>
                <td class="input">상세주소</td>
                <td><input class="wInput" type="text" name="address2" id="address2" th:value="${ #authentication.principal.address2 }"></td>
                <td></td>
            </tr>
        </table>
        <div style="display: none;">
            <input type="file" name="attachImage" accept="image/gif,image/jpeg,image/png">
        </div>
        <input type="submit" value="수정" id="modifyMember">

        <hr id="hr2">

        <div class="info_update">
            <input type="button" value="비밀번호 변경" id="updatePassword">
            <input type="button" value="펫밀리 탈퇴하기" id="deleteMember">
        </div>
    </form>

</div>




<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

    const $searchZipCode = document.getElementById("searchZipCode");

    $searchZipCode.onclick = function () {
        new daum.Postcode({
            oncomplete: function (data) {
                document.getElementById("zipCode").value = data.zonecode;
                document.getElementById("address1").value = data.address;
                document.getElementById("address2").focus();
            }
        }).open();
    }
</script>

<div th:replace="common/footer.html"></div>

<script>


    /* 내 정보 확인 - 수정하기 버튼 */
    if(document.getElementById("updateMember")) {
        const $update = document.getElementById("updateMember");
        $update.onclick = function() {
            location.href = "/member/update";
        }
    }


    /* 내 정보 확인 - 비밀번호 변경 버튼 */
    if(document.getElementById("updatePassword")) {
        const $update = document.getElementById("updatePassword");
        $update.onclick = function() {
            location.href = "/member/updatePassword";
        }
    }

    /* 내 정보 확인 - 회원 탈퇴 버튼 */
    if(document.getElementById("deleteMember")) {
        const $update = document.getElementById("deleteMember");
        $update.onclick = function() {
            location.href = "/member/delete";
        }
    }




    <!-- 사진 업로드 즉시 실행 함수 -->
    (function(){
        /* div image area 요소 */
        const imageArea = document.querySelectorAll(".image-area");
        /* input type=file 요소 */
        const fileElements = document.querySelectorAll("[type=file]");
        /* div 클릭 시 open 함수 동작하여 input type=file 클릭 */
        imageArea.forEach(item => item.addEventListener('click', open));
        /* 파일 첨부가 발생하는 상황에 preview 함수 동작 */
        fileElements.forEach(item => item.addEventListener('change', preview));

        function open() {
            const index = Array.from(imageArea).indexOf(this);
            fileElements[index].click();
        }

        function preview() {
            const index = Array.from(fileElements).indexOf(this);
            console.log(this);
            console.log(this.files, this.files[0]);
            /* 첨부 된 파일이 존재한다면 */
            if(this.files && this.files[0]) {
                const reader = new FileReader();
                reader.readAsDataURL(this.files[0]);
                /* 파일 로드 후 동작하는 이벤트 설정 */
                reader.onload = function() {
                    console.log(reader.result);
                    if(index === 0) {
                        imageArea[index].innerHTML = `<img src='${reader.result}' style='width:245px;height:265px'>`;
                    } else {
                        imageArea[index].innerHTML = `<img src='${reader.result}' style='width:245px;height:265px'>`;

                    }
                }
            }
        }

    })();
</script>

</body>
</html>