<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/css/member/updatePassword.css" />
    <script defer type="text/javascript" src="/js/member/reservationList.js"></script>

</head>

<body>
<div class="container">
    <form action="/member/updatePassword" method="post">

        <table>
            <tr>
                <td class="main_text">
                    비밀번호 변경
                </td>
            </tr>
            <hr id="hr1">
            <tr class="input_1">
            <tr>
                <td class="text">현재 비밀번호</td>
                <td><input type="password" class="input" name="memberPwd" id="password"
                           autocomplete="current-password"></td>
                <td></td>
            </tr>
            <tr>
                <td class="text">새 비밀번호</td>
                <td><input type="password" class="input" name="updatePassword1" id="updatePassword1"></td>
                <td></td>
            </tr>
            <tr>
                <td class="text">새 비밀번호 확인</td>
                <td><input type="password" class="input" name="updatePassword2" id="updatePassword2"></td>
                <td></td>
            </tr>
            </tr>
        </table>
        <hr id="hr2">
        <div class="updateContainer">
            <input type="submit" value="변경하기" id="modifyPassword">
        </div>
    </form>

</div>

</body>


</html>