<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1:1문의 조회</title>
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static_Image/common/favicon.ico">
    <link rel="stylesheet" href="/css/common/headerFooter.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/board/qna.css"/>
</head>
<body>
<div th:replace="common/header_white.html"></div>

<div class="board_wrap">
    <div class="board_title">
        <strong>1:1 문의조회</strong>
        <p>펫밀리의 1:1 문의를 빠르고 정확하게 안내해드립니다.</p>
    </div>
    <div class="board_view_wrap">
        <div class="board_view">
            <div class="title">
                펫시터를 신고하고싶어요!
            </div>
            <div class="info">
                <dl>
                    <dt>분류</dt>
                    <dd>신고문의</dd>
                </dl>
                <dl>
                    <dt>작성자</dt>
                    <dd>김아름</dd>
                </dl>
                <dl>
                    <dt>작성일</dt>
                    <dd>2023.10.02</dd>
                </dl>
                <dl>
                    <dt>조회수</dt>
                    <dd>33</dd>
                </dl>
            </div>
            <div class="cont">
                글 내용이 들어갑니다<br>
                글 내용이 들어갑니다<br>
                글 내용이 들어갑니다<br>
                글 내용이 들어갑니다<br>
                글 내용이 들어갑니다<br>
                글 내용이 들어갑니다<br>
                글 내용이 들어갑니다<br>
                글 내용이 들어갑니다
            </div>
        </div>
        <div class="bt_wrap">
            <a href="QNA_list.html" class="on">목록</a>
            <a href="QNA_edit.html">수정</a>
        </div>
    </div>
</div>
<div th:replace="common/footer.html"></div>

</body>
</html>