<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1대1문의 등록</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static_Image/common/favicon.ico">
    <!--    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">-->

    <link rel="stylesheet" href="/css/main/main.css"/>
    <link rel="stylesheet" href="/css/common/headerFooter.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/board/css.css"/>-->
</head>
<body>
<div class="board_wrap">
    <div class="board_title">
        <strong>1:1 문의등록</strong>
        <p>펫밀리의 1:1 문의를 빠르고 정확하게 안내해드립니다.</p>
    </div>
    <div class="board_write_wrap">
        <div class="board_write">
            <div class="title">
                <dl>
                    <dt>제목</dt>
                    <dd><input type="text" placeholder="제목 입력" value="글 제목이 들어갑니다"></dd>
                </dl>
            </div>
            <div class="board_category">
                <div class="board_category_wrap">
                    <dl>
                        <dt>분류</dt>
                        <dd>
                            <select class="select">
                                <option value="report">신고문의</option>
                                <option value="basic">일반문의</option>
                                <option value="payment">결제문의</option>
                                <option value="etc">기타문의</option>
                            </select>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="info">
                <dl>
                    <dt>작성자</dt>
                    <dd><input type="text" placeholder="작성자 입력" value="정수현"></dd>
                </dl>
                <dl>
                    <dt>비밀번호</dt>
                    <dd><input type="password" placeholder="비밀번호 입력" value="1234"></dd>
                </dl>
            </div>
            <div class="cont">
                    <textarea placeholder="내용 입력">
글 내용이 들어갑니다.
글 내용이 들어갑니다.
글 내용이 들어갑니다.
글 내용이 들어갑니다.
글 내용이 들어갑니다.
글 내용이 들어갑니다.
글 내용이 들어갑니다.
글 내용이 들어갑니다.</textarea>
            </div>
            <div class="board_thumb">
                <dl>
                    <dt>첨부파일</dt>
                    <dd><input type="file" placeholder="선택된 파일 없음"></dd>
                </dl>
            </div>
        </div>
        <div class="bt_wrap">
            <a href="QNA_list.html" class="on">등록</a>
            <a href="QNA_list.html">취소</a>
        </div>
    </div>
</div>
</body>
</html>