<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>SearchPetSitter</title>
    <!--뷰 포트: 화면상의 화상 표시영역. 너비를 디바이스에 맞춤. 기본배율은 1.
    데스크탑 화면과 모바일의 뷰 포트는 차이가 있기 때문에 필요한 설정-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--favicion 설정:일반이미지는 사용할수없다.(Real Favicon Generator 사이트 활용하기)-->
    <!--    <link rel="icon" type="image/x-con" href="../resources/images/favicon.ico">-->
    <!--리셋 CSS: 브라우저별로 디폴트로 적용된 CSS(여백,폰트)에 차이가 있으므로
        브라우저별로 다르게 보일수 있어 리셋CSS를 활용한다.(unpkg ress라고 검색창에 검색)
    다른사람이 만들 리셋CSS를 링크로 가져와서 다운로드해서 사용한다.-->
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/css/petSitter/searchPage.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Roboto:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/common/headerFooter.css"/>
</head>
<body>
<div th:replace="common/header_white.html"></div>

<div class="sub_container">
<div class="search-data">
    <form id="search-box" action="/petSitter/searchPage">

        <div class="input-area">
            <div class="search1" name="searchCondition">지역찾기</div>
       <label>
           <input class="region" name="searchValue"  placeholder="주소를 입력해주세요" value maxlength="50">
       </label>
        </div>


    </form>


<div class="search-btn-box"
     th:onclick="|location.href='/petSitter/searchPage?searchCondition=${address}&searchValue=${searchValue}'|">
    <button type="submit" class="search-btn"  value="검색">찾기</button>
    <button class="search-init" name="init-btn" value="초기화">초기화</button>
</div>


</div>
</div>


<div class="container">

<div class="petsitter-box">

<div class="petsitter-info" th:each="petSitter : ${petSitterList}"
                            th:onclick="|location.href='/petSitterNew/petSitterProfile?petMemberNo=${petSitter.petMemberNo}'|">

        <div class="petsitter-wrap">
        <div class="petsitter-photo">
        <a ><img src="/static_Image/petSitter/petsitter-image.png" class="photo"></a>
    </div>
        <div class="petsitter-content">
         <div class="title">
        <div  class="comment">
            <div th:text ="${petSitter.petTitle}" class="first-comment1" name="petTitle">

            </div>
            <div class="profile">
                <div class="petsitter-photo2">
                    <img src=/static_Image/petSitter/profileDog.png class="dog-photo">
                </div>

            <div th:text ="${petSitter.nickname}" class="petsitter-nickname" name="nickname ">

            </div>
            </div>
        </div>
         </div>


      <div th:if="${petSitter.tagContentList != null}" class="tag-collection">
            <div  th:each="tag : ${petSitter.tagContentList}"  class="tagname">
                <span th:text="${tag.tagContent}" class="tag-text"></span>
            </div>
      </div>

            <div class="price-box">
            <div  th:if="${petSitter.petMDayPay != 0}" class="price" >중소형 1박 : <span th:text="${petSitter.petMDayPay}" ></span> </div>
            <div th:if="${petSitter.petMTimePay != 0}" class="price">중소형 1시간 : <span th:text="${petSitter.petMTimePay}" ></span> </div>
            <div th:if="${petSitter.petLDayPay != 0}"  class="price">대형견 1박 : <span th:text="${petSitter.petLDayPay}" ></span> </div>
            <div th:if="${petSitter.petLTimePay != 0}" class="price">대형견 1시간 : <span  th:text="${petSitter.petLTimePay}" ></span></div>
        </div>


        <div class="review-box">
            <div class="review-content">
                <th:block th:each=" review : ${petSitter.reviewList}">
                <div class="profile-photo">
                </div>
                    <div class="score">
                        <th:block th:each="starNumber : ${#numbers.sequence(1, review.revScore)}">
                        <img src="/static_Image/petSitter/star-icon.png">
                        </th:block>
                    </div>

            <div  th:text="${review.revContent}" class="review-content">
                <div class="more">
                    <span>더보기</span>
                    <img>

                </div>

            </div>
                </th:block>
            </div>

        </div>

    </div>

        </div>



</div>


</div>



</div>
<div th:replace="common/footer.html"></div>
</body>
</html>