<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 부트스트랩 CSS 라이브러리 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <script src="/js/admin/admin.js"></script>
    <title>Title</title>
</head>
<body>
<!--네비게이션 바-->
<div class="navbar-title navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarNav">
        <a class="navbar-brand" href="main-member">PETMILY</a>
        <ul class="navbar-4">
            <li >
                <a class="nav-link" href="main-member">사이트 운영</a>
            </li>
            <li >
                <a class="nav-link" href="automail">SNS/메일</a>
            </li>
            <li >
                <a class="nav-link" href="atmosphere">통계</a>
            </li>
        </ul>
    </div>
</div>


<div> <!-- 사이트 운영 관리 메뉴 -->
    <ul class="menu">
        <!-- 사이트 운영 관리 메뉴 항목들 -->
        <!--수직 메뉴 드롭바-->
        <li>
            <a class="menu-li">회원관리</a>
            <ul class="submenu">
                <li><a href="main-member">회원리스트</a></li>
                <li><a href="secession">탈퇴리스트</a></li>
            </ul>
        </li>
        <li>
            <a class="menu-li">게시판관리</a>
            <ul class="submenu">
                <li><a href="board">게시판리스트</a></li>
                <li><a href="comment">댓글관리</a></li>
            </ul>
        </li>
        <li>
            <a class="menu-li">펫시터 신청폼관리</a>
            <ul class="submenu">
                <li><a href="applyform">신청폼리스트</a></li>
                <li><a href="management">신청관리</a></li>
            </ul>
        </li>
        <li>
            <a class="menu-li">예약관리</a>
            <ul class="submenu">
                <li><a href="reservation">예약리스트</a></li>
            </ul>
        </li>
    </ul>
</div>


<!-- 탭 컨텐츠 -->
<div class="details">
    <div class="tab-details tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <h4><b>회원 리스트</b></h4>
            <br>
            <div class="choose">
                <ul>
                    <li>• 회원등급 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="basketball" name="hobby" value="농구" checked>
                        <label for="basketball">농구</label></li>
                    <li>• 수신동의</li>
                    <li>• 검색어</li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>