<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 부트스트랩 CSS 라이브러리 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- jQuery 라이브러리를 추가 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <script src="/js/admin/admin.js"></script>
    <title>Title</title>
</head>
<body>
<script>
    var memberList = "[[${memberList}]]";
    //console.log(memberList);
    for (i = 0; i < memberList.length; i++) {
        // console.log(memberList[i]);
    }
</script>

<div class="navbar-title navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarNav">
        <a class="navbar-brand" href="main-member">PETMILY</a>
        <ul class="navbar-4">
            <li>
                <a class="nav-link" href="main-member">사이트 운영</a>
            </li>
            <li>
                <a class="nav-link" href="automail">SNS/메일</a>
            </li>
            <li>
                <a class="nav-link" href="atmosphere">통계</a>
            </li>
        </ul>
    </div>
</div>

<div> <!-- 사이트 운영 관리 메뉴 -->
    <ul class="menu">
        <!-- 사이트 운영 관리 메뉴 항목들 -->
        <!--수직 메뉴 드롭바-->
        <li>
            <a class="menu-li">회원관리</a>
            <ul class="submenu">
                <li><a href="main-member">회원리스트</a></li>
                <li><a href="secession">탈퇴리스트</a></li>
            </ul>
        </li>
        <li>
            <a class="menu-li">게시판관리</a>
            <ul class="submenu">
                <li><a href="board">게시판리스트</a></li>
                <li><a href="comment">댓글관리</a></li>
            </ul>
        </li>
        <li>
            <a class="menu-li">펫시터 신청폼관리</a>
            <ul class="submenu">
                <li><a href="applyform">신청폼리스트</a></li>
                <li><a href="management">신청관리</a></li>
            </ul>
        </li>
        <li>
            <a class="menu-li">예약관리</a>
            <ul class="submenu">
                <li><a href="reservation">예약리스트</a></li>
            </ul>
        </li>
    </ul>
</div>

<!-- 탭 컨텐츠 -->
<div class="contents">
    <div>
        <h4><b>❙ 회원 리스트</b></h4>
    </div>


    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <br>
        <div class="choose">
            <ul class="chkchoose">


                <form onsubmit="return validateMemberNumber()">

                    <!-- 체크박스 + 검색창 정보를 합쳐서 보내는 검색 버튼 -->
                    <button class="search-button" onclick="location.href='main-member'">검색</button>

                    <li><b>• 회원등급</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="entire" name="rating"
                                                                           value="전체">

                        <label for="entire">전체</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <input type="radio" id="common" name="rating" value="일반회원">
                        <label for="common">일반회원</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <input type="radio" id="petSitter" name="rating" value="펫시터회원">
                        <label for="petSitter">펫시터회원</label></li>


                    <!--                    <li><b>• 수신동의</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="email" name="marketing" value="이메일" checked>-->
                    <!--                        <label for="email">이메일</label></li>-->

                    <b>• 검색어</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <select id="searchCondition" name="searchCondition">
                        <option value="memberNo" th:selected="${ paging.searchCondition eq 'memberNo'}">번호</option>
                        <option value="memberName" th:selected="${ paging.searchCondition eq 'memberName'}">이름</option>
                        <option value="memberId" th:selected="${ paging.searchCondition eq 'memberId'}">아이디</option>
                    </select>

                    <input type="search" name="searchValue" id="searchInput"
                           placeholder=" 검색어를 입력해주세요.">

                </form>
            </ul>
        </div>
    </div>
</div>


<!--==================== 회원 목록 표 -->
<div class="overall-list">
    <div>
        <p class="result-text" style="margin-bottom: 0rem"
           th:text="${memberList != null ? '검색결과 : ' + #lists.size(memberList) + ' / 총 ' + (totalCount != null ? totalCount : '0') + '명' : '검색 결과가 없습니다.'}"></p>
    </div>

    <div class="member-list">
        <nav class="member-inventory">

            <form>
                <table class="table table-hover">
                    <colgroup>
                        <col width="2%"/>
                        <col width="10%"/>
                        <col width="12%"/>
                        <col width="12%"/>
                        <col width="12%"/>
                        <col width="12%"/>
                        <col class="management-button" width="10%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                            <label class="checkbox-inline" id="listChkAll">
                                <input type="checkbox" id="listChkAll" name="chkList" value="selectAll"
                                       onclick='selectAll(this)'> <!--회원 리스트 전체 체크박스-->
                                <!--=======================================-->
                            </label>
                        </th>
                        <th>번호</th>
                        <th>아이디</th>
                        <th>이름</th>
                        <th>등급</th>
                        <th>상태</th>
                        <th>가입일</th>
                        <th class="management-button">관리</th>
                    </tr>
                    </thead>
                    <tbody>

                    <!-- 회원 목록 데이터를 Thymeleaf 반복문을 사용하여 출력 -->
                    <tr class="memberfont" th:each="member : ${memberList}">
                        <td><input type="checkbox" id="CheckBoxs" class="chk" name="chkList" value="selectAll"></td>
                        <td th:text="${member.memberNo}"></td>
                        <td th:text="${member.memberId}"></td>
                        <td th:text="${member.memberName}"></td>
                        <td th:if="${member.memberCode.code == 1}" th:text="관리자"></td>
                        <td th:if="${member.memberCode.code == 2}" th:text="펫시터"></td>
                        <td th:if="${member.memberCode.code == 3}" th:text="일반회원"></td>
                        <td th:text="${member.memberStat}"></td>
                        <td th:text="${#dates.format(member.registDate, 'yyyy-MM-dd')}"></td>

                        <div id="btnWrap">
                            <td class="management-button">
                                <!-- 팝업창 2개 -->
                                <!--"1대1문의" 버튼을 클릭했을 때 popInquiry.html 호출-->
                                <button type="button" class="mbtn mbtn-primary" th:onclick="'window.open(\'/admin/poplnquiry?id=' + ${member.memberNo} + '\', \'poplnquiry\', \'width=750, height=850, left=650, top=180\');'">1대1문의</button>
                                <!--"관리" 버튼을 클릭했을 때 popManagement.html 호출-->
                                <button type="button" class="mbtn mbtn-primary" th:onclick="'window.open(\'/admin/popManagement?id=' + ${member.memberNo} + '\', \'popManagement\', \'width=750, height=850, left=650, top=180\');'">관리</button>
                        </div>
                    </tr>
                    </tbody>
                </table>
                <br>
            </form>
        </nav>
    </div>
</div>

<!--페이징 바======================-->
<div class="paging" id="paging" align="center">

    <th:block
            th:if="${ paging.searchCondition != null and paging.searchValue != null }">
        <!-- 맨 앞으로 이동 -->
        <button
                th:onclick="'location.href=\'/admin/main-member?page=1&searchCondition=' + @{${paging.searchCondition}} + '&rating=' + @{${paging.rating}} +  '&searchValue=' + @{${paging.searchValue}} + '\''">
            &lt;&lt;
        </button>

        <!-- 이전 페이지로 이동 -->
        <button
                th:onclick="'location.href=\'/admin/main-member?page=' + @{${paging.page - 1}} + '&rating=' + @{${paging.rating}} +  '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"
                th:disabled="${ paging.page <= 1 }">&lt;
        </button>

        <!-- 숫자 버튼 -->
        <th:block
                th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
            <button
                    th:onclick="'location.href=\'/admin/main-member?page=' + @{${page}} + '&rating=' + @{${paging.rating}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"
                    th:text="${ page }" th:disabled="${ paging.page eq page }">
            </button>
        </th:block>

        <!-- 다음 페이지로 이동 -->
        <button
                th:onclick="'location.href=\'/admin/main-member?page=' + @{${paging.page + 1}} + '&rating=' + @{${paging.rating}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"
                th:disabled="${ paging.page >= paging.maxPage }">>
        </button>

        <!-- 맨 끝으로 이동 -->
        <button
                th:onclick="'location.href=\'/admin/main-member?page=' + @{${paging.maxPage}} + '&rating=' + @{${paging.rating}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''">
            >>
        </button>
    </th:block>


    <th:block
            th:if="${ paging.searchCondition == null  || paging.searchValue == null }">
        <!-- 맨 앞으로 이동 -->
        <button th:onclick="'location.href=\'/admin/main-member?page=1\''">&lt;&lt;</button>

        <!-- 이전 페이지로 이동 -->
        <button
                th:onclick="'location.href=\'/admin/main-member?page=' + @{${paging.page - 1}} + '\''"
                th:disabled="${ paging.page <= 1 }">&lt;
        </button>

        <!-- 숫자 버튼 -->
        <th:block
                th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
            <button
                    th:onclick="'location.href=\'/admin/main-member?page=' + @{${page}} + '\''"
                    th:text="${ page }" th:disabled="${ paging.page eq page }">
            </button>
        </th:block>

        <!-- 다음 페이지로 이동 -->
        <button
                th:onclick="'location.href=\'/admin/main-member?page=' + @{${paging.page + 1}} + '\''"
                th:disabled="${ paging.page >= paging.maxPage }">>
        </button>

        <!-- 맨 끝으로 이동 -->
        <button
                th:onclick="'location.href=\'/admin/main-member?page=' + @{${paging.maxPage}} + '\''">>>
        </button>
    </th:block>

</div>


<!-- 하단 기능 버튼들 -->
<footer class="easy-skill-button">
    <div class="test1">
        <b>회원 일괄처리</b>
        <button onclick="">메일발송</button>
        <button onclick="">등급변경</button>
        <button onclick="">정지처리</button>
        <b class="Orange-text"> x체크한 회원만 처리됩니다</b>
    </div>
</footer>


</body>
</html>