<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 부트스트랩 CSS 라이브러리 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- jQuery 라이브러리를 추가 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- css 라이브러리를 추가 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <script src="/js/admin/admin.js"></script>
    <style>
        body{background-color: #FFFFFF}
        li {width: 100%}
        .list-group-item {padding: 0.4rem 1.25rem}
        /*.btnSubmit{width:100px; margin:auto; display:block;}*/
        li.list-group-item {display: flex; align-items: center;}
        label{margin-bottom: 0}
    </style>
    <title>PETMILY</title>
</head>
<body>

<tr class="BasicInfo" th:each="member : ${member}">
    <h4 style="background-color: #0b0809; color: #FFFFFF; padding-bottom: 1%; padding-top: 1%; padding-left: 10%;">
        <td th:text="${member.memberNo}"></td>번 ❙ <td th:text="${member.memberId}">
    </td>(<td th:text="${member.memberName}"></td>)님의 상세정보입니다.
    </h4>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist" style="margin-right: 10%; margin-left: 10%; font-size: 15px">
            <button class="nav-link active" id="nav-member-tab" data-bs-toggle="tab" data-bs-target="#nav-member" type="button" role="tab" aria-controls="nav-member" aria-selected="true"
                    style="color: #2f2f2f; border: 1px solid #505050"><b>회원정보</b></button>
            <button class="nav-link " id="nav-community-tab" data-bs-toggle="tab" data-bs-target="#nav-community" type="button" role="tab" aria-controls="nav-community" aria-selected="false"
                    style="color: #2f2f2f; border: 1px solid #505050"><b>커뮤니티</b></button>
            <button class="nav-link" id="nav-personalInquiry-tab" data-bs-toggle="tab" data-bs-target="#nav-personalInquiry" type="button" role="tab" aria-controls="nav-personalInquiry" aria-selected="false"
                    style="color: #2f2f2f; border: 1px solid #505050"><b>1대1문의</b></button>
        </div>
    </nav><br>

    <div class="tab-content" id="nav-tabContent" style="margin-right: 10%; margin-left: 10%; font-size: 13px">
        <!-- 회원정보 내용 추가 ==================================-->
        <div class="tab-pane fade show active"  id="nav-member" role="tabpanel" aria-labelledby="nav-member-tab" style="border: 1px solid #FFFFFF; ">

            <h6><b>☑ 회원 기본 정보</b></h6>
            <form  method="post" action="popManagementResult">

                <label><input name="no" type="hidden" th:value="${member.memberNo}"></label>

            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="max-width: 23%; background-color: #e7e9ea"><b>아이디/이메일</b></li>
                <li class="list-group-item"><td th:text="${member.memberId}"></td></li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="max-width: 23%; background-color: #e7e9ea"><b>이름</b></li>
                <li class="list-group-item"><td th:text="${member.memberName}"></td></li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="max-width: 23%; background-color: #e7e9ea"><b>닉네임</b></li>
                <li class="list-group-item"><td th:text="${member.nickName}"></td></li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="max-width: 23%; background-color: #e7e9ea"><b>등급</b></li>
                <li class="list-group-item" style="margin-right: 1%">
                    <input type="radio" name="memberType" value="1" th:checked="${member.memberCode.code == 1}"> 관리자
                    <input type="radio" name="memberType" value="2" th:checked="${member.memberCode.code == 2}"> 펫시터
                    <input type="radio" name="memberType" value="3" th:checked="${member.memberCode.code == 3}"> 일반회원
                </li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="max-width: 23%; background-color: #e7e9ea"><b>회원가입일</b></li>
                <li class="list-group-item"><td th:text="${#dates.format(member.registDate, 'yyyy-MM-dd')}"></td></li>
            </ul>
            <br>

            <h6><b>☑ 사이트 가입 정보</b></h6>


            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="max-width: 23%; background-color: #e7e9ea"><b>우편번호</b></li>
                <li class="list-group-item"><td th:text="${member.postNo}"></td></li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="max-width: 23%; background-color: #e7e9ea"><b>주소</b></li>
                <li class="list-group-item"><td th:text="${member.address}"></td></li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="max-width: 23%; background-color: #e7e9ea"><b>상세주소</b></li>
                <li class="list-group-item"><<td th:text="${member.address2}"></td></li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="max-width: 23%; background-color: #e7e9ea"><b>연락처</b></li>
                <li class="list-group-item"><td th:text="${member.phone}"></td></li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="max-width: 23%; background-color: #e7e9ea"><b>성별</b></li>
                <li class="list-group-item"><td th:text="${member.gender}"></td></li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="max-width: 23%; background-color: #e7e9ea"><b>상태</b></li>
                <li class="list-group-item"><label><input name="stat" type="text" th:value="${member.memberStat}" value="기본값"></label></li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="max-width: 23%; background-color: #e7e9ea"><b>상태변경일</b></li>
                <li class="list-group-item"><td th:text="${#dates.format(member.memberStatDate, 'yyyy-MM-dd')}"></td></li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="max-width: 23%; background-color: #e7e9ea"><b>경고횟수</b></li>
                <li class="list-group-item"><td th:text="${member.warningCount}"></td></li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="max-width: 23%; background-color: #e7e9ea"><b>적립금</b></li>
                <li class="list-group-item"><label><input name="point" type="text" th:value="${member.point}" value="기본값"></label></li>
            </ul>
            <br>
<!--            <h6><b>☑ 관리자 운영메모</b></h6>-->
<!--            <textarea name="memo" rows="2" cols="94" style="width: 100%">-->
<!--            내용-->
<!--            </textarea>-->
                <button type="submit" id="updateButton" class="btn btn-primary" style="float: right; margin-top: 3%">수정</button>
            </form>
        </div>

        <!-- 커뮤니티 내용 추가 ==============================-->
        <div class="tab-pane fade " id="nav-community" role="tabpanel" aria-labelledby="nav-community-tab" style="border: 1px solid #FFFFFF">

            fr
        </div>

        <!-- 1대1문의 내용 추가 ================================-->
        <div class="tab-pane fade" id="nav-personalInquiry" role="tabpanel" aria-labelledby="nav-personalInquiry-tab" style="border: 1px solid #FFFFFF">
            ㅅㅅ
        </div>

    </div>
</tr>

<footer>

</footer>



</body>
</html>