<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 부트스트랩 CSS 라이브러리 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- jQuery 라이브러리를 추가 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- css 라이브러리를 추가 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <script src="/js/admin/admin.js"></script>

    <title>PETMILY</title>
</head>
<body>

<tr class="memberfont" th:each="petSitter : ${petSitterList}">
<h4 style="background-color: #0b0809; color: #FFFFFF; padding-bottom: 1%; padding-top: 1%; padding-left: 10%;">
    <td th:text="${petSitter.member.memberNo}"></td>번 ❙ <td th:text="${petSitter.member.memberId}"></td>
    (<td th:text="${petSitter.member.memberName}"></td>)님의 펫시터 신청폼입니다.
</h4>
</tr>

            <div class="contentBox">
                <div class="marginBotton20">
                    <h3>ο 대표문구</h3>
                    <input type="text" name="petTitle" placeholder="ex) 애견전공/공원산책/애기 안심하고 맡겨주세요!" required>
                </div>
                <div class="marginBotton20 borderBottomLine">
                    <h3>ο 소개글</h3>
                    <textarea name="petIntroduce" placeholder="자유롭게 소개해주세요."></textarea>
                </div>
                <div class="reg_careBox">
                    <div class="marginBotton20">
                        <h3>ο 돌봄공간</h3>
                        <input type="text" name="petPlace" placeholder="아파트, 빌라, 오피스텔 등" required>
                    </div>
                    <div class="marginBotton20">
                        <h3>ο 돌봄가능 반려견수</h3>
                        <select name="petCareCount">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div class="reg_radioBox marginBotton20 borderBottomLine">
                    <div class="reg_radio_row">
                        <div class="reg_radio_div">
                            <h3>ο 12세 이하 아동 유무</h3>
                            <label><input type="radio" name="petBabyYn" value="Y" checked>예 &nbsp;&nbsp; </label>
                            <label><input type="radio" name="petBabyYn" value="N">아니오</label>
                        </div>
                        <div class="reg_radio_div">
                            <h3>ο 반려견 펜스 유무</h3>
                            <label><input type="radio" name="petPence" value="Y" checked>예 &nbsp;&nbsp; </label>
                            <label><input type="radio" name="petPence" value="N">아니오</label>
                        </div>
                    </div>
                    <div class="reg_radio_row">
                        <div class="reg_radio_div">
                            <h3>ο 반려견 유무</h3>
                            <label><input type="radio" name="petMypetYn" value="Y" checked>예 &nbsp;&nbsp; </label>
                            <label><input type="radio" name="petMypetYn" value="N">아니오</label>
                        </div>
                        <div class="reg_radio_div">
                            <h3>ο 흡연 유무</h3>
                            <label><input type="radio" name="petSmokYn" value="Y">예 &nbsp;&nbsp; </label>
                            <label><input type="radio" name="petSmokYn" value="N" checked>아니오</label>
                        </div>
                    </div>
                </div>
                <div class="marginBotton20 borderBottomLine">
                    <div class="marginBotton20">
                        <h3>ο 돌봄가능 반려견 크기</h3>
                        <input type="text" name="petCareSize" placeholder="소/중/대 몇 kg까지" required>
                    </div>
                    <div>
                        <h3>ο 돌봄가능 반려견 나이</h3>
                        <input type="text" name="petCareAge" placeholder="몇세까지, 노령견 특이사항" required>
                    </div>
                </div>
                <div class="reg_checkTime marginBotton20 borderBottomLine">
                    <div class="reg_checkTime_row">
                        <h3>ο 체크인 시간</h3>
                        <input type="text" name="petCheckIn" placeholder="ex) 09:00 ~ 23:00" required>
                    </div>
                    <div class="reg_checkTime_row">
                        <h3>ο 체크아웃 시간</h3>
                        <input type="text" name="petCheckOut" placeholder="ex) 09:00 ~ 23:00" required>
                    </div>
                </div>
                <div class="borderBottomLine">
                    <div class="marginBotton20">
                        <h3>ο 요청글</h3>
                        <input type="text" name="petRequest" placeholder="ex) 평소먹는 펫푸드/간식, 애착장난감 등" required>
                    </div>
                    <div class="marginBotton20">
                        <h3>ο 불가글</h3>
                        <input type="text" name="petImpossible" placeholder="ex) 심한 하우링, 물거나 공격적인아이, 마킹 심한아이 등" required>
                    </div>
                </div>
                <div class="reg_payBox borderBottomLine">
                    <div class="reg_ML_payBox">
                        <div class="marginBotton20">
                            <h3>ο 중소형 1박 이용금액</h3>
                            <input type="text" name="petM_DayPay" placeholder="콤마없이 작성해주세요" required>
                        </div>
                        <div class="marginBotton20">
                            <h3>ο 중소형 1시간 이용금액</h3>
                            <input type="text" name="petM_TimePay" placeholder="콤마없이 작성해주세요" required>
                        </div>
                    </div>
                    <div class="reg_ML_payBox">
                        <div class="marginBotton20">
                            <h3>ο 대형 1박 이용금액</h3>
                            <input type="text" name="petL_DayPay" placeholder="콤마없이 작성해주세요" required>
                        </div>
                        <div class="marginBotton20">
                            <h3>ο 대형 1시간 이용금액</h3>
                            <input type="text" name="petL_TimePay" placeholder="콤마없이 작성해주세요" required>
                        </div>
                    </div>
                </div>
                <div class="reg_bankBox borderBottomLine">
                    <div class="marginBotton20">
                        <h3>ο 은행이름</h3>
                        <input type="text" name="petBank" placeholder="ex) 국민은행" required>
                    </div>
                    <div class="marginBotton20">
                        <h3>ο 계좌번호</h3>
                        <input type="text" name="petBankNo" placeholder="ex) 000000-00-000000" required>
                    </div>
                    <div class="marginBotton20">
                        <h3>ο 예금주</h3>
                        <input type="text" name="petBankName" placeholder="ex) 홍길동" required>
                    </div>
                </div>
                <div class="reg_add_div">
                    <div class="reg_tagBox">
                        <h3>ο 입력하고 싶은 태그</h3>
                        <div class="tag_buttons">
                            <input type="text" name="tagContent" placeholder="ex) 실외배변"> <input type="button" class="tagBtnAdd" value="추가"><br>
                        </div>
                    </div>
                    <div>
                        <h3>ο 경력교육</h3>
                        <div class="career_buttons">
                            <input type="text" name="careerContent" placeholder="ex) 반려견 양육경험 약10년"> <input type="button" class="careerBtnAdd" value="추가"><br>
                        </div>
                    </div>
                </div>
                <div class="reg_schedule_div borderBottomLine">
                    <h3>ο 예약 일정 등록</h3>
                    <div class="scheduleBox">
                        <input type="text" id="flatpickrDate" name="petMemberResDay" placeholder="※ 불가능한 날짜를 선택해주세요." readonly required>
                        <h5 class="marginTop20">※ 불가능한 날짜를 선택해주세요.(다중선택가능)</h5>
                    </div>

                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn">신청하기</button>
            <button type="reset" class="btn">다시작성</button>
        </div>
    </form>
</div>

</body>
</html>