@charset "UTF-8";/*인코딩 문자 깨짐 방지*/


html {

    /*사용자가 설정한 문자 크기 그대로 반영될수 있도록*/

}

a{
    text-decoration: none;
}

/*img{*/
/*    max-width: 100%;*/
/*}*/

#body{
    /*font-size: 100%;*/
    font-family: 'Noto Sans KR', sans-serif;
}

.mode-bar{
    width: 100%;
    height: 50px;
    background-color: #81BDF1;
    margin-bottom: 30px;
    margin-top: -117px;
    position: sticky;
    top: 90px;



}

.member-mode{
    background-color: white;
    position: absolute;
    margin-left: 1373px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;


}

.petsitter-mode {

    background-color: #FFDD69;
    position: absolute;
    margin-left: 1373px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 26px;
    flex-direction: row;


}

.mode{

    margin-top: 10px;
    margin-left: 18px;
    /*font-weight: 600;*/
    display: flex;

}


.profile-info{

    height: 250px;
    width: 700px;
    margin-left: 600px;
    margin-bottom: 60px;
    border: 5px solid;
    border-color: dimgray;
    border-radius: 7px;
}


.profile-picture{

    float: left;
    margin-right: 50px;
}

.introduce{
    margin-top: 55px;
    display: flex;
    flex-direction: column;


}

#profile-photo{

    width: 160px;
    height:160px;
    border-radius: 80px;
    margin-top: 40px;
    margin-left: 25px;

}

.profile-name{

    margin-bottom: 25px;
}







/*aside{*/
/*    width: 22%;*/
/*    margin-top: 200px;*/
/*    margin-left: 150px;*/

/*}*/


.sidebar{

    position: sticky;
    top: 500px;
    width: 200px;
    margin-right: 150px;
    margin-left: 20px;
}

.sub-title{

    font-size: 15px;
    color: lightskyblue;
    margin-bottom: 20px;
}

.sub-menu{
    list-style-type: none;
    margin-bottom: 20px;


}

.sub-menu-link{

    color: black;
}


.sub-menu-link:hover{
    font-weight : bold;


}


.petsitter-account{

    height: 380px;
    width: 700px;
    margin-left: 600px;
    margin-bottom: 60px;
    border: 5px solid;
    border-color: dimgray;
    border-radius: 7px;
    margin-bottom: 150px;
}

.account-holder{

    display: flex;
}
.name1{

    margin-top: 30px;
    margin-left: 30px;
    margin-right: 80px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 20px;
}

.name2{

    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;

}

.account{

    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 30px;
}

.bank{


    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 30px;

}

/*.modify{*/

/*    width: 80px;*/
/*    height: 40px;*/
/* */
/*}*/


.modify-btn{
    width: 200px;
    height: 50px;
    font-size: 30px;
    background-color: lightskyblue;
    margin-left: 430px;




}





