@charset "UTF-8"; /* 인코딩 문자 깨짐 방지 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Roboto:ital,wght@0,400;1,300&display=swap');

/* common ----------------------------------- */

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* em -> 부모
        rem -> 최상위 부모 */
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body, p {
    height: 100%;
    font-family: 'Noto Sans KR','Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

a {
    text-decoration: none;      /* 하이퍼 링크 밑줄 x */
}

span {
    font-weight: 500;
}


