@charset "UTF-8"; /* 인코딩 문자 깨짐 방지 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Roboto:ital,wght@0,400;1,300&display=swap');

/* common ----------------------------------- */

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* em -> 부모
        rem -> 최상위 부모 */
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body, p {
    height: 100%;
    font-family: 'Noto Sans KR','Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

a {
    text-decoration: none;      /* 하이퍼 링크 밑줄 x */
}

span {
    font-weight: 500;
}


/* common ----------------------------------- */

.psp_container {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 150px auto 0;
    background-color: white;
    position: relative;
}

.psp_left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: calc(66.6% - 20px);
    margin-right: 20px;

    border: 1px solid darkgray;
}

.psp_img {
    width: 100%;
    height: 670px;

    border: 1px solid darkgray;
}

.psp_img_main {
    width: 100%;
    height: 560px;

    border: 1px solid darkgray;
}

.psp_img_sub {
    width: 100%;
    height: 108px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 0 7px;
    text-align: center;

    border: 1px solid darkgray;
}

.psp_img_subImg {
    height: 85px;
    display: block;
    float: left;
    width: calc((100% - 61px)/6);
    margin: 0 auto;

    border: 1px solid darkgray;
}

.psp_profile {
    width: 720px;
    height: 170px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px dashed #e3e3e3;
    margin: 10px auto;

}

.psp_profile_box {
    width: 15%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

    border: 1px solid darkgray;
}

.psp_profile_img {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 10px;
    padding: 2px;
    margin-top: 15px;
    border: 1px solid #D7B59C;
}

.psp_profile_star {
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.psp_item_content {
    width: 85%;
    height: 170px;
    display: flex;
    flex-direction: column;

    border: 1px solid darkgray;
}

.psp_item_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.psp_item_box {
    display: flex;
    flex-direction: row;

}

.psp_profile_name {
    font-size: 16px;
    margin-bottom: 6px;
    display: inline-block;
}

.psp_profile_address {
    font-size: 12px;
    line-height: 18px;
    height: 18px;
    display: inline-block;
    margin-left: 12px;
    margin-top: 8px;
}

.psp_profile_tag {
    display: flex;
    flex-wrap: wrap;

    margin-top: 10px !important;
}

.tagBox {
    display: inline-block;
    background: #FCDB6B;
    color: #fff;
    font-size: 12px;
    padding: 4px 12px;
    border-radius: 3px;
    margin-right: 6px;
    margin-bottom: 6px;
}

.psp_introduce {
    width: 720px;
    height: 170px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed #e3e3e3;
    margin: 20px auto;
}

.psp_item_title {

}

.psp_item_text {
    width: 100%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.psp_right {
    width: 33.33%;

    border: 1px solid darkgray;
}