html, body{
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}


.main{
    margin-top: 150px;
    width: 80%;
    display: block;
    background: #ababab;
    margin-left: 200px;
    margin-bottom: 150px;
}
.content-wrap{
    width: 100%;
    margin:0 auto;
    border: 4px solid rgba(161, 161, 161, 0.5);
    border-radius: 20px;
    overflow: hidden;
    background: #ddaf35;
    display: flex;
    flex-direction: row;
}
.content-left{
    background: #0b0809;
    color:#ddaf35;
    float: left;
    width: 100%;
    padding: 30px;
}
.main-wrap{
    text-align: center;
    padding: 20px 0 0 0;
}
.main-day{
    font-size: 30px;
    font-weight: bold;
}
.main-date{
    font-size: 120px;
    font-weight: bold;
    margin: 20px 0;
}
.todo-wrap{
    padding: 0 0 0 40px;
}
.todo-title{
    font-size: 20px;
    font-weight: 100;
    margin: 0 0 10px 0;
}
.input-box{
    width: 50%;
    margin-right: 20px;
    height: auto;
    background: #0b0809;
    color: #ddaf35;
    line-height : normal;
    padding: .8em .5em 0 0;
    font-family: inherit;
    border: 0;
    border-bottom: 1px dashed #ddaf35;;
    border-radius: 0;
    outline-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input-data{
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    margin: 10px 0 10px 0;
    background: #ddaf35;
    border: none;
    color: #0b0809;
    border-radius: 10px;
}
.input-data:hover{
    background: #ffffff;
    color: #0b0809;
}
.input-list > div{
    font-size: 10px;
    width: 60%;
    float: left;
    color: #ddaf35;
}
.input-list > .checked{
    color: #FFFFFF;
    text-decoration:line-through
}
.del-data{
    display: block;
    color: #ddaf35;
    float: left;
    width: 10%;
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    background: #0b0809;
    border: none;
    border-radius: 10px;
}
.content-right{
    float: left;
    width: 90%;
    padding: 10px;
}
.sun{
    color:#ef3333;
}
.sat{
    color:#2107e0;
}
.content-right table tr td{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.active{
    background: #0b0809;
    border-radius: 50%;
    color: #ffffff;
}

.sidebar{

    position: sticky;
    top: 300px;
    width: 200px;
    margin-right: 150px;
    margin-left: 20px;
}
