body,html{
    width: 100%;

}


.container{
    display: flex;
    justify-content: center;
    align-items: center;


}

.petsitter-box{

    width: 1028px;
    height: 100%;
    /*border: 1px solid rgb(235, 235, 235);*/
    /*box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 12px 0px;*/
    display: flex;
    flex-direction: column;


    margin-top: 200px;


}

.profile{
    display: flex;
    flex-direction: row;
    height: 54px;
    border-radius: 15px;
    /*border: 1px solid #EBEBEB;*/
    /*box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 12px 0px;*/

}

.petsitter-photo2{

    width: 120px;
    height: 50px;

}



.petsitter-info{
    width: 1028px;
    /*border: 1px solid rgb(235,235,235);*/
    border-radius: 8px;
    margin-bottom: 15px;
    cursor: pointer;



}

.petsitter-wrap{
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 12px 0px;
    border: 1px solid #EBEBEB;
}

.petsitter-photo{

    width: 390px;
    height: 346px;

}

.dog-photo{

    object-fit: cover;
}

.photo{

    border-radius: 8px;
}


.petsitter-content{

    background-color: white;
    width: 600px;



}

.title{

    width: 638px;
    height: 200px;
    color: #383C48;
    padding: 20px 20px;

}

.comment{
    width: 100%;
    border-bottom: 1px solid rgb(235, 235, 235);
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.first-comment1{


    height: 100px;
    font-size: 27px;
    /*word-break: break-all;*/
    word-break: keep-all;
}

.petsitter-nickname{

    font-size: 18px;
    margin-left: 15px;
}







.tag-collection{
    display: flex;
    flex-wrap: wrap;/* 자식 요소가 부모 요소의 너비를 초과할 때 줄바꿈*/

}

.tagname{

    width: 96px;
    height: 50px;
    background-color: lightskyblue;
    border-radius: 8px;
    /*text-align: center;*/
    flex-direction: row;
    margin-right: 15px;

    /*vertical-align: center;*/
    line-height: 40px;
    display: flex;
    /*flex: 0 0 calc(20% - 10px); !* 5개의 자식 요소가 한 줄에 나타나도록 설정 *!*/
    margin: 5px; /* 각 자식 요소 사이의 간격 설정 */

}

.tag-text{


    text-align: center;
    vertical-align: center;
    font-size: 15px;

    /*justify-content: center;*/
    /*align-items: center;*/
}

.tag-collection :nth-child(1) {margin-left: 15px;

}

.tag-collection :nth-child(6) {margin-left: 15px;

}

.price-box{
    height: 50px;
    display: flex;
}

.price{
    flex-direction: column;
    line-height: 60px;
  
    margin-left: 15px;
  
  

   font-size: 13px;
    font-weight: bold;

}



.review-content{

    width: 615px;
  overflow: hidden;
    display: flex;
    line-height: 60px;
    margin-left: 20px;
    word-break: keep-all;
    font-size: 17px;
    height: 50px;
    overflow: hidden;

}


.sub_container{
    display: flex;
    justify-content: center;
    align-items: center;

}


.search-data{
    margin-top:200px;
    width: 1028px;
    height: 150px;
    border: 1px solid lightgrey;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.score{
    width: 225px;
}

.search1{
    margin-right: 15px;
}


.input-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
.

#search-box{
    width: 1028px;
    height: 250px;

    flex-direction: row;
}
.region{
    width: 350px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #e3e3e3;
    font-size: 14px;
}


.search-btn{
    margin: 0 auto;
    cursor: pointer;
    background-color: #81BDF1;
    width: 100px;
    font-weight: 600;
    color: lightgrey;


}

.search-init{
    margin: 0 auto;
    cursor: pointer;
    background-color: #81BDF1;
    width: 100px;
    font-weight: 600;
    color: lightgrey;


}

.search1{
    font-size: 14px;
    text-align: center;
    line-height: 30px;
}

.search-btn-box{
margin-top: 20px;
  margin-left: 400px;



}