<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static_Image/common/main/favicon.ico">
    <link rel="stylesheet" href="/css/common/headerFooter.css"/>
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/board/view.css">
</head>
<body>

	<div th:replace="common/header_black.html"></div>

    <div class="board_wrap">
        <div class="board_title">
            <strong>공지사항</strong>
            <p>공지사항을 빠르고 정확하게 안내해드립니다.</p>
        </div>
		<form name="form" id="form" method="" action="">
			<!-- 글의 수정이나 삭제를 할때 필요한 키값(게시판번호)-->
			<input type="hidden" id="boardNo" name="boardNo" th:value="${boardDTO.boardNo}">
	        <div class="board_view_wrap">

	            <div class="board_view">

	                <div class="title"th:text="${boardDTO.boardName}"></div>
	                <div class="info">
	                    <dl>
	                        <dt>분류</dt>
	                        <dd th:text="${boardDTO.categoryName}"></dd>
	                    </dl>
	                    <dl>
	                        <dt>작성자</dt>
	                        <dd th:text="${boardDTO.memberName}"></dd>
	                    </dl>
	                    <dl>
	                        <dt>작성일</dt>
	                        <dd th:text="${boardDTO.boardRegistDate}"></dd>
	                    </dl>
	                    <dl>
	                        <dt>조회</dt>
	                        <dd th:text="${boardDTO.boardViews}"></dd>
	                    </dl>
	                </div>

	                <div class="cont" th:utext="${boardDTO.boardDetail}"></div>

	            </div>
	            <div class="bt_wrap">
	                <a href="/board/notice/list" class="on">목록</a>
	                <!-- 버튼은 나중에 관리자만 가능하도록 권한체크를 해야한다-->
	                <a href="#" id="modBtn" th:if="${memberRole} == '[ROLE_ADMIN]'">수정</a>
	                <a href="#" id="deleteBtn" th:if="${memberRole} == '[ROLE_ADMIN]'">삭제</a>
	            </div>
	        </div>
        </form>
    </div>
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {

			//게시판 수정버튼
            $("#modBtn").on("click", function(){
            	location.href = "/board/notice/write?boardNo="+$('#boardNo').val();
            });

			//게시판 삭제버튼
            $("#deleteBtn").on("click", function(){
                let form = $("#form");
                form.attr("action", "/board/notice/delete");
                form.attr("method", "post");
             	form.submit();
            });
			
		});

	</script>
	<div th:replace="common/footer.html"></div>
</body>
</html>