/*!* 자주하는질문 *!*/



/*ul {*/
/*    display: block;*/
/*    list-style-type: disc;*/
/*    margin-block-start: 1em;*/
/*    margin-block-end: 1em;*/
/*    margin-inline-start: 0px;*/
/*    margin-inline-end: 0px;*/
/*    padding-inline-start: 40px;*/
/*}*/

/*.ys-board {*/
/*    font-weight: 300;*/
/*    font-size: 16px;*/
/*    color: #333;*/
/*}*/

/*li {*/
/*    text-align: -webkit-match-parent;*/
/*}*/

/*.board-faq-list li {*/
/*    position: relative;*/
/*    border-bottom: 1px solid #e7e7e7;*/
/*}*/

/*div, ul, li, a, input, select, form, dl, dt, dd {*/
/*    background: transparent no-repeat;*/
/*    list-style-type: none;*/
/*}*/

/*.board-faq-title {*/
/*    display: table-cell;*/
/*    padding: 19px 20px 19px 15px;*/
/*    box-sizing: border-box;*/
/*}*/

/*a:link, a:visited, a:hover {*/
/*    text-decoration: none;*/
/*}*/

/*.board-faq-answer {*/
/*    display: none;*/
/*    padding: 50px 40px 50px 80px;*/
/*    border-top: 1px solid #e7e7e7;*/
/*    background: #f5f5f5 url(/_res/board/img/board/ico_reply.png) no-repeat 50px 52px;*/
/*    line-height: 1.6em;*/
/*}*/

/*.board-faq-low {*/
/*    display: table;*/
/*    position: relative;*/
/*    padding: 0 60px 0 0;*/
/*    width: 100%;*/
/*    !* background: url(/_res/board/img/board/btn_faq_open.gif) no-repeat right 5% center; *!*/
/*    box-sizing: border-box;*/
/*}*/

/*.board-faq-list a {*/
/*    color: #333;*/
/*}*/


/* 자주하는질문 */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

.board_wrap {
    width: 1000px;
    margin: 120px auto;
}

.board_title {
vertical-align: center;
    margin-bottom: 10px;
}

.board_title strong {
    font-size: 3rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

@media (max-width: 1000px) {
    .board_wrap {
        width: 100%;
        min-width: 320px;
        padding: 0 30px;
        box-sizing: border-box;
    }
}


.accodion p{
    padding: 5px;
    font-size: 1.2rem;
}


input[id*="answer"]{
    display:none;
}
input[id*="answer"] + label {
    display: block;
    padding: 20px;
    border-bottom:1px solid #c1c1ce;
    color: #070707;
    font-weight:900;
    background: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-size: 1.6rem;
}



input[id*="answer"] + label img {
    z-index: 2;
    position: absolute;
    top:50%;
    right:10px;
    width:18px;
    height: 18px;
    margin-top: -8px;
    display: inline-block;
}


input[id*="answer"] + label + div {
    max-height: 0;
    transition: all .35s;
    overflow: hidden;
    background: #ebf8ff;
    font-size: 13px;
}

input[id*="answer"] + label + div p{
    display: inline-block;
    font-size: 15px;
    padding: 20px;
}

input[id*="answer"]:checked + label + div {max-height: 130px;}


input[id*="answer"]:checked + label em{background-position:0 -30px;}


/* FAQ 사이드바 연습용 */



/* 사이드 바 아이콘 */
/* 아이콘 시작 */
.side-bar__icon-box {
    display: flex;
    justify-content: flex-end;
}

.side-bar__icon-1 {
    position: relative;
    width: 23px;
    height: 17px;
    margin: 15px;
    margin-top: 20px;
    transition: .9s;
}

:root {
    --side-bar__icon: .7s;
}
.side-bar__icon-1 > div {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: black;
    transition: all var(--side-bar__icon);
}

.side-bar__icon-1 > div:nth-of-type(1) {
    top: 0;
    width: auto;
    left: 0;
    right: 0;
    transition: all var(--side-bar__icon), left calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2), right calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2), height calc(var(--side-bar__icon) / 2) 0s;
}

.side-bar__icon-1 > div:nth-of-type(2) {
    top: 40%;
    transform-origin:bottom left;
}

.side-bar__icon-1 > div:nth-of-type(3) {
    top: 80%;
    left: auto;
    right: 0;
    transform-origin:bottom right;
}


.side-bar:hover .side-bar__icon-1 {
    transform: translate(-198px, 0);
}

.side-bar:hover .side-bar__icon-1 > div:nth-of-type(2) {
    transform:rotate(45deg);
    width: 70.5%;
    height: 25%;
}

.side-bar:hover .side-bar__icon-1 > div:nth-of-type(3) {
    top: 40%;
    transform:rotate(-45deg);
    width: 70.5%;
    height: 25%;
}

.side-bar:hover .side-bar__icon-1 > div:nth-of-type(1) {
    left: 41%;
    right: 41%;
    height: 100%;
    transition: all var(--side-bar__icon), left calc(var(--side-bar__icon) / 2) 0s, right calc(var(--side-bar__icon) / 2) 0s, height calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2);
}

/* 아이콘 끝 */



/* 노멀라이즈 시작 */
.side-bar body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;   	    /* 해당 태그의 list-style을 none으로 하는 것으로 ●을 제거한다 */
}

.side-bar a {
    color: inherit;   	    /* 부모 엘리먼트의 값을 물려받는다 */
    text-decoration: none;    /* 해당 태그의 text-decoration 속성을 none 값으로 하는 것으로 밑줄을 제거한다 */
}
/* 노멀라이즈 끝 */

/* 2차 이상의 메뉴를 숨기기 */
.side-bar > ul ul {
    display: none;
}

 /*사이트의 높이를 5000px로 만들어 스크롤 생성*/
 body {
  height: 100vh;
  background-color: white;
}

/* 사이드바의 너비와 높이를 변수를 통해 통제 */
:root {
    --side-bar-width: 250px;
    --side-bar-height: 85vh;

}

.side-bar {
    position: absolute;    /* 스크롤을 따라오도록 지정 */
    /*background-color: rgb(250, 246, 246);*/
    background-color: #81BDF1;
    width: var(--side-bar-width);
    min-height: var(--side-bar-height);   /* 사이드바의 높이를 전체 화면 높이의 90%로 지정 */
    /*margin-top: calc((100vh - var(--side-bar-height)) / 2);    !* 사이드바 위와 아래의 마진을 동일하게 지정 *!*/
}

/* 모든 메뉴의 a에 속성값 부여 */
.side-bar ul > li > a {
    display: block;
    /*color: rgb(3, 3, 3);*/
    color: black;
    font-size: 1.7rem;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}

/* 자식의 position이 absolute일 때 자식을 영역 안에 가두어 준다 */
.side-bar > ul > li {
    position: relative;
}

/* 모든 메뉴가 마우스 인식 시 반응 */
.side-bar ul > li:hover > a {
    /*background-color: #adcfdf;*/
    background-color: white;
    border-bottom: 1px solid #c7bebe;
}

/* 1차 메뉴의 항목이 마우스 인식 시에 2차 메뉴 등장 */
.side-bar > ul > li:hover > ul {
    display: block;
    position: absolute;
    background-color: #81BDF1;
    top: 0;         /* 2차 메뉴의 상단을 1차 메뉴의 상단에 고정 */
    left: 100%;     /* 2차 메뉴를 1차 메뉴의 너비만큼 이동 */
    width: 80%;    /* 1차 메뉴의 너비를 상속 */
    border-top-right-radius:20px ;
}

/* 사이드바 타이틀 */



.side-bar__title{
    font-size: 2.5rem;
}


/* 개 이미지 */
.img_dogbox{
    display:inline-block;
    vertical-align:top;
    margin-left: 10px;
}

.img_dogbox img{
    width: 50px;
    height: 40px;
}
/* 사이드 바 타이틀 */

.sdie-bar_title{
    display:inline-block;
}

.side-bar_title_name{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.img_boxing{
    display: flex;
}

/*트랜스폼*/
/* 사이드바 너비의 80%만큼 왼쪽으로 이동 */
.side-bar {
    border-radius: 20px;
    transform: translate(calc(var(--side-bar-width) * -0.8), 0);  /* X축 이동, Y축 고정 */
    transition: .6s;
}

/* 마우스 인식 시 원래의 위치로 이동 */
.side-bar:hover {
    transform: translate(-8px, 0);   /* 둥근 모서리의 너비만큼 X축 이동, Y축 고정 */
}