/* 자주하는질문 */



ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.ys-board {
    font-weight: 300;
    font-size: 16px;
    color: #333;
}

li {
    text-align: -webkit-match-parent;
}

.board-faq-list li {
    position: relative;
    border-bottom: 1px solid #e7e7e7;
}

div, ul, li, a, input, select, form, dl, dt, dd {
    background: transparent no-repeat;
    list-style-type: none;
}

.board-faq-title {
    display: table-cell;
    padding: 19px 20px 19px 15px;
    box-sizing: border-box;
}

a:link, a:visited, a:hover {
    text-decoration: none;
}

.board-faq-answer {
    display: none;
    padding: 50px 40px 50px 80px;
    border-top: 1px solid #e7e7e7;
    background: #f5f5f5 url(/_res/board/img/board/ico_reply.png) no-repeat 50px 52px;
    line-height: 1.6em;
}

.board-faq-low {
    display: table;
    position: relative;
    padding: 0 60px 0 0;
    width: 100%;
    /* background: url(/_res/board/img/board/btn_faq_open.gif) no-repeat right 5% center; */
    box-sizing: border-box;
}

.board-faq-list a {
    color: #333;
}