* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

.menu {
    width: 100%;
    display: flex;
    font-weight: bold;
}
.menu-item {
    flex: 1;
    text-align: center;
    color: rgb(186, 184, 184);
    font-size: 18px;
    padding: 5px;
    border: 0.5px solid rgb(224, 223, 223);
}
.menu-item2 {
    flex: 1;
    text-align: center;
    color: rgb(186, 184, 184);
    font-size: 18px;
    padding: 5px;
    border: 0.5px solid rgb(224, 223, 223);
    border-top: none;
}

.contents {
    margin: 100px 385px;
}

.page-title {
    font-size: 28px;
    font-weight: bold;
}

table {
    width: 100%;
}

.board table {
    width: 100%;
    border-collapse: collapse;
}
.board table th,
.board table td {
    border-bottom: 1px dotted #ccc;
    padding: 20px;
    text-align: center;
}
.sec1 {
    width: 15%;
}
.sec2 {
    width: 55%;
}
.sec1 {
    width: 15%;
}
.sec1 {
    width: 15%;
}

.search-el {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.search-el-wrap2 {
    align-items: center;
    display: flex;
}
#search-img {
    border: 1px solid black;
}
/* 페이지네이션 스타일 */
.pagination {
    text-align: center;
    margin-top: 20px;
}
.pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-decoration: none;
}

/* 글작성 버튼 */
.save_button{
    text-align: end;
    margin-right: 60px;
}

