* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}



/*이용약관*/

.useful_wrap {
    /*width: 1200px;*/
    margin: 60px auto;
    text-align:center;
    display:table;
    /*border:1px solid #cecece;*/

}

.useful_title {
    margin-top: 40px;
}

.useful_title strong {
    font-size: 3rem;
}

.useful_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.useful_view_wrap {
    text-align: center;
    padding: 30px;
    border-radius: 5px;
    font-size: 14px;
    color: #666;
    line-height: 80px;
    font-family: 'Nanum Gothic','Nanum Square',sans-serif;
    font-weight: 400;
    letter-spacing: -0.5px;

}

h2{
    text-align: center;
}

/* FAQ 사이드바 연습용 */


/* 노멀라이즈 시작 */
.side-bar body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;   	    /* 해당 태그의 list-style을 none으로 하는 것으로 ●을 제거한다 */
}

.side-bar a {
    color: inherit;   	    /* 부모 엘리먼트의 값을 물려받는다 */
    text-decoration: none;    /* 해당 태그의 text-decoration 속성을 none 값으로 하는 것으로 밑줄을 제거한다 */
}
/* 노멀라이즈 끝 */

/* 2차 이상의 메뉴를 숨기기 */
.side-bar > ul ul {
    display: none;
}



/* 사이트의 높이를 5000px로 만들어 스크롤 생성 */
/* body {
  height: 1000px;
  background-color: white;
} */

/* 사이드바의 너비와 높이를 변수를 통해 통제 */
/*:root {*/
/*    --side-bar-width: 200px;*/
/*    --side-bar-height: 95vh;*/
/*}*/

/*.side-bar {*/
/*    position: fixed;    !* 스크롤을 따라오도록 지정 *!*/
/*    background-color: rgb(250, 246, 246);*/
/*    width: var(--side-bar-width);*/
/*    min-height: var(--side-bar-height);   !* 사이드바의 높이를 전체 화면 높이의 90%로 지정 *!*/
/*    margin-top: calc((100vh - var(--side-bar-height)) / 2);    !* 사이드바 위와 아래의 마진을 동일하게 지정 *!*/
/*}*/

/*!* 모든 메뉴의 a에 속성값 부여 *!*/
/*.side-bar ul > li > a {*/
/*    display: block;*/
/*    color: rgb(3, 3, 3);*/
/*    font-size: 1.4rem;*/
/*    font-weight: bold;*/
/*    padding-top: 20px;*/
/*    padding-bottom: 20px;*/
/*    padding-left: 50px;*/
/*}*/

/*!* 자식의 position이 absolute일 때 자식을 영역 안에 가두어 준다 *!*/
/*.side-bar > ul > li {*/
/*    position: relative;*/
/*}*/

/*!* 모든 메뉴가 마우스 인식 시 반응 *!*/
/*.side-bar ul > li:hover > a {*/
/*    background-color: #adcfdf;*/
/*    border-bottom: 1px solid #c7bebe;*/
/*}*/

/*!* 1차 메뉴의 항목이 마우스 인식 시에 2차 메뉴 등장 *!*/
/*.side-bar > ul > li:hover > ul {*/
/*    display: block;*/
/*    position: absolute;*/
/*    background-color: #81BDF1;*/
/*    top: 0;         !* 2차 메뉴의 상단을 1차 메뉴의 상단에 고정 *!*/
/*    left: 100%;     !* 2차 메뉴를 1차 메뉴의 너비만큼 이동 *!*/
/*    width: 100%;    !* 1차 메뉴의 너비를 상속 *!*/
/*}*/

/*!* 사이드바 타이틀 *!*/



/*.side-bar__title{*/
/*    font-size: 2.5rem;*/
/*}*/



/*사이드바 넣기 */

/* 사이드 바 아이콘 */
/* 아이콘 시작 */
.side-bar__icon-box {
    display: flex;
    justify-content: flex-end;
}

.side-bar__icon-1 {
    position: relative;
    width: 23px;
    height: 17px;
    margin: 15px;
    margin-top: 20px;
    transition: .9s;
}

:root {
    --side-bar__icon: .7s;
}
.side-bar__icon-1 > div {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: black;
    transition: all var(--side-bar__icon);
}

.side-bar__icon-1 > div:nth-of-type(1) {
    top: 0;
    width: auto;
    left: 0;
    right: 0;
    transition: all var(--side-bar__icon), left calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2), right calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2), height calc(var(--side-bar__icon) / 2) 0s;
}

.side-bar__icon-1 > div:nth-of-type(2) {
    top: 40%;
    transform-origin:bottom left;
}

.side-bar__icon-1 > div:nth-of-type(3) {
    top: 80%;
    left: auto;
    right: 0;
    transform-origin:bottom right;
}


.side-bar:hover .side-bar__icon-1 {
    transform: translate(-198px, 0);
}

.side-bar:hover .side-bar__icon-1 > div:nth-of-type(2) {
    transform:rotate(45deg);
    width: 70.5%;
    height: 25%;
}

.side-bar:hover .side-bar__icon-1 > div:nth-of-type(3) {
    top: 40%;
    transform:rotate(-45deg);
    width: 70.5%;
    height: 25%;
}

.side-bar:hover .side-bar__icon-1 > div:nth-of-type(1) {
    left: 41%;
    right: 41%;
    height: 100%;
    transition: all var(--side-bar__icon), left calc(var(--side-bar__icon) / 2) 0s, right calc(var(--side-bar__icon) / 2) 0s, height calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2);
}

/* 아이콘 끝 */



/* 노멀라이즈 시작 */
.side-bar body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;   	    /* 해당 태그의 list-style을 none으로 하는 것으로 ●을 제거한다 */
}

.side-bar a {
    color: inherit;   	    /* 부모 엘리먼트의 값을 물려받는다 */
    text-decoration: none;    /* 해당 태그의 text-decoration 속성을 none 값으로 하는 것으로 밑줄을 제거한다 */
}
/* 노멀라이즈 끝 */

/* 2차 이상의 메뉴를 숨기기 */
.side-bar > ul ul {
    display: none;
}

/*사이트의 높이를 5000px로 만들어 스크롤 생성*/
body {
    margin-top: 100px;
}

/* 사이드바의 너비와 높이를 변수를 통해 통제 */
:root {

    --side-bar-width: 250px;
    --side-bar-height: 95vh;

}

.side-bar {
    position: absolute;    /* 스크롤을 따라오도록 지정 */
    /*background-color: rgb(250, 246, 246);*/
    background-color: #81BDF1;
    width: var(--side-bar-width);
    min-height: var(--side-bar-height);
    /* 사이드바의 높이를 전체 화면 높이의 90%로 지정 */
    /*margin-top: calc((100vh - var(--side-bar-height)) / 2);    !* 사이드바 위와 아래의 마진을 동일하게 지정 *!*/
}

/* 모든 메뉴의 a에 속성값 부여 */
.side-bar ul > li > a {
    display: block;
    /*color: rgb(3, 3, 3);*/
    color: black;
    font-size: 1.7rem;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}

/* 자식의 position이 absolute일 때 자식을 영역 안에 가두어 준다 */
.side-bar > ul > li {
    position: relative;
}

/* 모든 메뉴가 마우스 인식 시 반응 */
.side-bar ul > li:hover > a {
    /*background-color: #adcfdf;*/
    background-color: white;
    border-bottom: 1px solid #c7bebe;
}

/* 1차 메뉴의 항목이 마우스 인식 시에 2차 메뉴 등장 */
.side-bar > ul > li:hover > ul {
    display: block;
    position: absolute;
    background-color: #81BDF1;
    top: 0;         /* 2차 메뉴의 상단을 1차 메뉴의 상단에 고정 */
    left: 100%;     /* 2차 메뉴를 1차 메뉴의 너비만큼 이동 */
    width: 80%;    /* 1차 메뉴의 너비를 상속 */
    border-top-right-radius:20px ;
}

/* 사이드바 타이틀 */



.side-bar__title{
    font-size: 2.5rem;
}


/* 개 이미지 */
.img_dogbox{
    display:inline-block;
    vertical-align:top;
    margin-left: 10px;
}

.img_dogbox img{
    width: 50px;
    height: 40px;
}
/* 사이드 바 타이틀 */

.sdie-bar_title{
    display:inline-block;
}

.side-bar_title_name{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.img_boxing{
    display: flex;
}

.img_boxing_petmily{

    vertical-align:middle;
}

.img_petimily{
    max-width:100vh;
    max-height:500px;
}

/*카카오톡 api*/
.img_boxing_petmily_kakao{

    vertical-align:middle;
    background-image: url("static/static_Image/board/petmily-service3.png");
    display: inline-flex;
    align-items: center;
    flex-direction: row-reverse;
}

/*트랜스폼*/
/* 사이드바 너비의 80%만큼 왼쪽으로 이동 */
.side-bar {
    border-radius: 20px;
    transform: translate(calc(var(--side-bar-width) * -0.8), 0);  /* X축 이동, Y축 고정 */
    transition: .6s;
    margin-top: 40px;
}

/* 마우스 인식 시 원래의 위치로 이동 */
.side-bar:hover {
    transform: translate(-8px, 0);   /* 둥근 모서리의 너비만큼 X축 이동, Y축 고정 */
}



