@charset "UTF-8";


#header_bar {
    height: 48px;
    background-color: #81BDF1;
}

#bar {
    display: flex;
}

.bar_info {
    width: 70px;
    height: 32px;
    margin-top: 16px;
    font-size: 13px;
}

#bar_member {
    background-color: white;
    position: absolute;
    margin-left: 1530px;
}

#bar_sitter {
    background-color: #FFDD69;
    margin-left: 1600px;
}

.main_container {
    display:block;
    border: 1px solid;
    max-width: 800px;
    margin: 0% auto;
    margin-top: 100px;
    padding: 10px 10px 0px 10px;
    border-radius: 2%;
    border-color:rgb(245, 245, 245);
}

.dog_pic_page {
    border: 4px solid;
    border-color: #81BDF1;;
    display: flex;
    border-radius: 10px;
}

#dog_pic {
    border: 2px solid;
    border-color: #81BDF1;
    width: 148px;
    height: 148px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 12px;
    margin-bottom: 10px;

}

#dog_profile {
    padding-left: 40px;
    padding-right: 60px;
    margin-right: 0;
}

#pet_regist {
    margin-left: 335px;
    margin-top: 125px;
    width: 55px;
    height: 28px;
    border: 0;
    border-radius: 5px;
    background-color:#81BDF1;
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.pet_name {
    font-size: 18px;
    font-weight: 700;
}

.pet_info {
    font-size: 14px;
    font-weight: 600;
}


/* 펫 프로필 아래 */

#my_info {
    margin-left: 290px;
}

#like_sitter {
    margin-left: 338px;
}

#past_res {
    margin-left: 310px;
}

#one_contact {
    margin-left: 349px;
}

.sub_container {
    margin-left: 5px;
}

/* 부제 */
.sub_info_text {
    font-size: 18px;
    font-weight: bold;
    color: rgb(29, 29, 29);
}

.sub2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-left: 5px;
    color: rgb(75, 75, 75);
}

.hr {
    height: 1px;
    background-color: rgb(202, 202, 202);
    border: 0;
    width: 790px;
}
