@charset "UTF-8";

body {
    margin-top: 90px;
    font-family: 'Noto Sans Korean';
}


/* 전체 마진 */
.member_pet_container {
    display: flex;
    margin-top: 140px;
    margin-left: 200px;
}


/* 헤더 */
#header_bar {
    height: 48px;
    background-color: #81BDF1;
}

#bar {
    display: flex;
}

.bar_info {
    width: 70px;
    height: 32px;
    margin-top: 16px;
    font-size: 11px;
}

/* 사용자 */
#bar_member {
    background-color: white;
    position: absolute;
    margin-left: 1330px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#member, #sitter {
    margin-top: 10px;
    margin-left: 18px;
    font-weight: 600;
}

/* 펫시터 */
#bar_sitter {
    background-color: #FFDD69;
    margin-left: 1400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.main_container {
    display:block;
    border: 1px solid;
    max-width: 800px;
    margin: 0% auto;
    margin-left: 20px;
    margin-bottom: 100px;
    border-radius: 2%;
    border-color:rgb(245, 245, 245);
}

#dog_pic_box {
    border: 4px solid;
    border-color: #81BDF1;
    display: flex;
    border-radius: 10px;
    width: 600px;

}

#dog_pic img {
    border: 2px solid;
    border-color: #81BDF1;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 5px 10px;

}


#dog_profile {
    margin: auto;
    width: 45%;
}


/* 등록 버튼 */
#pet_regist {
    margin: 125px 20px 0px;
    width: 55px;
    height: 28px;
    border: 0;
    border-radius: 3px;
    background-color:#81BDF1;
    color: white;
    font-size: 13px;
    font-weight: 00;
}

.pet_name {
    font-size: 18px;

}

.pet_info {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;

}


/* 펫 프로필 아래 */
.sub_container {
    margin-left: 360px;
    margin-top: -60px;
}


#my_info {
    margin-left: 230px;
}

#one_contact {
    margin-left: 275px;
}

#res_ing {
    margin-top: 5px;
    margin-left: 252px;
}

#pay_history{
    margin-top: 15px;
    margin-left: 272px;
}



/* 부제 */
.sub_info_text {
    font-size: 18px;
    font-weight: bold;
    color: rgb(29, 29, 29);
    margin-bottom: 10px;
    margin-top: -5px;
}

/* 작은 박스 폰트 등 기타 설정 */
.sub2 {
    font-size: 14px;
    margin-bottom: 15px;
    margin-left: 5px;
    color: rgb(75, 75, 75);
}

.hr {
    height: 1px;
    background-color: rgb(202, 202, 202);
    border: 0;
    width: 590px;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* 이동하는 작은 버튼들 */
.sub_button {
    margin-top: 15px;
    font-weight: 500;
}

#member_profile {
    margin-top: 80px;
    margin-right: 30px;
}

#member_thumbnail {
    width: 100px;
    height: 100px;
    background-color: #d3d3d3;
    border-radius: 50%;
}

#member_hr {
    margin-top: 15px;
    margin-bottom: 10px;
}


#box {
    margin-left: 320px;
    margin-bottom: 300px
}

#nickName {
    margin-left: 28px;
    font-size: 14px;
}