@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

/* 전체 가운데 정렬 */
.con_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 400px;
    margin: 0% auto;

}


/* 폰트 */
.style_container {
    font-family: 'Noto Sans KR', sans-serif,  'Roboto', sans-serif;

}


/* input 칸 길이 설정 */
#email {
    width: 300px;
    height: 33px;
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 1px 0.5px #bebebe;
    /*border-radius: 5px;*/
}

#name, #password, #password2 {
    width: 300px;
    height: 33px;
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 1px 0.5px #bebebe;
    /*border-radius: 5px;*/
}

#nickName {
    width: 227px;
    height: 33px;
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 1px 0.5px #bebebe;
    /*border-radius: 5px;*/
}

#phone {
    width: 300px;
    height: 33px;
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 1px 0.5px #bebebe;
    /*border-radius: 5px;*/
}

#zipcode {
    width: 197px;
    height: 33px;
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 1px 0.5px #bebebe;
    /*border-radius: 5px;*/
    margin-bottom: 5px;
}

#address1, #address2 {
    width: 300px;
    height: 33px;
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 1px 0.5px #bebebe;
    /*border-radius: 5px;*/
    margin-bottom: 5px;
}

#duplicationCheck {
    width: 70px;
    height: 33px;
    font-size: 12px;
    color: #535353;
    font-weight: 600;
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 1px 0.5px #bebebe;
    /*border-radius: 5px;*/
}

#authenticationNumber {
    width: 100px;
    height: 33px;
    font-size: 12px;
    color: #535353;
    font-weight: 600;
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 1px 0.5px #bebebe;
    /*border-radius: 5px;*/
}

#searchZipCode {
    width: 100px;
    height: 30px;
    font-size: 12px;
    color: #535353;
    font-weight: 600;
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 1px 0.5px #bebebe;
    /*border-radius: 5px;*/
}


#gender-label {
    margin-right: 100px;
}

/* 폰트 사이즈 */
.checkbox_group {
    font-size: 15px;
}

::placeholder {
    font-size: 11.5px;
    color: #535353;
}



#gender-row {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.gender-fe {
    margin-left: 80px;
}


.regist_button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 310px;
    margin: 0% auto;
    padding-right: 20px;
}

#regist_button {
    width: 460px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    padding-right: 7px;
    background-color: #81BDF1;
    color: white;

}


.notice1 {
    font-size: 12px;
    margin-top: 5px;
}

#nickname {
    margin-bottom: 20px;
}

.a_text {
    padding-left: 10px;
}

#aa_text {
    margin-left: 30px;
}

.container {
    padding-bottom: 15px;
}