@charset "UTF-8";


/* 전체 가운데 정렬 */
.con_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    max-width: 350px;
    margin: 0% auto;
}


/* 폰트 */
.style_container {
    font-family: 'Noto Sans KR', sans-serif,  'Roboto', sans-serif;
}


/* input 칸 길이 설정 */
#memberEmail {
    width: 90px;
    height: 30px;
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 1px 0.5px #bebebe;
    border-radius: 5px;
    margin-bottom: 10px;
}

#memberEmail2 {
    width: 150px;
    height: 30px;
}

#memberName, #memberPassword, #memberPassword2 {
    width: 300px;
    height: 30px;
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 1px 0.5px #bebebe;
    border-radius: 5px;
}

#memberNickName {
    width: 227px;
    height: 30px;
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 1px 0.5px #bebebe;
    border-radius: 5px;
}

#memberPhone {
    width: 197px;
    height: 30px;
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 1px 0.5px #bebebe;
    border-radius: 5px;
}

#zipCode {
    width: 197px;
    height: 30px;
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 1px 0.5px #bebebe;
    border-radius: 5px;
    margin-bottom: 5px;
}

#address1, #address2 {
    width: 300px;
    height: 30px;
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 1px 0.5px #bebebe;
    border-radius: 5px;
    margin-bottom: 5px;
}

#duplicationCheck {
    width: 70px;
    padding-bottom: 2px;
    height: 33px;
    font-size: 11px;
    color: #535353;
    font-weight: 600;
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 1px 0.5px #bebebe;
    border-radius: 5px;
}

#authenticationNumber {
    width: 100px;
    height: 33px;
    font-size: 11px;
    color: #535353;
    font-weight: 600;
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 1px 0.5px #bebebe;
    border-radius: 5px;
}

#searchZipCode {
    width: 100px;
    padding-bottom: 2px;
    height: 33px;
    font-size: 11px;
    color: #535353;
    font-weight: 600;
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 1px 0.5px #bebebe;
    border-radius: 5px;
}



.gender-label {
    margin-right: 100px;
}



/* 폰트 사이즈 */
.notice1, .marketingCell {
    font-size: 11px;
}

.checkbox_group {
    font-size: 13px;
}

.atsign {
    font-size: 10px;
}

::placeholder {
    font-size: 11.5px;
    color: #535353;
}
/* 전체 간격 */
div {
    padding-top: 5px;
}

.gender-row {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.gender-fe {
    margin-left: 80px;
}


/* 이메일 셀렉트 박스 */
select.box {
    width: 100px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #d9d6d6;
    box-shadow: 1px 1px 1px 0.5px #bebebe;
    color: #383838;
    background-color: #ffffff;
}

option {
    font-size: 16px;
}

.info .box#domain-list option {
    font-size: 14px;
    background-color: #ffffff;
}

#domain-txt {
    width: 80px;
    height: 30px;
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 1px 0.5px #bebebe;
    border-radius: 5px;
}

.container_name {
    margin-top: 90px;
}


.regist_button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 0% auto;

}