

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}

.main_text {
    padding-bottom: 20px;
    font-size: 23px;
    font-weight: 600;
}

.text {
    font-size: 15px;
    padding-bottom: 15px;
    font-weight: 500;
}


.updateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}


.input {
    width: 150px;
    height: 20px;
    background-color: rgb(232, 232, 232);
    border-radius: 5px;
    border: 0;
}

#modifyPassword {
    border: 0;
    width: 70px;
    height: 27px;
    background-color: #81BDF1;
    color: aliceblue;
    border-radius: 5px;
    margin-top: 30px;
}

#password, #updatePassword1, #updatePassword2 {
    margin-bottom: 10px;
}


#input_container {
    border: 1px solid;
}

#hr1 {
    margin-bottom: 50px;
    width: 300px;
}

#hr2 {
    margin-top: 50px;
}

.input_1 {
    border: 1px;

}